{# Apatine puslapio raudona juosta su nuorodomis #}
<div class="site-footer">
    <div class="site-block clearfix footer-top">
        <div class="col col-1">
            <h5>{% trans %}general.page_name{% endtrans %}</h5>
            <ul class="menu">
                {% for page in staticPages %}
                    <li>
                        <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(page.id, 'text')}) }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{{ path('food_landing_b2b_client_' ~ locale) }}">
                        {% trans %}general.b2b_clients{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
        {# TODO Kolkas neturime tiek nuorodu #}
        {#<div class="col col-2">#}
            {#<h5>Daugiau nuorodu</h5>#}
            {#<ul class="menu">#}
                {#<li><a href="#">About us</a></li>#}
                {#<li><a href="#">Terms and Conditions</a></li>#}
                {#<li><a href="#">Contact</a></li>#}
                {#<li><a href="#">About us</a></li>#}
                {#<li><a href="#">Privacy Policy</a></li>#}
            {#</ul>#}
        {#</div>#}
        {% if topRatedPlaces is not empty %}
        <div class="col col-3">
            <h5>{% trans %}general.top_restaurants{% endtrans %}</h5>
            <div class="clearfix">
                <div class="small-col fl rating-col">
                    {% for place in topRatedPlaces %}
                        {% if  (loop.index % 2) %}
                            <div class="clearfix">
                                <span class="name fl">
                                    <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place')}) }}">
                                        {{ place.name }}
                                    </a>
                                </span>
                                <div data-stars="{{ place.averageRating }}" class="restoran-rating fr"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="small-col fr rating-col">
                    {% for place in topRatedPlaces %}
                        {% if not (loop.index % 2) %}
                            <div class="clearfix">
                                <span class="name fl">
                                    <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place')}) }}">
                                        {{ place.name }}
                                    </a>
                                </span>
                                <div data-stars="{{ place.averageRating }}" class="restoran-rating fr"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endif %}
        <div class="col col-4">
            {#
            <img alt="{{ page_title }}" src="{{ asset('bundles/foodapp/images/logo_food_small.png') }}" />
            <p class="copyrights">&copy; foodout.lt</p>
            #}
            {% if show_is_social %}
            <h5>{% trans %}general.footer.social{% endtrans %}</h5>
            <div class="bottom-social clerafix">
                {% if site_country == 'LT' %}
                    <a href="https://www.facebook.com/foodout.lt" target="_blank"><img src="http://{{ cloudfront_url }}/bundles/foodapp/images/fb-ico.png"></a>
                    {# <a href="#"><img src="/bundles/foodapp/images/gp-ico.png"></a>#}
                    <a href="http://www.youtube.com/channel/UC64X-gVnB2NXg1MeYx2oljw" target="_BLANK"><img src="http://{{ cloudfront_url }}/bundles/foodapp/images/yt-ico.png"></a></div>
                {% elseif site_country == 'LV' %}
                    <a href="https://twitter.com/LvFoodout" target="_blank"><img src="http://{{ cloudfront_url }}/bundles/foodapp/images/tw-ico.png"></a>
                    <a href="https://www.facebook.com/foodout.lv" target="_blank"><img src="http://{{ cloudfront_url }}/bundles/foodapp/images/fb-ico.png"></a>
                    {# <a href="#"><img src="/bundles/foodapp/images/gp-ico.png"></a>#}
                    <a href="https://www.youtube.com/channel/UCg5hgGVUwdmrmRe9zGwJjHA" target="_BLANK"><img src="http://{{ cloudfront_url }}/bundles/foodapp/images/yt-ico.png"></a></div>
                {% endif %}
            {% endif %}
            <p class="copyrights tar">&copy; {{ publicdomain }}</p>
        </div>
    </div>
</div>
