{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.base_page_title{% endtrans %} | {{ page_title }}{% endblock %}
{% block seo_description %}{% trans %}general.base_page_description{% endtrans %}{% endblock %}

{% block delfi_js %}
    {{ misc_utils.param('delfiJs', true)|raw }}
{% endblock %}

{% block delfi_banner %}
    {{ misc_utils.param('delfiBanner', true)|raw }}
{% endblock %}

{% block body %}
    {# image randomization according to country #}

    <div style="background-image: url(//{{ cloudfront_url }}{{ asset('bundles/foodapp/images/title_offer/offer-'~site_country|lower~'-'~random(['2', '3', '4', '5', '6', '9', '10', '14'])~'.jpg') }});" class="site-header special-offer-block">

        <div class="site-block address-search-form">
            <div class="address-search-form-content">
                <h1 class="no-wrap">{% trans %}index.title_page_header{% endtrans %}</h1>
                <form class="search-food-form address-search-form-ui"  action="#" method="get">
                    <div class="marker-icon"></div>

                    <p class="title">{% trans %}index.search_form_qlue{% endtrans %}</p>
                    <div class="flex-aligment">
                        <input type="text" {% if location is not null and location.precision == 0 and location.id is defined %}data-selected="{{ location.id }}"{% endif %} id="address_autocomplete" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'autocomplete-address'}) }}" placeholder="{% trans %}index.street{% endtrans %}" class="input-street search-field" autocomplete="off" value="{% if location is not null %}{{ location.output }}{% endif %}" />
                        <button class="submit" id="submit" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'check-address'}) }}"><img src="{{ asset('bundles/foodapp/images/btn-search-icon.png') }}"  img-loader="{{ asset('bundles/foodapp/images/preloader.gif') }}"/></button>
                        <span id="find-me" class="find-me" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'get-address-by-location'}) }}"></span>
                    </div>
                    <div class="clearfix"></div>
                    <div id="error"></div>
                </form>
            </div>
        </div>
        <p class="img-description">{# pavadinimas produkto, vietove, kaina #}</p>
    </div>
    <div class="site-center">
        <div class="site-block">
            {{ render(controller('FoodPlacesBundle:Widget:recommended')) }}
        </div>
        {% if show_game %}
            <div class="site-block banner">
                <ins data-revive-zoneid="{{ misc_utils.getParam('game_revive_zone_id') }}" data-revive-id="12b88dd43b1c40010eb436263abc6451"></ins>
                <script async src="//ads.foodout.lt/delivery/asyncjs.php"></script>
            </div>
        {% endif %}

        {% if show_best_offers %}
            <div class="site-block">
                {{ render(controller('FoodPlacesBundle:Widget:bestOffers')) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
