{% extends 'FoodAppBundle::layout.html.twig' %}


    {% block jscode %}
        $(document).ready(function(){
            $('#index_city').selectmenu();

            var addrXhr = null;
            var addrResponse = {};
            var waitIntervals = null;
            var currentTime = null;
            var closeBtnTxt = '{% trans %}general.close_btn{% endtrans %}';


            function getCrds() {
                if (addrXhr != null) {
                    addrXhr.abort();
                }
                addrXhr = $.ajax({
                    type: 'GET',
                    url: '{{ path('food_ajax', {'action': 'find-address'}) }}',
                    data:  {
                        city: $('#index_city').val(),
                        address: $('#index_address').val() + ' ' + $('#index_house').val()
                    },
                    success:  function(resp){
                        if (resp.data.success == 1) {
                            $('.search-food-form').trigger('submit');
                        } else {
                            var dialogOpts = {
                                modal: true,
                                resizable: false,
                                buttons: {
                                    'close': {
                                        'text': closeBtnTxt,
                                        'click': function() {
                                            $(this).dialog('close');
                                        }
                                    }
                                }
                            };
                            $("<div>"+resp.data.message+"</div>").dialog(dialogOpts).siblings('.ui-dialog-titlebar').remove();
                        }
                    }
                });
            }

            $('#index_submit').click(function(e){
                if ($('#index_city').val() !="" && $('#index_city').val() != null && $('#index_address').val()=="") {
                    var url = '{{ path('food_places_lt_main') }}' + $('#index_city').val();
                    window.location.href = url;
                } else {
                    getCrds();
                }
                e.stopPropagation();
                e.preventDefault();
            });

            function waitForState() {
                if (waitIntervals < 20) {
                    if (addrXhr.readyState == 4) {
                        //$('.search-food-form').trigger('submit');
                    } else {
                        waitIntervals++;
                        setTimeout(function() { waitForState(); }, 1000);
                    }
                }
            }
            $('#index_city').change(function(){
                $(this).next('span').find('a').find('span:first').addClass('nodisabled');

            });
        });
        initStreetSearch();
        initStreetHouseSearch();
    {% endblock %}

{% block title %}{{ page_title }} - {% trans %}general.homepage.meta_title{% endtrans %}{% endblock %}

{% block body %}

    <div style="background-image: url(http://{{ cloudfront_url }}{{ asset('bundles/foodapp/images/offer-1.jpg') }});" class="site-header special-offer-block">
        <div class="site-block">
            <h1>{% trans %}index.title_page_header{% endtrans %}</h1>
            <form class="search-food-form"  action="{{ path('food_places_' ~ locale ~ '_main') }}" method="get">
                <p class="title">{% trans %}index.search_form_qlue{% endtrans %}</p>
                <div class="clearfix">
                    {# TODO remove city hardcode, damn it... #}
                    <select id="index_city">
                        <option value="" disabled {% if formDefaults.city == '' %}selected{% endif %}>{% trans %}index.city{% endtrans %}</option>
                        {% for city in available_cities %}
                            <option value="{{ city }}" {% if formDefaults.city == city or formDefaults.city == city|replace({'ė':'e','y':'ī'}) %}selected{% endif %}>{{ city }}</option>
                        {% endfor %}
                    </select>

                    {# <input type="text" id="index_city" placeholder="{% trans %}index.city{% endtrans %}"  autocomplete="off" > #}
                    <input type="text" id="index_address" placeholder="{% trans %}index.street{% endtrans %}" class="input-street" autocomplete="off" value="{{ formDefaults.address }}" />
                    <input type="text" id="index_house" placeholder="{% trans %}index.house{% endtrans %}" class="input-house" autocomplete="off" value="{{ formDefaults.house }}" />
                    <input type="submit" id="index_submit" value="{% trans %}index.findfood{% endtrans %}" />
                </div>
            </form>
        </div>
        <p class="img-description">{# pavadinimas produkto, vietove, kaina #}</p>
    </div>
    <div class="site-center">
        {% if show_best_offers %}
            <div class="site-block">
                {{ render(controller('FoodPlacesBundle:Default:bestOffers')) }}
            </div>
        {% endif %}
        <div class="site-block">
            {{ render(controller('FoodPlacesBundle:Default:recommended')) }}
        </div>
    </div>
{% endblock %}
