{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.base_page_title{% endtrans %} | {{ page_title }}{% endblock %}
{% block seo_description %}{% trans %}general.base_page_description{% endtrans %}{% endblock %}

{% block delfi_js %}
    {{ misc_utils.param('delfiJs', true)|raw }}
{% endblock %}

{% block delfi_banner %}
    {{ misc_utils.param('delfiBanner', true)|raw }}
{% endblock %}

{% block body %}
    {# image randomization according to country #}

    <script type="text/javascript">
        $(document).ready(function(){
            if(typeof $('#address_autocomplete').data("selected") == "undefined") {
                $('#find-me').trigger('click');
            }
        });
    </script>
    {% if location and site_country == 'LT' %}
        <div class="badge-container">
            <a id="badge-link" onclick="badgeFunction(this)" data-url = "{{ slug.generateURL('food_ajax_request', {'action' : 'check-address'}) }}" data-code = "{{ location.id }}" href="javascript:void(0)"><img src="{{ asset('/bundles/foodapp/images/badge.png')}}"></a>
        </div>
    {% endif %}

    <div style="background-image: url(//{{ cloudfront_url }}{{ asset('bundles/foodapp/images/title_offer/offer-'~site_country|lower~'-'~random(['2', '3', '4', '5', '6', '9', '10', '14'])~'.jpg') }});" class="site-header special-offer-block">

        <div class="site-block address-search-form">
            <div class="address-search-form-content">
                <h1 class="no-wrap">{% trans %}index.title_page_header{% endtrans %}</h1>
                <form class="search-food-form address-search-form-ui"  action="#" method="get">
                    <div class="marker-icon"></div>

                    <p class="title">{% trans %}index.search_form_qlue{% endtrans %}</p>
                    <div class="flex-aligment">
                        <div style="display: inline-flex; position:relative;">
                            <input
                                    style="width: 400px;"
                                    type="text" {% if location is not null and location.precision == 0 and location.id is defined %}data-selected="{{ location.id }}"{% endif %}
                                    id="address_autocomplete"
                                    data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'autocomplete-address'}) }}"
                                    placeholder="{% trans %}index.street{% endtrans %}"
                                    class="input-street search-field"
                                    autocomplete="off" value="{% if location is not null and location.output is defined %}{{ location.output }}{% endif %}" />
                            <span id="find-me" data-error-no-service="{% trans %}error.no.service.available{% endtrans %}" data-error-accuracy-to-big="{% trans %}error.accuracy.to.big{% endtrans %}" class="find-me" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'get-address-by-location'}) }}"></span>
                        </div>
                        <div class="hidden">
                            <div class="modal-map-div" STYLE="width: 800px;">
                                <h1 class="text-center" style="font-weight: 800;">{% trans %}modal.map.title.text{% endtrans %}</h1>
                                <div id="mapError"></div>
                                <input id="address_autocomplete_modal" readonly="readonly" type="text"/>
                                <div id="map" style="width: 800px; height: 500px;"></div>
                                <button id="confirmMapPoint" class="hidden" type="button">{% trans %}button.continue{% endtrans %}</button>
                                <p>{% trans %}modal.map.text.bottom{% endtrans %}</p>
                            </div>
                        </div>
                        <button class="submit" id="submit" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'check-address'}) }}"><img src="{{ asset('bundles/foodapp/images/btn-search-icon.png') }}"  img-loader="{{ asset('bundles/foodapp/images/preloader.gif') }}"/></button>
                        <button class="submit do-pickup" title="{% trans %}label.pickup{% endtrans %}" id="do-pickup" data-url="{{ slug.generateURL('food_ajax_request', {'action' : 'delivery-type'}) }}"><img src="{{ asset('bundles/foodapp/images/go-pickup.png') }}"  img-loader="{{ asset('bundles/foodapp/images/preloader.gif') }}"/><br/>{% trans %}label.pickup{% endtrans %}</button>
                    </div>
                    <div class="clearfix"></div>
                    <div id="error"></div>
                </form>
            </div>
        </div>
        <p class="img-description">{# pavadinimas produkto, vietove, kaina #}</p>
    </div>
    <div class="site-center">
        <div class="site-block">
            {{ render(controller('FoodPlacesBundle:Widget:recommended')) }}
        </div>
        {% if show_game %}
            <div class="site-block banner">
                <iframe id='a7178164' name='a7178164' src='//ads.foodout.lt/delivery/afr.php?zoneid={{ misc_utils.getParam('game_revive_zone_id') }}&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='900' height='300'><a href='//ads.foodout.lt/delivery/ck.php?n=a378844f&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='//ads.foodout.lt/delivery/avw.php?zoneid={{ misc_utils.getParam('game_revive_zone_id') }}&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a378844f' border='0' alt='' /></a></iframe>
            </div>
        {% endif %}

        {% if show_best_offers %}
            <div class="site-block">
                {{ render(controller('FoodPlacesBundle:Widget:bestOffers')) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
