{% extends 'FoodAppBundle::layout.html.twig' %}


    {% block jscode %}
        $(document).ready(function(){
            var tastyCities = {{ render(controller('FoodPlacesBundle:Default:cities')) }};
            $('#index_city').autocomplete({
                source: tastyCities,
                minLength: 0
            });
            var addrXhr = null;
            var addrResponse = {};
            var waitIntervals = null;
            var currentTime = null;

            $('#index_address').keyup(function(){
                if (currentTime == null) {
                    currentTime = new Date().getTime();
                }
                if (addrXhr != null) {
                    addrXhr.abort();
                }
                currentTime = new Date().getTime();
                setTimeout(function() { getCrds() }, 1000);
            });

            function getCrds() {
                if (new Date().getTime() - currentTime < 1000) {
                    return;
                }
                if (addrXhr != null) {
                    addrXhr.abort();
                }
                addrXhr = $.ajax({
                    type: 'GET',
                    url: '{{ path('food_ajax', {'action': 'find-address'}) }}',
                    data:  {city: $('#index_city').val(), address: $('#index_address').val()},
                    success:  function(resp){
                        var addrResponse = resp.data;
                        $('#index_coords').val(addrResponse.y + ',' + addrResponse.x);
                        $('#index_address').val(addrResponse.name);
                    }
                });
            }

            $('#index_submit').click(function(){
                if (addrXhr.readyState == 4) {
                    $('.search-food-form').trigger('submit');
                } else {
                    waitForState();
                }
            });
            function waitForState() {
                if (waitIntervals < 20) {
                    if (addrXhr.readyState == 4) {
                        $('.search-food-form').trigger('submit');
                    } else {
                        waitIntervals++;
                        setTimeout(function() { waitForState(); }, 1000);
                    }
                }
            }
        });
    {% endblock %}


{% block body %}

    <div style="background-image: url({{ asset('bundles/foodapp/images/offer-1.jpg') }});" class="site-header special-offer-block">
        <div class="site-block">
            <h1>Užsisakykite maistą į<br/> namus ar biurą</h1>
            <form class="search-food-form">
                <p class="title">Įveskite savo adresą ir sužinokite, kurie restoranai atveš nom nom</p>
                <div class="clearfix">
                    <input type="text" id="index_city" placeholder="{% trans %}index.city{% endtrans %}"  autocomplete="off" >
                    <input type="text" id="index_address" placeholder="{% trans %}index.street{% endtrans %}" class="input-street" autocomplete="off" >
                    <input type="submit" id="index_submit" value="{% trans %}index.findfood{% endtrans %}">
                    <input type="hidden" id="index_h_coords" name="coords" />
                    <input type="hidden" id="index_h_address" name="address" />
                </div>
            </form>
        </div>
        <p class="img-description">Svaigioji pica, Čili pica, 25 Lt</p>
    </div>
    <div class="site-center">
        <div class="site-block">
            <div class="items-list-title clearfix">
                <h2>Geri pasiūlymai</h2><a href="#" class="button">daugiau pasiūlymų</a>
            </div>
            <div class="items-list clearfix">
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-1.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-2.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"<img src="{{ asset('bundles/foodapp/images/cupo-3.png') }}">
                        <p class="cupon-name">Pica už ačiū!</p>
                        <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                </div>
                <div class="cupon-bottom">
                    <div class="button">Gauk šį pasiūlymą!</div>
                </div></a></div>
            <div class="items-list-col"><a href="#" class="cupom-item">
                    <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-4.png') }}">
                        <p class="cupon-name">Pica už ačiū!</p>
                        <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                    </div>
                    <div class="cupon-bottom">
                        <div class="button">Gauk šį pasiūlymą!</div>
                    </div></a></div>
            <div class="items-list-col"><a href="#" class="cupom-item">
                    <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-5.png') }}">
                        <p class="cupon-name">Pica už ačiū!</p>
                        <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                    </div>
                    <div class="cupon-bottom">
                        <div class="button">Gauk šį pasiūlymą!</div>
                    </div></a></div>
        </div>
        <div class="items-list-title clearfix">
            <h2>Mūsų rekomenduojami restoranai</h2><a href="#" class="button">daugiau pasiūlymų</a>
        </div>
        <div class="items-list clearfix">
            <div class="items-list-col"><a href="#" class="restoran-item">
                    <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-1.png') }}"></div>
                    <p class="restoran-name">Pica už ačiū!</p>
                    <div data-stars="4" class="restoran-rating"></div></a></div>
            <div class="items-list-col"><a href="#" class="restoran-item">
                    <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-2.png') }}"></div>
                    <p class="restoran-name">Pica už ačiū!</p>
                    <div data-stars="5" class="restoran-rating"></div></a></div>
            <div class="items-list-col"><a href="#" class="restoran-item">
                    <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-3.png') }}"></div>
                    <p class="restoran-name">Pica už ačiū!</p>
                    <div data-stars="5" class="restoran-rating"></div></a></div>
            <div class="items-list-col"><a href="#" class="restoran-item">
                    <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-4.png') }}"></div>
                    <p class="restoran-name">Pica už ačiū!</p>
                    <div data-stars="5" class="restoran-rating"></div></a></div>
            <div class="items-list-col"><a href="#" class="restoran-item">
                    <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-5.png') }}"></div>
                    <p class="restoran-name">Pica už ačiū!</p>
                    <div data-stars="3" class="restoran-rating"></div></a></div>
        </div>

        {% include 'FoodAppBundle:Default:bottom_block.html.twig' %}

    </div>
    </div>
{% endblock %}
