{% if best_offers %}
    <div class="items-list-title clearfix">
        <h2>{% trans %}places.best_offers_block_title{% endtrans %}</h2>
    </div>

    <div class="items-list clearfix">
        {% for best_offer in best_offers %}
            <div class="items-list-col">
                <a href="{% if best_offer.place is not null %}{{ path('food_slug', {'slug': slug_util.slugByItem(best_offer.place.id, 'place') }) }}{% else %}{{ best_offer.link }}{% endif %}" class="cupom-item">

                <div class="cupon-top">
                    <img src="http://{{ cloudfront_url }}{{ asset(best_offer.getWebPathThumb("type1")) }}" width="180" height="177">
                    <p class="cupon-name" style="margin: 0;">{{ best_offer.title }}</p>
                    <p class="cupon-desc" style="margin: 0;">{{ best_offer.text }}</p>
                </div>

                <div class="cupon-bottom">
                    <div class="button">Gauk šį pasiūlymą!</div>
                </div></a>
            </div>
        {% endfor %}
    </div>
{% endif %}
