{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.places{% endtrans %}{% if selected_kitchens_names %}: {% for name in selected_kitchens_names %}{{ name }}{% if not loop.last %} - {% endif %}{% endfor %}{% endif %} | {{ page_title }}{% endblock %}

{% block adnet_retargeting %}
    <!-- Adform Tracking Code BEGIN -->
    <script type="text/javascript">
        var _adftrack = {
            pm: 314127,
            divider: encodeURIComponent('|'),
            pagename: encodeURIComponent('Foodout.lt|{% trans %}general.places{% endtrans %}')
        };
        (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

    </script>
    <noscript>
        <p style="margin:0;padding:0;border:0;">
            <img src="https://track.adform.net/Serving/TrackPoint/?pm=314127&ADFPageName=Foodout.lt|{% trans %}general.places{% endtrans %}&ADFdivider=|" width="1" height="1" alt="" />
        </p>
    </noscript>
    <!-- Adform Tracking Code END -->
{% endblock %}

{% block jscode %}
    $(document).ready(function() {
        $(".content-lefter").on('ifChecked', '.filters-list input', function(event) {
            $(this).attr('checked', true);
            submitKitchens();
        });

        // Delivery type filter
        $(".site-block").on('click', '.restaurants-list-top-filters .delivery-type-filter a', function(event) {
            $(".site-block .restaurants-list-top-filters .delivery-type-filter a.selected").removeClass('selected');
            $(event.target).addClass('selected');
            submitKitchens();
        });

        $(".content-lefter").on('ifUnchecked', '.filters-list input', function(event) {
            $(this).attr('checked', false);
            submitKitchens();
        });

        $('.clear-filter-link').click(function() {
            $('.content-lefter input').iCheck('uncheck');
        });

        function submitKitchens() {

            var $filters = $(".filters-list input:checked");

            var params = {kitchens: '', filters: ''};
            var tmpName = "";
            var selectedKitchens = '';
            var selectedKitchensSlugs = '';
            var selectedKitchensNames = '';
            for(i = 0; i < $filters.length; i++) {
                tmpName = $($filters[i]).attr('name').replace("[]","");
                if (params[tmpName]!="") {
                    params[tmpName]+=",";
                }
                params[tmpName] += $($filters[i]).val();
                selectedKitchens += ','+$($filters[i]).val();
                selectedKitchensSlugs += ','+$($filters[i]).data('slug');
                selectedKitchensNames += ','+$($filters[i]).data('name');
            }
            params['delivery_type'] = $(".site-block .restaurants-list-top-filters .delivery-type-filter a.selected").attr('data-type');
            params['recommended'] = '{{ recommended }}';

            var kitchenParams = { 'recommended': '{{ recommended }}', 'delivery_type': params['delivery_type'], 'selected_kitchens': selectedKitchens, 'selected_kitchens_slugs': selectedKitchensSlugs};

            $.get('{{ path('food_kitchens_filter') }}', kitchenParams, function(resp) {
                var $container = $('.content-lefter');
                $container.find('.filter-title').remove();
                $container.find('.filters-list').remove();
                $container.prepend(resp);
                $container.iCheck();
            });

            var _url_slug_for_all = '{% trans %}kitchen.filter.slug{% endtrans %}';
            var _kitchens_count = 0;
            var _kitchens_array = selectedKitchens.split(',');
            $.each(_kitchens_array, function(i){
                if (_kitchens_array[i] !== '') {
                    _kitchens_count += 1;
                }
            });

            var _page_url = '';
            var _kitchensSlug_array = selectedKitchensSlugs.split(',');
            $.each(_kitchensSlug_array, function(i){
                if (_kitchensSlug_array[i] !== '') {
                    _page_url += _kitchensSlug_array[i] + '/';
                }
            });

            var _page_title = '%s | {{ page_title }}';
            var _title_row = '';
            var _kitchensName_array = selectedKitchensNames.split(',');
            $.each(_kitchensName_array, function(i){
                if (_kitchensName_array[i] !== '') {
                    _title_row += _kitchensName_array[i] + ' - ';
                }
            });

            var remove_last_slash = function(url) {
                if (url.charAt(url.length - 1) == "/") {
                    url = url.substr(0, url.length - 1);
                }
                return url;
            };

            var currentUrl = remove_last_slash('{{ city_url }}');
            var new_url = currentUrl + '/' + _page_url;

            document.title = _page_title.replace(/%s/g, '{% trans %}general.places{% endtrans %}' + (_title_row !== '' ? ': ' : '') + _title_row.substr(0, _title_row.length - 3));
            if (_kitchens_count > 1) {
                window.history.pushState("string", document.title, currentUrl + '/' + _url_slug_for_all + '/' + _page_url);
            } else {
                window.history.pushState("string", document.title, new_url.replace(_url_slug_for_all + '/', ''));
            }

            $('.content-righter').mask();
            $.post('{{ path('food_places_filter') }}', params, function(resp) {
                var $container = $('.content-righter');
                $container.find('.restaurants-list').remove();
                $container.unmask();
                $container.append(resp);

                $('.restoran-rating').raty({
                    readOnly: true,
                    score: function() {
                        return $(this).attr('data-stars');
                    },
                    path: '/bundles/foodapp/images/'
                });
            });
        }
    });
{% endblock %}
{% block body %}
    {# Facebook ViewContent Begin #}
    <script>fbq('track', 'ViewContent');</script>
    {# Facebook ViewContent End #}
    {% javascripts '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.pack.js'
                   '@FoodAppBundle/Resources/public/scripts/fancy/helpers/jquery.fancybox-media.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}

    <div class="change-location-box"></div>
    <div class="site-center">
    <div class="site-block">
    <div class="page-path clearfix">{#<a href="{{ path('food_homepage') }}">Pradžia</a>#}</div>{# TODO breadcrumbs <a href="#">Restoranai arti Žirmūnų</a>#}
    <div class="page-title">
        <h1>{% trans %}places.header_main_part{% endtrans %}{% if location and location.city %} {{ city_translations[location.city]|trans }}{% endif %}</h1>
        <h2 class="clearfix">
            <span class="place-counter"></span>
            <a href="#" id="places-change-location-link">{% trans %}places.change_address{% endtrans %}</a>
        </h2>
        {% if recommended==0 and ( location == null or (location.not_found == true and location.street_found==true)) %}
            <div class="alert alert2 alert-warning alert_not_detailed_search"><li>{% trans %}places.is_not_detailed_search{% endtrans %}</li></div>
        {% endif %}
    </div>
    {% include 'FoodPlacesBundle:Default:change_address.html.twig' with {id: 'places-change-address', hideQlu: false, usr_address: userAllAddress} %}
    <script type="text/javascript">
        // <![CDATA[
            $(document).ready(function() {
                $('#places-change-location-link').click(function() {
                    var data_callback, data_callback;

                    click_callback = function(options) {
                        if (options.response.data.success == 1) {
                            window.location = '{{ url('food_places_lt_main') }}';
                        } else {
                            options.dialog.unmask();
                            options.alert.show();

                            setTimeout(function(){
                                options.alert.hide();
                            }, 5000);
                        }
                    }

                    data_callback = function() {
                        return { city: $('.city-row select').val(),
                                 address: $('.address-row input').val() };
                    }

                    change_location($('#places-change-address'),
                                    click_callback,
                                    data_callback,
                                    '{% trans %}cart.checkout.address_change_change{% endtrans %}',
                                    '{% trans %}cart.checkout.address_change_cancel{% endtrans %}',
                                    '{{ url('food_ajax', {'action': 'find-address'}) }}');

                    return false;
                })
            });
        // ]]>
    </script>
    <div class="restaurants-list-top-filters">
        <div class="delivery-type-filter">
            <div class="label">{% trans %}places.filter_by_delivery{% endtrans %}:</div>
            <a href="#" data-type="delivery" {% if delivery_type_filter == 'deliver' %}class="selected"{% endif %}>{% trans %}places.filter_delivery{% endtrans %}</a>
            <a href="#" data-type="pickup" {% if delivery_type_filter == 'pickup' %}class="selected"{% endif %}>{% trans %}places.filter_pickup{% endtrans %}</a>
        </div>
    </div>
    <div class="clearfix">
        <div class="content-lefter">
            {{ render(controller('FoodDishesBundle:Kitchen:kitchenlist', {'recommended':recommended, 'slug_filter': slug_filter})) }}
            {{ render(controller('FoodDishesBundle:Place:filtersList')) }}

            <div class="banners">
                {% if site_country == 'LT' %}
                    <div>
                        {#<ins data-revive-zoneid="13" data-revive-id="12b88dd43b1c40010eb436263abc6451"></ins>#}

                        {#<script type='text/javascript'>
                            OA_show('zone-1');
                        </script>#}
                        <iframe id='a5c12068' name='a5c12068' src='http://ads.foodout.lt/delivery/afr.php?zoneid=13&amp;cb=213443425' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=a1fba806&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=13&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1fba806' border='0' alt='' /></a></iframe>
                    </div>

                    <div>
                        {#<script type='text/javascript'>
                            OA_show('zone-22');
                        </script>#}
                        <iframe id='ac4f9d5b' name='ac4f9d5b' src='http://ads.foodout.lt/delivery/afr.php?zoneid=14&amp;cb=5646456846549' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=a10498ed&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=14&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a10498ed' border='0' alt='' /></a></iframe>
                    </div>
                    <div>
                        {#<script type='text/javascript'>
                            OA_show('zona-3');
                        </script>#}
                        <iframe id='a9034681' name='a9034681' src='http://ads.foodout.lt/delivery/afr.php?zoneid=15&amp;cb=852422323426' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=a5f27b25&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=15&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a5f27b25' border='0' alt='' /></a></iframe>
                    </div>
                {% else %}
                    {# Revive Ads init for foodout.lt #}
                    <div>
                        <iframe id='a5fe853c' name='a5fe853c' src='http://ads.foodout.lt/delivery/afr.php?zoneid=18&amp;cb=5645641545' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=afb33539&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=18&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=afb33539' border='0' alt='' /></a></iframe>
                    </div>

                    <div>
                        <iframe id='a8768084' name='a8768084' src='http://ads.foodout.lt/delivery/afr.php?zoneid=17&amp;cb=215453646' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=aa1b0015&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=17&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=aa1b0015' border='0' alt='' /></a></iframe>
                    </div>

                    <div>
                        <iframe id='a4bc4d32' name='a4bc4d32' src='http://ads.foodout.lt/delivery/afr.php?zoneid=19&amp;cb=8754512333' frameborder='0' scrolling='no' width='180' height='250'><a href='http://ads.foodout.lt/delivery/ck.php?n=a6d86579&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://ads.foodout.lt/delivery/avw.php?zoneid=19&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a6d86579' border='0' alt='' /></a></iframe>
                    </div>
                    <script async src="//ads.foodout.lt/delivery/asyncjs.php"></script>
                {% endif %}
            </div>
        </div>
        <div class="content-righter">
            {#<div class="restaurants-list-controls clearfix">
                &#123;&#35;<form class="list-search-form fl">&#35;&#125;
                    &#123;&#35;<input type="text" placeholder="{% trans %}places.search_placeholder{% endtrans %}">&#35;&#125;
                    &#123;&#35;<input type="submit" value="">&#35;&#125;
                &#123;&#35;</form>&#35;&#125;
                <div class="list-top-filters clearfix fr">
                    <div class="delivery-type-filter">
                        <div class="label">{% trans %}places.filter_by_delivery{% endtrans %}:</div>
                        <a href="#" data-type="delivery_and_pickup" {% if delivery_type_filer == 'delivery_and_pickup' %}class="selected"{% endif %}>{% trans %}places.filter_delivery_and_pickup{% endtrans %}</a>
                        <a href="#" data-type="delivery" {% if delivery_type_filer == 'delivery' %}class="selected"{% endif %}>{% trans %}places.filter_delivery{% endtrans %}</a>
                        <a href="#" data-type="pickup" {% if delivery_type_filer == 'pickup' %}class="selected"{% endif %}>{% trans %}places.filter_pickup{% endtrans %}</a>
                    </div>
                    <div class="label">{% trans %}places.order_by{% endtrans %}:</div>
                    <a href="#">{% trans %}places.sort_by_relevance{% endtrans %}</a>
                    <a href="#" class="selected">{% trans %}places.sort_by_rating{% endtrans %}</a>
                    <a href="#">{% trans %}places.sort_by_delivery_price{% endtrans %}</a>
                    <a href="#">{% trans %}places.sort_by_distance{% endtrans %}</a>
                </div>
            </div>#}
            {{ render(controller('FoodPlacesBundle:Default:list', {'recommended': recommended, 'slug_filter': slug_filter})) }}
        </div>
    </div>

    </div>
    </div>
{% endblock %}
