<div class="restaurants-list">
    {% for place in places %}
        <div class="restaurant-item clearfix">
            <div class="logo">
                <div class="logo-wrap"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}"><img src="http://{{ cloudfront_url }}/uploads/places/thumb_{{ place.place.logo }}"></a></div>
            </div>
            <div class="item-center">
                <h2 class="name clearfix">
                    <span class="text"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}">{{ place.place.name }}</a></span>
                    {% if place.point.fast %}
                    <span class="tag">
                        <img src="/bundles/foodapp/images/tag-speed.png">
                    </span>
                    {% endif %}
                    {% if place.place.new %}
                    <span class="tag">
                        <img src="/bundles/foodapp/images/tag-new.png">
                    </span>
                    {% endif %}

                    {% if place.is_work == 1 %}
                        {# IT WORKS. Everything works :) #}
                    {% elseif place.is_work == 2 %}
                        {# IT WORKS. Well some of the points do :D :) #}
                        <span class="tag">
                            <span class="partial-work{% if locale == 'lv' %} partial-work-lv{% endif %}"></span>
                            <div class="time-popup time-popup2">{{ order_service.notWorkingPlacesPoints(place.place)|raw }}
                                <div class="nip"></div>
                            </div>
                        </span>
                    {% else %}
                        {# NAH non of it works :) #}
                        {% if place.pp_count == 1 %}
                            <span class="tag">
                                <img src="/bundles/foodapp/images/tag-not-working{% if locale == 'lv' %}_lv{% endif %}.png">
                                <div class="time-popup">{{ order_service.getTodayWork(place.point) }}
                                    <div class="nip"></div>
                                </div>
                            </span>
                        {% else %}
                            <span class="tag">
                                <img src="/bundles/foodapp/images/tag-not-working{% if locale == 'lv' %}_lv{% endif %}.png">
                                <div class="time-popup">{{ order_service.notWorkingPlacesPoints(place.place)|raw }}
                                    <div class="nip"></div>
                                </div>
                            </span>
                        {% endif %}
                    {% endif %}
{#
                    {% if place.pp_count == 1 %}
                        {% if order_service.isTodayWork(place.point) == false %}
                            <span class="tag">
                                <img src="/bundles/foodapp/images/tag-not-working.png">
                                <div class="time-popup">{{ order_service.getTodayWork(place.point) }}
                                    <div class="nip"></div>
                                </div>
                            </span>
                        {% endif %}
                    {% else %}
                        {% if order_service.isTodayWorkDayForAll(place.place) == false %}
                            <span class="tag">
                                {% if order_service.isTodayNoOneWantsToWork(place.place) == true %}
                                    <img src="/bundles/foodapp/images/tag-not-working.png">
                                    <div class="time-popup">{{ order_service.notWorkingPlacesPoints(place.place)|raw }}
                                        <div class="nip"></div>
                                    </div>
                                {% else %}
                                    <span class="partial-work"></span>
                                    <div class="time-popup time-popup2">{{ order_service.notWorkingPlacesPoints(place.place)|raw }}
                                        <div class="nip"></div>
                                    </div>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endif %}
#}

                </h2>
                <p class="desc">
                    {% for kitchen in place.place.kitchens %}
                        {{kitchen.name}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
                <div class="details">
                    {% if place.place.deliveryOptions == 'delivery' %}
                        <span class="delivery">{% trans %}place.delivery_info{% endtrans %}:
                            <span>
                                {% set minPrc = places_service.minDeliveryPrice(place.place.id) %}
                                {% set maxPrc = places_service.maxDeliveryPrice(place.place.id) %}

                                {% if places_service.getZavalTime(place.place) %}
                                    {{ places_service.getZavalTime(place.place) }} val.
                                {% else %}
                                    {% if minPrc == maxPrc %}
                                        {#{{ currency_display|raw }}{{ minPrc }} / #}{{ place.place.deliveryTime }}
                                    {% else %}
                                        {#{{ currency_display|raw }}{{ minPrc }}-{{ maxPrc }} / #}{{ place.place.deliveryTime }}
                                    {% endif %}
                                    {% if place.place.deliveryTimeInfo is not empty %}
                                        <span class="delivery-time-info ui-icon ui-icon-info" title="{{ place.place.deliveryTimeInfo }}"></span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    {% elseif place.place.deliveryOptions == 'pickup' %}
                        <span class="pickup">{% trans %}place.pickup_info{% endtrans %}: {{ place.place.pickupTime }}
                            <span></span>
                        </span>
                    {% elseif place.place.deliveryOptions == 'delivery_and_pickup' %}
                        <span class="pickup">{% trans %}place.pickup_info{% endtrans %}: {{ place.place.pickupTime }}
                            <span></span>
                        </span>
                        <span class="delivery">{% trans %}place.delivery_info{% endtrans %}:
                            <span>
                                {% set minPrc = places_service.minDeliveryPrice(place.place.id) %}
                                {% set maxPrc = places_service.maxDeliveryPrice(place.place.id) %}

                                {% if places_service.getZavalTime(place.place) %}
                                    {{ places_service.getZavalTime(place.place) }} val.
                                {% else %}
                                    {% if minPrc == maxPrc %}
                                        {#{{ currency_display|raw }}{{ minPrc }} / #}{{ place.place.deliveryTime }}
                                    {% else %}
                                        {#{{ currency_display|raw }}{{ minPrc }}-{{ maxPrc }} / #}{{ place.place.deliveryTime }}
                                    {% endif %}
                                    {% if place.place.deliveryTimeInfo is not empty %}
                                        <span class="delivery-time-info ui-icon ui-icon-info" title="{{ place.place.deliveryTimeInfo }}"></span>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </span>
                    {% endif %}

                    {% if (delivery_type_filter != 'deliver' and place.place.minimalOnSelfDel) or (delivery_type_filter == 'deliver' and place.place.deliveryOptions != 'pickup') or (place.place.deliveryOptions == 'pickup' and place.place.minimalOnSelfDel) %}
                    <span class="min-cart-size">{% trans %}place.min_cart_amount{% endtrans %}:
                        {% set minCart = places_service.minCartPrice(place.place.id) %}
                        {% set maxCart = places_service.maxCartPrice(place.place.id) %}
                        {% if minCart == maxCart %}
                            <span>{{ currency_display|raw }}{{ minCart }}</span>
                        {% else %}
                            <span>{{ currency_display|raw }}{{ minCart }}-{{ maxCart }}</span>
                        {% endif %}
                    </span>
                    {% endif %}
                    {#<span class="select-place-point"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}#detailed-restaurant-info">{% trans %}place.select_place_to_pickup{% endtrans %}</a></span>#}
                </div>
            </div>
            <!-- <div class="discount-tag"></div> -->
            <div class="item-righter">
                <div class="clearfix">
                    <div data-stars="{{ place.place.rating }}" class="restoran-rating fl"></div>
                    {% if place.place.reviewCount != 0 %}
                        <div class="rating-count fr"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}#detailed-restaurant-review">{{ place.place.reviewCount }} {% transchoice place.place.reviewCount %}places.reviews_count{% endtranschoice %}</a></div>
                    {% endif %}
                </div><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}" class="button"><span>{% trans %}places.watch_menu{% endtrans %}</span></a>
            </div>
        </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function(){
        var c1 = '{% trans %}general.places_found1{% endtrans %}';
        var c2 = '{% trans %}general.places_found2{% endtrans %}';
        var c3 = '{% trans %}general.places_found3{% endtrans %}';
        var cnt = {{ places|length }};
        var trgt = $('.page-title .place-counter');
        var recommended = {{ recommended }};
        if (cnt == 0) {
            trgt.text('');
        } else if (cnt == 1) {
            trgt.text(c1);
        } else if (cnt > 1 && cnt < 10) {
            trgt.text(c2);
        } else {
            trgt.text(c3);
        }
        trgt.text(trgt.text().replace("%1", cnt));
        {% if location_show %}
            if (!recommended && cnt > 0) {
                {% set locAdress = '' %}
                {% if location and location.address_found %}
                    {% set locAdress=location.address %}
                    {% set locFlat=location.flat %}
                {% endif %}
                trgt.text(trgt.text() + ', {% trans %}places.places_near{% endtrans %} {{ locAdress }}{% if locFlat is defined and locFlat %} - {{ locFlat }}{% endif %}');
            }
        {% endif %}

        $('.delivery-time-info').tooltip();
    });
</script>
