<div class="restaurants-list">
    {% for place in places %}
        <div class="restaurant-item clearfix">
            <div class="logo">
                <div class="logo-wrap"><img src="/uploads/places/thumb_{{ place.place.logo }}"></div>
            </div>
            <div class="item-center">
                <h2 class="name clearfix">
                    <span class="text">{{ place.place.name }}</span>
                    {#
                    <span class="tag">
                        <img src="/bundles/foodapp/images/tag-speed.png">
                    #}
                    {% if place.place.new %}
                    <span class="tag">
                        <img src="/bundles/foodapp/images/tag-new.png">
                    </span>
                    {% endif %}
                    {#
                    <span class="tag">
                        <img src="/bundles/foodapp/images/tag-not-working.png">
                        <div class="time-popup">VII 11:00 - 00:00
                            <div class="nip"></div>
                        </div>
                    </span>
                    #}
                </h2>
                <p class="desc">
                    {% for kitchen in place.place.kitchens %}
                        {{kitchen.name}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
                <div class="details"><span class="delivery">{% trans %}place.delivery_info{% endtrans %}:<span>5 Lt / 10 min.</span></span><span class="min-cart-size">{% trans %}place.min_cart_amount{% endtrans %}:<span>40 Lt </span></span></div>
            </div>
            <!-- <div class="discount-tag"></div> -->
            <div class="item-righter">
                <div class="clearfix">
                    <div data-stars="{{ place.place.rating }}" class="restoran-rating fl"></div>
                    {% if place.place.reviews.count != 0 %}
                        <div class="rating-count fr">{{ place.place.reviews.count }} {% trans %}places.reviews_count{% endtrans %}</div>
                    {% endif %}
                </div><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.place.id, 'place') }) }}" class="button"><span>{% trans %}places.watch_menu{% endtrans %}</span></a>
            </div>
        </div>
    {% endfor %}
</div>