<div class="navbar navbar-default navbar-static-top" style="background-color: #cb213a; background-image: none; margin-bottom: 0px; border: none;">
    <div style="width: 980px; margin-left: auto; margin-right: auto;">
        {% image '@FoodAppBundle/Resources/public/images/logo_dev.png' output='/images/logo_dev.png' %}
            <img src="{{ asset_url }}" alt="" />
        {% endimage %}
        {% image '@FoodAppBundle/Resources/public/images/header_menu_dev.png' output='/images/header_menu_dev.png' %}
        <img src="{{ asset_url }}" alt="" />
        {% endimage %}
    </div>
</div>


{% image '@FoodAppBundle/Resources/public/images/slide_dev.jpg' output='/images/slide_dev.jpg' %}
<div style="width: 1300px; height: 480px;  margin-left: auto; margin-right: auto; background-image: url('{{ asset_url }}')">
{% endimage %}
    <div style="text-align: center">
        {% image '@FoodAppBundle/Resources/public/images/location_title_dev.png' output='/images/location_title_dev.png' %}
        <img src="{{ asset_url }}" alt="" style="margin-top: 36px; margin-bottom: 50px;"/>
        {% endimage %}
        {% image '@FoodAppBundle/Resources/public/images/location_dev.png' output='/images/location_dev.png' %}
        <img src="{{ asset_url }}" alt="" />
        {% endimage %}
    </div>
</div>