{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% endblock %}
{% block seo_description %}{% endblock %}

{% block body %}
    {# Facebook ViewContent Begin #}
    <script>fbq('track', 'ViewContent');</script>
    {# Facebook ViewContent End #}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page blog-categories">
                    <h1>{{ 'general.news'|trans }}</h1>
                    <div class="static-page-content">
                        <ul>
                            {% for category in categories %}
                            <li><a href="{{ slug.getUrl(category.id, 'blog_category') }}">{{ category }}</a></li>
                            <ul>
                                {% for post in blogPosts[category.id] %}
                                <li><a href="{{ slug.getUrl(post.id, 'blog_post') }}">{{ post }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}