{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% endblock %}
{% block seo_description %}{% endblock %}

{% block body %}
    {# Facebook ViewContent Begin #}
    <script>fbq('track', 'ViewContent');</script>
    {# Facebook ViewContent End #}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page blog-post">
                    <h1>{{ blogPost }}</h1>
                    <strong><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(blogPost.category.id, 'blog_category') }) }}">{{ blogPost.category }}</a></strong>
                    <p>{{ blogPost.createdBy }}, {{ blogPost.createdAt|date('Y-m-d') }}</p>
                    <div class="static-page-content">
                        {{ blogPost.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}