{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ 'general.resetting'|trans }}{% endblock %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page">
                    <div class="static-page-content">
                        <form action="{{ path('food_user_resetting_reset_password', {'token': token}) }}"
                              method="POST"
                              class="delivery-info-form"
                              novalidate>
                            <div class="delivery-info-form-content">
                                <h2>{{ 'general.resetting'|trans }}</h2>

                                {% if submitted and form.vars.valid == false %}
                                    <div class="alert alert-danger">{{ 'general.resetting.password_must_match'|trans }}</div>
                                {% endif %}

                                <div class="form-row form-row-required">
                                    {{ form_label(form.plainPassword.first) }}
                                    {{ form_widget(form.plainPassword.first) }}
                                </div>
                                <div class="form-row form-row-required">
                                    {{ form_label(form.plainPassword.second) }}
                                    {{ form_widget(form.plainPassword.second) }}
                                </div>

                                {{ form_rest(form) }}

                                <div class="form-controls">
                                    <button class="submit-button" type="submit" style="border: 0;">
                                        <span>{{ 'general.resetting.continue'|trans }}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
