<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="list-group">
        {% for item in list %}
            <a href="#{{ item.id }}" class="list-group-item {% if item.id == 4 %} active {% endif %}" title="{{ 'places.count'|trans }} - {{ item.count }}" style="text-align: center">
                {% image '@FoodAppBundle/Resources/public/images/pizza_256.png' output='/images/pizza_256.png' %}
                <img src="{{ asset_url }}" alt="" style="width: 110px"/>
                {% endimage %}
            {{ item.name }}</a>
        {% endfor %}
    </div>
</div>