{# Dispecerinis langas.. OMG, kas per 87 lvl zodziai...#}
{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link href="{{ asset('bundles/foodapp/css/bootstrap-glyphicons.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/foodapp/js_admin/dispatcher.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            Dispatcher.setLocale('{{ app.request.get('_locale') }}');
            Dispatcher.onLoadEvents();

            Dispatcher.setTranslation('change_status_title', '{{ 'admin.dispatcher.order_status_title'|trans({}, 'SonataAdminBundle') }}');
            Dispatcher.setTranslation('button_change', '{{ 'admin.dispatcher.button_change'|trans({}, 'SonataAdminBundle') }}');
            Dispatcher.setTranslation('button_cancel', '{{ 'admin.dispatcher.button_cancel'|trans({}, 'SonataAdminBundle') }}');
        });
    </script>
{% endblock %}

{% block actions %}{% endblock %}

{% block side_menu %}{% endblock %}

{% block list_table %}
    {# type gali buti 'unapproved', 'unassigned', 'unconfirmed', 'not_finished', 'canceled', 'nav_problems' ;) Just in case you need that #}
    {% macro order_table(order_list, type, cityName) %}
        {# Drivers are show all the time
        {% if type == 'unassigned' or type == 'not_finished' %}
        <div class="driver_button">
            <button class="get_drivers_button btn btn-lg" disabled="disabled">
                #}{#<span class="icon_steering_wheel"></span>#}{#
                {{ 'admin.dispatcher.get_drivers'|trans({}, 'SonataAdminBundle') }}
            </button>
        </div>
        {% endif %}#}
        <table class="order_list {{ type }}" list-type="{{ type }}">
            <tr>
                <th></th>
                <th>{{ 'admin.dispatcher.order_id'|trans({}, 'SonataAdminBundle') }}</th>
                <th>{{ 'admin.dispatcher.from_nav'|trans({}, 'SonataAdminBundle') }}</th>
                <th>{{ 'admin.dispatcher.place'|trans({}, 'SonataAdminBundle') }}</th>
            {% if type != 'canceled' %}
                <th>{{ 'admin.dispatcher.address'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            {% if type != 'unconfirmed-pickup' %}
                <th>{{ 'admin.dispatcher.client_address'|trans({}, 'SonataAdminBundle') }}</th>
                <th class="self_delivery">{{ 'admin.dispatcher.client_phone'|trans({}, 'SonataAdminBundle') }}</th>
                <th class="self_delivery">{{ 'admin.dispatcher.self_delivery'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
                <th class="order_date">{{ 'admin.dispatcher.order_date'|trans({}, 'SonataAdminBundle') }}</th>
            {% if type != 'canceled' %}
                <th class="order_date">{{ 'admin.dispatcher.delivery_time'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            {% if type == "not_finished" %}
                <th class="order_date">{{ 'admin.dispatcher.picked_up'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            <th class="order_date">{{ 'admin.dispatcher.late_time'|trans({}, 'SonataAdminBundle') }}</th>
            {% if type != 'canceled' %}
                <th class="order_date">{{ 'admin.dispatcher.delayed'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
                <th class="narrow_col">{{ 'admin.dispatcher.payment'|trans({}, 'SonataAdminBundle') }}</th>
                <th>{{ 'admin.dispatcher.comment'|trans({}, 'SonataAdminBundle') }}</th>
                {% if type == 'not_finished' %}
                    <th>{{ 'admin.dispatcher.driver'|trans({}, 'SonataAdminBundle') }}</th>
                {% endif %}
                <th>{{ 'admin.dispatcher.status'|trans({}, 'SonataAdminBundle') }}</th>
            {% if type == 'canceled' %}
                <th class="client_contacted_check">{{ 'admin.dispatcher.client_contacted'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            {% if type == 'nav_problems' %}
                <th class="problem_type">{{ 'admin.dispatcher.problem_type'|trans({}, 'SonataAdminBundle') }}</th>
                <th class="problem_solved_check">{{ 'admin.dispatcher.problem_solved'|trans({}, 'SonataAdminBundle') }}</th>
            {% endif %}
            </tr>
            {% for order in order_list %}
                {% if loop.last %}
                    <script type="text/javascript">
                        if (typeof Dispatcher.recentOrders['{{ cityName }}'] == "undefined") {
                            Dispatcher.recentOrders['{{ cityName }}'] = {};
                        }
                        Dispatcher.recentOrders['{{ cityName }}']['{{ type }}'] = {{ order.id }};
                    </script>
                {% endif %}
                {% if (type == 'unconfirmed' and order.orderDate|date_modify("+2 minutes")|date("d H:i") < "now"|date("d H:i")) or (type == 'unassigned' and order.placePointSelfDelivery != true and order.deliveryTime|date_modify("-25 minute")|date("d H:i") < "now"|date("d H:i")) or (type == 'not_finished' and order.placePointSelfDelivery != true and order.deliveryTime|date("d H:i") < "now"|date("d H:i")) or (type == 'unapproved' and order.orderDate|date_modify("+2 minutes")|date("d H:i") < "now"|date("d H:i")) %}
                    {% set additional_class = 'late_warning' %}
                {% else %}
                    {% set additional_class = '' %}
                {% endif %}
                <tr class="{{ loop.index%2 ? 'odd' : 'even' }} {{ additional_class }}">
                    <td class="no-wrap">
                        {% if not order.placePointSelfDelivery %}
                            <input type="checkbox" id="order_{{ order.id }}" value="{{ order.id }}" class="order_checkbox" />
                        {% endif %}
                        {% if additional_class != '' %}
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {% endif %}
                        {% if order.preorder %}
                            <span class="glyphicon glyphicon-time"></span>
                        {% endif %}
                    </td>
                    <td><a href="{{ path('admin_food_order_order_show', {'id': order.id}) }}" target="_blank">{{ order.id }}</a></td>
                    <td class="from_nav_ico">
                        {% if order.orderFromNav %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% endif %}
                    </td>
                    <td>
                        {{ order.placeName }}
                        {% if order.placePoint is not empty and order.placePoint.internalCode is not empty %} - {{ order.placePoint.internalCode }}{% endif %}
                        {% if order.placePoint is not empty %}{% set placePointPhones = '+'~order.placePoint.phone %}{% else %}{% set placePointPhones = '' %}{% endif %}
                        {% if order.placePoint is not empty and order.placePoint.altPhone1 is not empty%}
                            {% set placePointPhones = placePointPhones ~ '<br />' ~ '+' ~ order.placePoint.altPhone1 %}
                        {% endif %}
                        {% if order.placePoint is not empty and order.placePoint.altPhone2 is not empty%}
                            {% set placePointPhones = placePointPhones ~ '<br />' ~ '+' ~ order.placePoint.altPhone2 %}
                        {% endif %}
                        <span class="glyphicon glyphicon-phone-alt restourant-phones" title="{{ placePointPhones }}"></span>
                    </td>
                {% if type != 'canceled' %}
                    <td>
                        {% if order.placePoint is not empty %}
                            {{ order.placePoint.address }}</td>
                        {% endif %}
                {% endif %}
                {% if type != 'unconfirmed-pickup' %}
                    <td>
                        {% if order.deliveryType != 'pickup' %}
                            {% if order.addressId is not empty %}
                                {{ order.addressId.address }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ order.orderExtra.phone }}</td>
                    <td class="self_delivery">
                        {% if order.placePointSelfDelivery %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                {% endif %}
                    <td class="order_date" title="{{ order.orderDate|date("Y-m-d") }}">{{ order.orderDate|date("H:i") }}</td>
                {% if type != 'canceled' %}
                    <td class="order_date" title="{{ order.deliveryTime|date("Y-m-d") }}">{{ order.deliveryTime|date("H:i") }}</td>
                {% endif %}
                {% if type == "not_finished" %}
                    <td class="order_date">
                        {% if order.orderPicked %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                {% endif %}
                <td class="order_date">
                    {{ order.lateMinutes }} min
                </td>
                {% if type != 'canceled' %}
                    <td class="order_date{% if order.delayed %} delayed-order{% endif %}">
                        {% if order.delayed %}
                            {{ order.delayDuration }} min
                        {% endif %}
                    </td>
                {% endif %}
                    <td>
                        {% if order.paymentMethod == 'local' %}
                            {{ 'admin.dispatcher.payement.local'|trans({}, 'SonataAdminBundle') }}
                        {% elseif order.paymentMethod == 'local.card'%}
                            {{ 'admin.dispatcher.payement.local_card'|trans({}, 'SonataAdminBundle') }}
                        {% else %}
                            {{ 'admin.dispatcher.payement.bank_link'|trans({}, 'SonataAdminBundle') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if order.comment|length > 20 %}
                            <span class="shortened_comment">{{ order.comment|slice(0, 17) }}... <span class="glyphicon glyphicon-question-sign spliced-text" title="{{ order.comment }}"></span></span>
                        {% else %}
                            {{ order.comment }}
                        {% endif %}
                    </td>
                    {% if type == 'not_finished' %}
                        <td class="driver">
                            {% if order.deliveryType == 'pickup' %}
                                <strong>{{ 'admin.dispatcher.pickup_order'|trans({}, 'SonataAdminBundle') }}</strong>
                            {% else %}
                                {% if order.driver is not null and order.driver is not empty and order.isDriverNotDeleted %}
                                    {%
                                    set driverInfo = 'admin.driver.phone'|trans({}, 'SonataAdminBundle') ~ ': ' ~ order.driver.phone ~ "<br/>"
                                    ~ 'admin.driver.city'|trans({}, 'SonataAdminBundle') ~ ': ' ~ order.driver.city ~ "<br/>"
                                    ~ 'admin.driver.type'|trans({}, 'SonataAdminBundle') ~ ': ' ~ ('admin.driver.type.' ~ order.driver.type)|trans({}, 'SonataAdminBundle') ~ "<br/>"
                                    ~ 'admin.driver.provider'|trans({}, 'SonataAdminBundle') ~ ': ' ~ order.driver.provider ~ "<br/>"
                                    ~ 'admin.driver.ext_id'|trans({}, 'SonataAdminBundle') ~ ': ' ~ order.driver.extId ~ "<br/>"
                                    %}
                                    {{ order.driver.name }} <span class="driver-info-extended glyphicon glyphicon-info-sign" title="{{ driverInfo }}"></span>
                                {% else %}
                                    <span style="font-weight: bold; color: #FF0000;">{{ 'admin.dispatcher.no_driver_assigned'|trans({}, 'SonataAdminBundle') }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="order_status">
                        {% if order.orderStatusLog|length > 0 %}
                            {% set statusInfo = '<div class=\'driver-tooltip\'>' %}
                            {% for status in order.orderStatusLog %}
                                {%
                                    set statusInfo = statusInfo
                                    ~ 'admin.order.log.date'|trans({}, 'SonataAdminBundle') ~ ': ' ~ status.eventDate|date("H:i") ~ '<br />'
                                    ~ 'admin.order.log.old_status'|trans({}, 'SonataAdminBundle') ~ ': ' ~ ('admin.dispatcher.order_status.' ~ status.oldStatus)|trans({}, 'SonataAdminBundle') ~ '<br />'
                                    ~ 'admin.order.log.new_status'|trans({}, 'SonataAdminBundle') ~ ': ' ~ ('admin.dispatcher.order_status.' ~ status.newStatus)|trans({}, 'SonataAdminBundle') ~ '<br />'
                                    ~ 'admin.order.log.message'|trans({}, 'SonataAdminBundle') ~ ': ' ~ status.message ~ '<br />'
                                    ~ '<br />'
                                %}
                            {% endfor %}
                            {% set statusInfo = statusInfo ~ '</div>' %}
                        {% endif %}

                        {% if type != 'canceled' %}
                            {{ ('admin.dispatcher.order_status.' ~ order.orderStatus)|trans({}, 'SonataAdminBundle') }}
                        {% endif %}
                        {% if order.orderStatusLog|length > 0 %}
                            <span class="glyphicon glyphicon-info-sign status-change-history" title="{{ statusInfo }}"></span>
                        {% endif %}
                        {% if (not order.orderFromNav and type != 'unapproved') or (type == 'not_finished' and order.deliveryType == 'pickup') %}
                            <button class="btn btn-lg change_status_button" item-id="{{ order.id }}">
                                {{ 'admin.dispatcher.button_change'|trans({}, 'SonataAdminBundle') }}
                            </button>
                        {% endif %}
                        {% if type == 'unapproved' %}
                            <button class="btn btn-lg approve_button" item-id="{{ order.id }}">
                                {{ 'admin.dispatcher.approve'|trans({}, 'SonataAdminBundle') }}
                            </button>
                        {% endif %}
                    </td>
                    {% if type == 'canceled' %}
                    <td class="client_contacted_check">
                        <input type="checkbox" id="client_contacted_{{ order.id }}" class="client_contacted" item-id="{{ order.id }}" {% if order.clientContacted == 1 %}checked="checked" {% endif %}/>
                    </td>
                    {% endif %}
                    {% if type == 'nav_problems' %}
                    <td>
                        {% if order.order_status == 'nav_problems' %}
                            {{ 'admin.dispatcher.nav_problems_type'|trans({}, 'SonataAdminBundle') }}
                        {% else %}
                            {{ 'admin.dispatcher.payment_wait_problem'|trans({}, 'SonataAdminBundle') }}
                        {% endif %}
                    </td>
                    <td class="problem_solved_check">
                        <input type="checkbox" id="solved_{{ order.id }}" class="problem_solved" item-id="{{ order.id }}" {% if order.problemSolved == 1 %}checked="checked" {% endif %}/>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endmacro %}
    {% import _self as table %}

    <style type="text/css">div.sidebar.span2 { display: none !important; }</style>
    <div class="city_list todo_nieks_nezino_klases">
        <ul>
            {% for city in cities %}
                {% set cityUnapproved = cityOrders[city].unapproved|length %}
                {% set cityUnassigned = cityOrders[city].unassigned|length %}
                {% set cityUnconfirmed = (cityOrders[city].unconfirmed.deliver|length + cityOrders[city].unconfirmed.pickup|length) %}
                {% set cityNotFinished = cityOrders[city].not_finished|length %}
                {% set cityCanceled = cityOrders[city].canceled|length %}
                {% set cityNavProblems = cityOrders[city].nav_problems|length %}
                {% set cityTip = 'admin.dispatcher.city_tip'|trans({'unapprovedCount': cityUnassigned, 'unassignedCount': cityUnassigned, 'unconfirmedCount': cityUnconfirmed, 'notfinishedCount': cityNotFinished, 'canceledCount': cityCanceled, 'navProblemsCount': cityNavProblems}, 'SonataAdminBundle') %}
                <li class="city-tab city_tabik-{{ loop.index }}" data-city="{{ city }}">
                    <a href="#city_list-{{ loop.index }}" title="{{ cityTip }}">{{ city }} ({{ cityUnapproved }}:{{ cityUnassigned }}:{{ cityUnconfirmed }}:{{ cityNotFinished }}:{{ cityCanceled }}:{{ cityNavProblems }})</a>
                </li>
            {% endfor %}
        </ul>
        {% for cityName,city in cityOrders %}
            <div id="city_list-{{ loop.index }}">
                <ul>
                    <li class="city-{{ loop.index }}-unapproved-tab">
                        <a href="#city-{{ loop.index }}-unapproved">
                            {{ 'admin.dispatcher.unapproved'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ city.unapproved|length }})</span>
                        </a>
                    </li>
                    <li class="city-{{ loop.index }}-unassigned-tab">
                        <a href="#city-{{ loop.index }}-unassigned">
                            {{ 'admin.dispatcher.unassigned'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ city.unassigned|length }})</span>
                        </a>
                    </li>
                    <li class="city-{{ loop.index }}-unconfirmed-tab">
                        <a href="#city-{{ loop.index }}-unconfirmed">
                            {{ 'admin.dispatcher.unconfirmed'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ (city.unconfirmed.deliver|length + city.unconfirmed.pickup|length) }})</span>
                        </a>
                    </li>
                    <li>
                        <a href="#city-{{ loop.index }}-undelivered">
                            {{ 'admin.dispatcher.undelivered'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ city.not_finished|length }})</span>
                        </a>
                    </li>
                    <li>
                        <a href="#city-{{ loop.index }}-canceled">
                            {{ 'admin.dispatcher.canceled'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ city.canceled|length }})</span>
                        </a>
                    </li>
                    <li>
                        <a href="#city-{{ loop.index }}-navproblems">
                            {{ 'admin.dispatcher.nav_problems'|trans({}, 'SonataAdminBundle') }} <span class="theCount">({{ city.nav_problems|length }})</span>
                        </a>
                    </li>
                </ul>
                <div id="city-{{ loop.index }}-unapproved">
                    {{ table.order_table(city.unapproved, 'unapproved', cityName) }}
                </div>
                <div id="city-{{ loop.index }}-unassigned">
                    {{ table.order_table(city.unassigned, 'unassigned', cityName) }}
                </div>
                <div id="city-{{ loop.index }}-unconfirmed">
                    {{ table.order_table(city.unconfirmed.deliver, 'unconfirmed', cityName) }}
                    <div style="text-align: center;">
                        <br />
                        <br />
                        <h4>{% trans from 'SonataAdminBundle' %}admin.dispatcher.unconfirmed_pickup{% endtrans %}:</h4>
                    </div>
                    {{ table.order_table(city.unconfirmed.pickup, 'unconfirmed-pickup', cityName) }}
                </div>
                <div id="city-{{ loop.index }}-undelivered">
                    {{ table.order_table(city.not_finished, 'not_finished', cityName) }}
                </div>
                <div id="city-{{ loop.index }}-canceled">
                    {{ table.order_table(city.canceled, 'canceled', cityName) }}
                </div>
                <div id="city-{{ loop.index }}-navproblems">
                    {{ table.order_table(city.nav_problems, 'nav_problems', cityName) }}
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#city_list-{{ loop.index }}').tabs();

                    if ($('#city_list-{{ loop.index }} span.glyphicon-exclamation-sign').length > 0) {
                        var tabikText = $('.city_tabik-{{ loop.index }}');

                        if (tabikText.find('span.glyphicon-exclamation-sign').length < 1) {
                            tabikText.append('<span class="glyphicon glyphicon-exclamation-sign"></span>');
                        }

                        if ($('#city-{{ loop.index }}-unassigned span.glyphicon-exclamation-sign').length > 0) {
                            var smallTabikText = $('.city-{{ loop.index }}-unassigned-tab');

                            if (smallTabikText.find('span.glyphicon-exclamation-sign').length < 1) {
                                smallTabikText.append('<span class="glyphicon glyphicon-exclamation-sign"></span>');
                            }
                        }

                        if ($('#city-{{ loop.index }}-canceled span.glyphicon-exclamation-sign').length > 0) {
                            var smallTabikText = $('.city-{{ loop.index }}-canceled-tab');

                            if (smallTabikText.find('span.glyphicon-exclamation-sign').length < 1) {
                                smallTabikText.append('<span class="glyphicon glyphicon-exclamation-sign"></span>');
                            }
                        }

                        if ($('#city-{{ loop.index }}-navproblems span.glyphicon-exclamation-sign').length > 0) {
                            var smallTabikText = $('.city-{{ loop.index }}-navproblems-tab');

                            if (smallTabikText.find('span.glyphicon-exclamation-sign').length < 1) {
                                smallTabikText.append('<span class="glyphicon glyphicon-exclamation-sign"></span>');
                            }
                        }

                        if ($('#city-{{ loop.index }}-unconfirmed span.glyphicon-exclamation-sign').length > 0) {
                            var smallTabikText = $('.city-{{ loop.index }}-unconfirmed-tab');

                            if (smallTabikText.find('span.glyphicon-exclamation-sign').length < 1) {
                                smallTabikText.append('<span class="glyphicon glyphicon-exclamation-sign"></span>');
                            }
                        }
                    }
                });
            </script>
        {% endfor %}
    </div>
    <div class="drivers_list">
        {% for city in cities %}
            {% set driverList = drivers[city] %}
            {# TODO autorefresh every city list to have a most common order count once in a while #}
            <div class="city_drivers driver_{{ city }} {% if loop.index > 1 %}hidden{% endif %}" data-city="{{ city }}">
                <table class="drivers_table">
                    <tr>
                        <th>{{ 'admin.driver.name'|trans({}, 'SonataAdminBundle') }}</th>
                        <th>{{ 'admin.driver.phone'|trans({}, 'SonataAdminBundle') }}</th>
                        {#<th>{{ 'admin.driver.type'|trans({}, 'SonataAdminBundle') }}</th>#}
                        {#<th>{{ 'admin.driver.provider'|trans({}, 'SonataAdminBundle') }}</th>#}
                        <th>{{ 'admin.driver.has_orders'|trans({}, 'SonataAdminBundle') }}</th>
                        <th></th>
                    </tr>
                    {% for driver in driverList %}
                        <tr class="{{ loop.index%2 ? 'odd' : 'even' }}">
                            <td>{{ driver['name'] }}</td>
                            <td>{{ driver['phone'] }}</td>
                            {#<td>{{ ('admin.driver.type.' ~ driver.type)|trans({}, 'SonataAdminBundle') }}</td>#}
                            {#<td>{{ driver.provider }}</td>#}
                            <td>{{ driver['order_count'] }}</td>
                            <td><button class="assign-driver btn btn-lg" item-id="{{ driver['id'] }}" disabled="disabled">{{ 'admin.dispatcher.assign'|trans({}, 'SonataAdminBundle') }}</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block list_filters %}
    {# No filter at the moment #}
{% endblock %}
