<div>
    {% for status in orderStatuses %}
    <div>
        <label class="order_status_label">
            <input type="radio" name="order_status" class="order_status" value="{{ status }}" {% if currentStatus == status %}checked="checked"{% endif %} />
            {{ ('admin.dispatcher.order_status.' ~ status)|trans({}, 'SonataAdminBundle') }}
        </label>
        {% if status == 'delayed' %}
            <div class="delay_duration_holder">
                <label for="delay_duration" class="control-label">{% trans %}mobile.order_delay_duration{% endtrans %} {% trans %}admin.dispatcher.delayed_minutes{% endtrans %}.</label>
                <select name="delay_duration" id="delay_duration" class="form-control">
                    {% for delayDuration in delayDurations %}
                        <option value="{{ delayDuration }}"{% if delayDuration == currentDelayDuration %} selected{% endif %}>{{ delayDuration }} {% trans %}admin.dispatcher.delayed_minutes{% endtrans %}.</option>
                    {% endfor %}
                </select>
            </div>
        {% elseif status == 'canceled' %}
            <div class="canceled_reason_holder">
                <label for="cancel_reason" class="control-label required">{{ 'admin.dispatcher.cancel_reason'|trans({}, 'SonataAdminBundle') }}.</label>
                <select name="cancel_reason" id="cancel_reason" class="form-control">
                    {% for cancelReason in cancelReasons %}
                        <option value="{{ cancelReason }}">{{ cancelReason }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="cancel_reason_comment" id="cancel_reason_comment" class="form-control" required="required" placeholder="{{ 'admin.dispatcher.cancel_reason_comment_placeholder'|trans({}, 'SonataAdminBundle') }}" />
            </div>
        {% elseif status == 'canceled_produced' %}
            <div class="canceled_produced_reason_holder">
                <label for="cancel_produced_reason" class="control-label required">{{ 'admin.dispatcher.cancel_reason'|trans({}, 'SonataAdminBundle') }}.</label>
                <select name="cancel_produced_reason" id="cancel_produced_reason" class="form-control">
                    {% for cancelReason in cancelReasons %}
                        <option value="{{ cancelReason }}">{{ cancelReason }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="cancel_produced_reason_comment" id="cancel_produced_reason_comment" class="form-control" required="required" placeholder="{{ 'admin.dispatcher.cancel_reason_comment_placeholder'|trans({}, 'SonataAdminBundle') }}" />
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
