<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="verify-webtopay" content="461551ad8deddc3ad0975adb27d1eff4"/>
    {{ misc_utils.getParam('fb_meta_tag', null)|raw }}
    <title>{% block title %}{% trans %}general.base_page_title{% endtrans %} | {{ page_title }}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="viewport" content="width=1000">
    <meta name="msapplication-config" content="none"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">

    {# Chosen CSS Begin #}
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/chosen/chosen.min.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("YmdH") }}" type="text/css"/>
    {% endstylesheets %}
    {# Chosen CSS End #}

    {% stylesheets '@FoodAppBundle/Resources/public/scripts/jquery-ui/custom-theme/jquery-ui-1.10.3.custom.min.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("YmdH") }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/boxer/jquery.fs.boxer.css*' %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("YmdH") }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/styles/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("YmdH") }}" type="text/css"/>
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/styles/jquery.loadmask.css' %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("YmdH") }}" type="text/css"/>
    {% endstylesheets %}

    {% block javascripts %}

        <script src="{{ asset('bundles/foodapp/scripts/top_head.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.cycle2.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.ui.selectmenu.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.raty.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/boxer/jquery.fs.boxer.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/icheck/jquery.icheck.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.loadmask.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.typeahead.js') }}"></script>
        {# <script src="{{ asset('bundles/foodapp/scripts/mediator.min.js') }}"></script> #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!--[if IE 8]>
        <script src="{{ asset('bundles/foodapp/scripts/selectivizr-min.js') }}"></script><![endif]-->
        <!--[if IE 9]>
        <script src="{{ asset('bundles/foodapp/scripts/pie_ie9.js') }}"></script><![endif]-->
        <!--[if IE 8]>
        <script src="{{ asset('bundles/foodapp/scripts/pie_ie8.js') }}"></script><![endif]-->
        {# <script src="{{ asset('bundles/foodapp/scripts/mediator.min.js') }}"></script> #}


        <script type="text/javascript">
            $.fn.raty.defaults.noRatedMsg = '{% trans %}general.raty.not_rated_yet{% endtrans %}';
            $.fn.raty.defaults.hints = [
                '{% trans %}general.raty.bad{% endtrans %}',
                '{% trans %}general.raty.poor{% endtrans %}',
                '{% trans %}general.raty.regular{% endtrans %}',
                '{% trans %}general.raty.good{% endtrans %}',
                '{% trans %}general.raty.gorgeous{% endtrans %}'
            ];
        </script>
        <script src="{{ asset('bundles/foodapp/scripts/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/bootstrap/js/bootstrap.min.js') }}"></script>

        {% javascripts '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.pack.js'
        '@FoodAppBundle/Resources/public/scripts/fancy/helpers/jquery.fancybox-media.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}

        {# Chosen JS Begin #}
        {% javascripts '@FoodAppBundle/Resources/public/scripts/chosen/chosen.jquery.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {# Chosen JS End #}

    {% endblock %}

    <script type="text/javascript">
        // facebook pixel
        {% set FBpixelCode = misc_utils.getParam('facebook_pixel_code', null) %}
        {% if FBpixelCode is not null %}
        fbq('init', '{{ FBpixelCode }}');
        {% endif %}
        fbq('track', "PageView");

        // google analytic
        ga('create', '{{ google_analytics_uid }}', 'auto', {'allowLinker': true});
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('send', 'pageview');
        ga('require', 'ec');
        ga('set', 'dimension1', new Date().getTime() + '.' + Math.random().toString(36).substring(5));


        // adform
        var _adftrack = {
            pm: 314127,
            divider: encodeURIComponent('|'),
            pagename: encodeURIComponent('Foodout.lt|Pagrindinis')
        };

        //mailersoft
        var _ml = _ml || [];
        _ml.push({account_code: 'x8e0d0o9o9y6t6n7'});
    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=901898153179068&ev=PageView&noscript=1"/>
    </noscript>
    <noscript>
        <p style="margin:0;padding:0;border:0;">
            <img src="https://track.adform.net/Serving/TrackPoint/?pm=314127&ADFPageName=Foodout.lt|Pagrindinis&ADFdivider=|" width="1" height="1" alt=""/>
        </p>
    </noscript>

    <script type="text/javascript">
        {% block ga_js_code %}{% endblock %}
    </script>

    {% if misc_utils.getparam('show_download_app_popup') == 1 %}
    <script type="text/javascript">
        (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);
        branch.init('{{misc_utils.getparam('download_app_key')}}');
    </script>
    {% endif %}

</head>
<body class="{{ app.request.locale }}">
    {{ notifications.init|raw }}
    <div class="site">
        <div id="header-ad-container"></div>
        <div class="site-top">
            <div class="site-block clearfix">
                <a href="{{ slug.toHomepage() }}" class="main-logo">
                    <img alt="{% trans %}general.base_page_title{% endtrans %} - {{ page_title }}" src="{{ asset(misc_utils.getParam('site_logo_url')) }}"/>
                </a>
                {% if localeService.getAvailable()|length > 1 %}
                <div class="langSwitcher" >
                    <div class="lang-drop">
                        {% set currentLangName = 'language_' ~ app.request.locale  %}
                        <a class="lang-chose" href="#">{{ currentLangName|trans() }} <span class="arrow-down"></span></a>
                        <ul>
                            {% for locale in localeService.getAvailable() %}
                                {% set langName = 'language_' ~ locale  %}
                                <li class="lang-item lang-{{ locale }} {% if locale == app.request.locale %}current-lang{% endif %}">
                                    <a href="{{ slug.generateUrl('food_lang_homepage_slashSwitch', [{'_locale':locale}]) }}">{{ langName|trans() }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="separator forLang"></div>
                {% endif %}

                {% set pageH = pageService.getByParam('page_help') %}
                {% if pageH %}
                <ul class="menu top-menu clearfix" data-toggle="popover" data-placement="bottom" data-content="" data-position-fix="840">
                    <li><a href="{{ slug.getUrl(pageH.getId(), 'page')}}"><span> {{ pageH.getTitle() }}</span></a></li>
                </ul>
                {% endif %}
                {% if not slug.isBanned() %}
                <ul class="menu top-menu clearfix" data-toggle="popover" data-placement="bottom" data-content="" data-position-fix="840">
                    <li class="login-ico">
                        {% render(controller('FoodUserBundle:Default:loginButton')) %}
                    </li>
                </ul>

                <div class="separator"></div>
                {% endif %}
                <div class="top-contact-block">
                    <span class="work-time">
                        <span>{% trans %}general.top_contact.worktime_days{% endtrans %}</span>
                        <span>{% trans %}general.top_contact.worktime{% endtrans %}</span>
                    </span>

                    {% if site_country != 'EE' %}
                    <span class="phone"><a href="callto:{{ 'general.top_contact.phone'|trans()|replace({" " : ""}) }}" title="">{% trans %}general.top_contact.phone{% endtrans %}</a></span>
                    {% endif %}
                </div>



            </div>
        </div>

        {% block body %}{% endblock %}
        {% block bottom_block %}
            {% include 'FoodAppBundle:Default:bottom_block.html.twig' %}
        {% endblock %}

        {{ render(controller('FoodAppBundle:Default:footer')) }}
    </div>

    {{ include('FoodAppBundle:Default:login_register.html.twig') }}
    <script src="{{ asset('bundles/foodapp/scripts/common.js')}}?{{ "now"|date("YmdH") }}"></script>
    <script src="{{ asset('bundles/foodapp/scripts/scripts.js')}}?{{ "now"|date("YmdH") }}"></script>
    {% block jscode %}{% endblock %}
    {{ misc_utils.param('footer_scripts', true)|raw }}
</body>
</html>
