<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta name="verify-webtopay" content="461551ad8deddc3ad0975adb27d1eff4" />
    <title>{% block title %}{% trans %}general.base_page_title{% endtrans %} | {{ page_title }}{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="viewport" content="width=1000">
    <meta name="msapplication-config" content="none"/>

    {# Chosen CSS Begin #}
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/chosen/chosen.min.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
    {# Chosen CSS End #}

    {% stylesheets 'bundles/foodapp/scripts/jquery-ui/custom-theme/jquery-ui-1.10.3.custom.min.css' filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/boxer/jquery.fs.boxer.css*'  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/styles/style.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("Ymd") }}" type="text/css"  />
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/styles/jquery.loadmask.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}

    {% block javascripts %}
        <script src="{{ asset('bundles/foodapp/scripts/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.cycle2.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.ui.selectmenu.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.raty.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/boxer/jquery.fs.boxer.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/icheck/jquery.icheck.min.js') }}">		</script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.placeholder.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.loadmask.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/jquery.typeahead.js') }}"></script>
        {# <script src="{{ asset('bundles/foodapp/scripts/mediator.min.js') }}"></script> #}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!--[if IE 8]><script src="{{ asset('bundles/foodapp/scripts/selectivizr-min.js') }}"></script><![endif]-->
        <!--[if IE 9]><script src="{{ asset('bundles/foodapp/scripts/pie_ie9.js') }}"></script><![endif]-->
        <!--[if IE 8]><script src="{{ asset('bundles/foodapp/scripts/pie_ie8.js') }}"></script><![endif]-->
        <script type="text/javascript">
            $.fn.raty.defaults.noRatedMsg = '{% trans %}general.raty.not_rated_yet{% endtrans %}';
            $.fn.raty.defaults.hints = [
                '{% trans %}general.raty.bad{% endtrans %}',
                '{% trans %}general.raty.poor{% endtrans %}',
                '{% trans %}general.raty.regular{% endtrans %}',
                '{% trans %}general.raty.good{% endtrans %}',
                '{% trans %}general.raty.gorgeous{% endtrans %}'
            ];
        </script>
        <script src="{{ asset('bundles/foodapp/scripts/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
        <script src="{{ asset('bundles/foodapp/scripts/bootstrap/js/bootstrap.min.js') }}"></script>

        {% javascripts '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.pack.js'
        '@FoodAppBundle/Resources/public/scripts/fancy/helpers/jquery.fancybox-media.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets '@FoodAppBundle/Resources/public/scripts/fancy/jquery.fancybox.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
        {% endstylesheets %}

        {# Chosen JS Begin #}
        {% javascripts '@FoodAppBundle/Resources/public/scripts/chosen/chosen.jquery.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {# Chosen JS End #}

    {% endblock %}
    {# Facebook retargeting script for Inspired #}
    {#<script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '1000570273293239']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1000570273293239&ev=PixelInitialized" /></noscript>#}

    {# Facebook Pixel Code Begin #}
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '901898153179068');
        fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=901898153179068&ev=PageView&noscript=1" /></noscript>
    {# Facebook Pixel Code End #}

    {% block adnet_retargeting %}
        <!-- Adform Tracking Code BEGIN -->
        <script type="text/javascript">
            var _adftrack = {
                pm: 314127,
                divider: encodeURIComponent('|'),
                pagename: encodeURIComponent('Foodout.lt|Pagrindinis')
            };
            (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

        </script>
        <noscript>
            <p style="margin:0;padding:0;border:0;">
                <img src="https://track.adform.net/Serving/TrackPoint/?pm=314127&ADFPageName=Foodout.lt|Pagrindinis&ADFdivider=|" width="1" height="1" alt="" />
            </p>
        </noscript>
        <!-- Adform Tracking Code END -->
    {% endblock %}
    {% block delfi_js %}{% endblock %}

    <!-- mailersoft begin -->
    <script type="text/javascript">
        var _ml = _ml || [];
        _ml.push({account_code: 'x8e0d0o9o9y6t6n7'});
        (function() {
            var mlo = document.createElement('script'); mlo.type = 'text/javascript'; mlo.async = true; mlo.src = '//app.mailersoft.com/ecommerce/v4/track.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mlo, s);
        })();
    </script>
    <!-- mailersoft end -->

    {# TODO Pasalinti jei neveiks vis dar.. Revive Single page load multiple banners #}
    {#{% if site_country == 'LT' %}
        &#123;&#35; Revive Ads init for foodout.lt &#35;&#125;
        <script type="text/javascript">
            var OA_zones = {
                'zone-22' : 14, 'zona-a': 8,'zone-1' : 13, 'zona-3' : 15
            };
//            console.log('preloadinam zonu identifikatorius');
//            console.log(OA_zones);
//            console.log('bandom uzsikraut revive single page loader scripta');
        </script>
        &#123;&#35;<script type='text/javascript' src='http://ads.foodout.lt/delivery/spcjs.php'></script>&#35;&#125;
    {% elseif site_country == 'LV' %}
        &#123;&#35; Revive Ads init for foodout.lv &#35;&#125;
    {% endif %}#}
</head>
<body>
{{ notifications.init|raw }}
<div class="site">
    {% block delfi_banner %}{% endblock %}
    <div class="site-top">
        <div class="site-block clearfix">
            <a href="{{ path('food_lang_homepage') }}" class="main-logo">
                {#<img alt="Kalėdos" src="{{ asset('bundles/foodapp/images/vaida.png') }}" />#}
                <img alt="{% trans %}general.base_page_title{% endtrans %} - {{ page_title }}" src="{% if site_country == 'LT' %}{{ asset('bundles/foodapp/images/logo_food.png') }}{% else %}{{ asset('bundles/foodapp/images/logo_food2.png') }}{% endif %}" />
            </a>

            {# <p class="contact-phone">1822 <span>užsakymas telefonu</span></p> #}
            <ul class="menu top-menu clearfix" data-toggle="popover" data-placement="bottom" data-content="" data-position-fix="840">
                <li><a href="{{ path('food_slug', {'slug': ('general.help_slug'|trans())}) }}"><span>{% trans %}general.help_button{% endtrans %}</span></a></li>
            </ul>
            <ul class="menu top-menu clearfix" data-toggle="popover" data-placement="bottom" data-content="" data-position-fix="840">
                <li class="login-ico">
                    {% render(controller('FoodUserBundle:Default:loginButton')) %}
                </li>
            </ul>
            <div class="separator"></div>
            <div class="top-contact-block">
                <span class="work-time">
                    <span>{% trans %}general.top_contact.worktime_days{% endtrans %}</span>
                    <span>{% trans %}general.top_contact.worktime{% endtrans %}</span>
                </span>
                <span class="phone"><a href="tel://{{ 'general.top_contact.phone'|trans()|replace({" " : ""}) }}" title="">{% trans %}general.top_contact.phone{% endtrans %}</a></span>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}
        <div class="site-center site-center-bottom">
            <div class="site-block">
                <div class="clearfix bottom-blocks">

                    {% include 'FoodAppBundle:Default:bottom_block.html.twig' %}

                    {% if show_apps_download %}
                    <div class="app-block clearfix"><img src="http://{{ cloudfront_url }}{{ asset('bundles/foodapp/images/app-view.png') }}">
                        <div class="app-block-inner">
                            <h3>{% trans %}general.app_block.header{% endtrans %}</h3>
                            <p>{% trans %}general.app_block.promo_text{% endtrans %}</p>
                            <div><a target="_BLANK" href="https://itunes.apple.com/us/app/foodout/id919992168"><img src="http://{{ cloudfront_url }}{{ asset('bundles/foodapp/images/app-store.png') }}"></a><a target="_BLANK" href="https://play.google.com/store/apps/details?id=co.lemonlabs.android.foodout#"><img src="http://{{ cloudfront_url }}{{ asset('bundles/foodapp/images/g-store.png') }}"></a></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {{ render(controller('FoodAppBundle:Default:footer')) }}
</div>

{{ include('FoodAppBundle:Default:login_register.html.twig') }}

<script src="{{ asset('bundles/foodapp/scripts/common.js')}}"></script>
<script src="{{ asset('bundles/foodapp/scripts/scripts.js')}}"></script>
<script type="text/javascript">
    {# var mediator = new Mediator(); #}
    {% block jscode %}{% endblock %}
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_uid }}', 'auto', {'allowLinker': true });
    ga('require', 'displayfeatures');
    ga('require', 'linker');
    ga('send', 'pageview');
    ga('require', 'ec');
    {# ga('linker:autoLink', ['{{ publicdomain }}', '1000receptu.lt']); #}
    var dimensionValue = new Date().getTime() + '.' + Math.random().toString(36).substring(5);
    ga('set', 'dimension1', dimensionValue);

    {% block ga_js_code %}{% endblock %}


    {#
        {% render(controller('FoodAppBundle:Default:showVideo')) %}
    #}

    {% if track_conversions %}
    (function () {
        var a = document.createElement("iframe");
        a.style.cssText = "width: 0; height: 0; border: 0; display: none;";
        a.src = "javascript:false";
        var b = function () {
            setTimeout(function () {
                var b = a.contentDocument || a.contentWindow.document, c = b.createElement("script");
                c.src = "//static-trackers.adtarget.me/javascripts/pixel.min.js";
                c.id = "GIHhtQfW-atm-pixel";
                c["data-pixel"] = "990d8a91b1fde610d377fae55d911552";
                c["allow-flash"] = true;
                b.body.appendChild(c);
            }, 0);
        };
        a.addEventListener ? a.addEventListener("load", b, !1) : a.attachEvent ? a.attachEvent("onload", b) : a.onload = b;
        document.body.appendChild(a);
    })();
    {% endif %}

</script>
{# OptinMonster Begin #}
{% if site_country == 'LT' %}
    <div id="om-gmssbdmvmkpglj50-holder"></div><script>var gmssbdmvmkpglj50,gmssbdmvmkpglj50_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){gmssbdmvmkpglj50_poll(function(){if(window['om_loaded']){if(!gmssbdmvmkpglj50){gmssbdmvmkpglj50=new OptinMonsterApp();return gmssbdmvmkpglj50.init({u:"11462.303554",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;gmssbdmvmkpglj50=new OptinMonsterApp();gmssbdmvmkpglj50.init({u:"11462.303554",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
    <div id="om-fyi02zidebhgsg8v-holder"></div><script>var fyi02zidebhgsg8v,fyi02zidebhgsg8v_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){fyi02zidebhgsg8v_poll(function(){if(window['om_loaded']){if(!fyi02zidebhgsg8v){fyi02zidebhgsg8v=new OptinMonsterApp();return fyi02zidebhgsg8v.init({u:"11462.218873",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optinmonster.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;fyi02zidebhgsg8v=new OptinMonsterApp();fyi02zidebhgsg8v.init({u:"11462.218873",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
    <div id="om-gmssbdmvmkpglj50-holder"></div><script>var gmssbdmvmkpglj50,gmssbdmvmkpglj50_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){gmssbdmvmkpglj50_poll(function(){if(window['om_loaded']){if(!gmssbdmvmkpglj50){gmssbdmvmkpglj50=new OptinMonsterApp();return gmssbdmvmkpglj50.init({u:"11462.303554",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;gmssbdmvmkpglj50=new OptinMonsterApp();gmssbdmvmkpglj50.init({u:"11462.303554",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
{% elseif site_country =='LV' %}
    <div id="om-uthsh0y0gpo4qpoz-holder"></div><script>var uthsh0y0gpo4qpoz,uthsh0y0gpo4qpoz_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){uthsh0y0gpo4qpoz_poll(function(){if(window['om_loaded']){if(!uthsh0y0gpo4qpoz){uthsh0y0gpo4qpoz=new OptinMonsterApp();return uthsh0y0gpo4qpoz.init({u:"11462.236385",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;uthsh0y0gpo4qpoz=new OptinMonsterApp();uthsh0y0gpo4qpoz.init({u:"11462.236385",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
{% endif %}
{# OptinMonster End #}

{# LiveChat Begin #}
{% if site_country == 'LT' %}
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//v2.zopim.com/?42SVyht9EGv3mgnGxf8w5k36uYvzjvuZ';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
{% endif %}
{# LiveChat End #}
</body>
</html>
