<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="verify-webtopay" content="461551ad8deddc3ad0975adb27d1eff4" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1000">
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/jquery-ui/custom-theme/jquery-ui-1.10.3.custom.min.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/scripts/boxer/jquery.fs.boxer.css*'  %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
    {% stylesheets '@FoodAppBundle/Resources/public/styles/style.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"  />
    {% endstylesheets %}
</head>
<body>
<div class="site">
    <div class="site-top">
        <div class="site-block clearfix"><a href="#" class="main-logo"><img src="{{ asset('bundles/foodapp/images/main-logo.png') }}"></a>
            <p class="contact-phone">1822 <span>užsakymas telefonu</span></p>
            <ul class="menu top-menu clearfix">
                <li><a href="#"><span>Pagalba</span></a></li>
                <li class="login-ico"><a href="#login-register-popup" class="boxer"><span>Prisijunk</span></a></li>
            </ul>
        </div>
    </div>
    <div style="background-image: url({{ asset('bundles/foodapp/images/offer-1.jpg') }});" class="site-header special-offer-block">
        <div class="site-block">
            <h1>Užsisakykite maistą į<br/> namus ar biurą</h1>
            <form class="search-food-form">
                <p class="title">Įveskite savo adresą ir sužinokite, kurie restoranai atveš nom nom</p>
                <div class="clearfix">
                    <input type="text" placeholder="Miestas">
                    <input type="text" placeholder="Gatvė" class="input-street">
                    <input type="submit" value="Ieškoti maisto">
                </div>
            </form>
        </div>
        <p class="img-description">Svaigioji pica, Čili pica, 25 Lt</p>
    </div>
    <div class="site-center">
        <div class="site-block">
            <div class="items-list-title clearfix">
                <h2>Geri pasiūlymai</h2><a href="#" class="button">daugiau pasiūlymų</a>
            </div>
            <div class="items-list clearfix">
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-1.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-2.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"<img src="{{ asset('bundles/foodapp/images/cupo-3.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-4.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
                <div class="items-list-col"><a href="#" class="cupom-item">
                        <div class="cupon-top"><img src="{{ asset('bundles/foodapp/images/cupo-5.png') }}">
                            <p class="cupon-name">Pica už ačiū!</p>
                            <p class="cupon-desc">Akcija galioja užsisakant dvi ir daugiau picų.</p>
                        </div>
                        <div class="cupon-bottom">
                            <div class="button">Gauk šį pasiūlymą!</div>
                        </div></a></div>
            </div>
            <div class="items-list-title clearfix">
                <h2>Mūsų rekomenduojami restoranai</h2><a href="#" class="button">daugiau pasiūlymų</a>
            </div>
            <div class="items-list clearfix">
                <div class="items-list-col"><a href="#" class="restoran-item">
                        <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-1.png') }}"></div>
                        <p class="restoran-name">Pica už ačiū!</p>
                        <div data-stars="4" class="restoran-rating"></div></a></div>
                <div class="items-list-col"><a href="#" class="restoran-item">
                        <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-2.png') }}"></div>
                        <p class="restoran-name">Pica už ačiū!</p>
                        <div data-stars="5" class="restoran-rating"></div></a></div>
                <div class="items-list-col"><a href="#" class="restoran-item">
                        <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-3.png') }}"></div>
                        <p class="restoran-name">Pica už ačiū!</p>
                        <div data-stars="5" class="restoran-rating"></div></a></div>
                <div class="items-list-col"><a href="#" class="restoran-item">
                        <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-4.png') }}"></div>
                        <p class="restoran-name">Pica už ačiū!</p>
                        <div data-stars="5" class="restoran-rating"></div></a></div>
                <div class="items-list-col"><a href="#" class="restoran-item">
                        <div class="restoran-item-top"><img src="{{ asset('bundles/foodapp/images/res-5.png') }}"></div>
                        <p class="restoran-name">Pica už ačiū!</p>
                        <div data-stars="3" class="restoran-rating"></div></a></div>
            </div>
            <div class="clearfix bottom-blocks">
                <div class="app-block clearfix"><img src="{{ asset('bundles/foodapp/images/app-view.png') }}">
                    <div class="app-block-inner">
                        <h3>Skanu.lt <br/>tavo kišenėje!</h3>
                        <p>Lorem ipsum dolor sit amet, enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliqip ex commodo consequat.</p>
                        <div><a href="#"><img src="{{ asset('bundles/foodapp/images/app-store.png') }}"></a><a href="#"><img src="{{ asset('bundles/foodapp/images/g-store.png') }}"></a></div>
                    </div>
                </div>
                <div class="newsletter-block">
                    <h4>Naujienlaiškis</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do enim ad minim veniam, quis nostrud.</p>
                    <form class="newsletter-form">
                        <input type="text" placeholder="Tavo el. paštas">
                        <input type="submit" value="Prenumeruok">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer">
        <div class="site-block clearfix">
            <div class="col col-1">
                <h5>Maisto ralis</h5>
                <ul class="menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">1822 in press</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col col-2">
                <h5>Daugiau nuorodu</h5>
                <ul class="menu">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">1822 in press</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col col-3">
                <h5>TOP restoranai</h5>
                <div class="clearfix">
                    <div class="small-col fl">
                        <div class="clearfix"><span class="name fl"><a href="#">Čili pica</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Soya</a></span>
                            <div data-stars="4" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Forrester</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Indai</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Hesburger</a></span>
                            <div data-stars="4" class="restoran-rating fr"></div>
                        </div>
                    </div>
                    <div class="small-col fr">
                        <div class="clearfix"><span class="name fl"><a href="#">Čili pica</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Soya</a></span>
                            <div data-stars="4" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Forrester</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Indai</a></span>
                            <div data-stars="5" class="restoran-rating fr"></div>
                        </div>
                        <div class="clearfix"><span class="name fl"><a href="#">Hesburger</a></span>
                            <div data-stars="4" class="restoran-rating fr"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-4"><img src="{{ asset('bundles/foodapp/images/bottom-logo.png') }}">
                <p class="copyrights">&copy; Skanu.lt</p>
            </div>
        </div>
    </div>
</div>
<div id="detailed-dish-popup" style="display: none;">
    <form class="popup detailed-dish-popup"><img src="{{ asset('bundles/foodapp/images/popup-header.png') }}" class="popup-header">
        <div class="dish-info">
            <p class="name">San Remo pica</p>
            <p class="desc">Šoninė, sūris, aitrusis "Čili picos Leco" padažas, pomidorų padažas</p>
        </div>
        <div class="dish-size">
            <div class="title">Pasirinkite dydį</div>
            <div class="clearfix">
                <label class="custom-radio">Maža pica, 25cm <strong class="price">15,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Vidutinė pica, 28cm<strong class="price">18,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Maža pica, 32cm <strong class="price">21,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
                <label class="custom-radio">Šeimyninė pica, 45cm <strong class="price">33,00 Lt</strong>
                    <input type="radio" name="size-1">
                </label>
            </div>
        </div>
        <div class="dish-ingredients">
            <div class="title">Ar norėtumėt papildomų reikaliukų?</div>
            <div class="clearfix">
                <label class="custom-checkbox">Agurkas<strong class="price">+1,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Pomidoras<strong class="price">+1,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Grietinė<strong class="price">+2,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Artišokai<strong class="price">+3,00 Lt</strong>
                    <input type="checkbox">
                </label>
                <label class="custom-checkbox">Paprika<strong class="price">+3,00 Lt</strong>
                    <input type="checkbox">
                </label>
            </div>
        </div>
        <div class="popup-controls"><a href="#" class="button-submit"><span>Pridėti į krepšelį</span></a></div>
    </form>
</div>
<div id="login-register-popup" style="display: none;">
    <div class="popup login-register-popup clearfix">
        <form class="lefter login-form">
            <h3>Prisijunkite</h3>
            <h4>Esate užsiregistravęs? Prisijunkite!</h4>
            <div class="form-row">
                <label>El. paštas</label>
                <input type="text">
            </div>
            <div class="form-row small-margin">
                <label>Slaptažodis</label>
                <input type="password">
            </div>
            <div class="tar"><a href="#">Pamiršote slaptažodį?</a></div>
            <div class="form-controls clearfix">
                <label class="fl custom-checkbox">Prisiminti mane
                    <input type="checkbox">
                </label>
                <input type="submit" value="prisijunkite" class="fr">
            </div>
        </form>
        <div class="righter register-form">
            <h3>Naujas vartotojas?</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur </h4>
            <div class="form-row">
                <label>Vardas</label>
                <input type="text">
            </div>
            <div class="form-row">
                <label>Pavardė</label>
                <input type="text">
            </div>
            <div class="form-row">
                <label>El. paštas</label>
                <input type="text">
            </div>
            <div class="form-row">
                <label>Slaptažodis</label>
                <input type="password">
            </div>
            <div class="form-row">
                <label class="double">Pakartokite slaptažodį</label>
                <input type="password">
            </div>
            <div class="form-controls clearfix">
                <input type="submit" value="prisiregistruokite" class="fr">
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('bundles/foodapp/scripts/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/jquery.cycle2.min.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/jquery.ui.selectmenu.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/jquery.raty.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/boxer/jquery.fs.boxer.min.js') }}"></script>
<script src="{{ asset('bundles/foodapp/scripts/icheck/jquery.icheck.min.js') }}">		</script>
<script src="{{ asset('bundles/foodapp/scripts/jquery.placeholder.min.js') }}"></script>
<!--[if IE 8]><script src="{{ asset('bundles/foodapp/scripts/selectivizr-min.js') }}"></script><![endif]-->
<!--[if IE 9]><script src="{{ asset('bundles/foodapp/scripts/pie_ie9.js') }}"></script><![endif]-->
<!--[if IE 8]><script src="{{ asset('bundles/foodapp/scripts/pie_ie8.js') }}"></script><![endif]-->
<script src="{{ asset('bundles/foodapp/scripts/scripts.js')}} "></script>
</body>
</html>