<div class="form-row form-row-required">
    <label>{% trans %}cart.checkout.company_name{% endtrans %}:</label>
    <input type="text" disabled="disabled" name="company_name" placeholder="{% trans %}cart.checkout.company_name_placeholder{% endtrans %}" value="{{ app.user.companyName|default('') }}" />
</div>
{% if app.user.requiredDivision|default(false) %}
<div class="form-row form-row-required">
    <label>{% trans %}cart.checkout.company_division_code{% endtrans %}:</label>
    <input type="text" name="company_division_code" placeholder="{% trans %}cart.checkout.company_division_code_placeholder{% endtrans %}" value="{% if (dataToLoad is not empty and dataToLoad['company_division_code'] is not empty) %}{{ dataToLoad['company_division_code'] }}{% endif %}" />
</div>
{% endif %}
<div class="form-row form-row-required">
    <label>{% trans %}cart.checkout.firstname{% endtrans %}:</label>
    <input type="text" name="customer-firstname" value="{% if (dataToLoad is not empty and dataToLoad['customer-firstname'] is not empty) %}{{ dataToLoad['customer-firstname'] }}{% else %}{{ app.user.firstname|default('') }}{% endif %}" placeholder="{% trans %}general.name.placeholder{% endtrans %}" />
</div>
<div class="form-row">
    <label>{% trans %}cart.checkout.lastname{% endtrans %}:</label>
    <input type="text" name="customer-lastname" value="{% if (dataToLoad is not empty and dataToLoad['customer-lastname'] is not empty) %}{{ dataToLoad['customer-lastname'] }}{% else %}{{ app.user.lastname|default('') }}{% endif %}" placeholder="{% trans %}general.lastname.placeholder{% endtrans %}" />
</div>
<div class="form-row form-row-required">
    <label>{% trans %}cart.checkout.email{% endtrans %}:</label>
    <input type="text" disabled="disabled" name="customer-email" value="{{ app.user.email|default('') }}" placeholder="{% trans %}general.email.placeholder{% endtrans %}" />
</div>
<div class="form-row form-row-required">
    <label>{% trans %}cart.checkout.phone{% endtrans %}: <span title="{% trans %}cart.checkout.phone_tooltip{% endtrans %}" class="tooltip tooltip-icon ui-icon ui-icon-info"></span></label>
    <input type="text" id="customer-phone-id" name="customer-phone" placeholder="{% trans %}cart.checkout.phone_placeholder{% endtrans %}" value="{% if (dataToLoad is not empty and dataToLoad['customer-phone'] is not empty) %}{{ dataToLoad['customer-phone'] }}{% else %}{{ app.user.phone|default('') }}{% endif %}" />
</div>
<script>
    $(document).ready(function(){
        if ($("#customer-phone-id").val()=="") {
            $("#customer-phone-id").val('{% trans %}cart.checkout.phone.prefill_phone{% endtrans %}');
        }
    });
</script>
{# Preorder block#}
<div class="form-row">
    <label><br></label>
    <div class="order-type-radios clearfix">
        <label class="custom-radio">{% trans %}cart.checkout.order_now{% endtrans %}
            <input type="radio" name="pre-order" value="not-this-time" {% if dataToLoad is empty or (dataToLoad is not empty and dataToLoad['pre-order'] is not empty and dataToLoad['pre-order'] == "not-this-time") %}checked="checked"{% endif %}>
        </label>
        <label class="custom-radio">{% trans %}cart.checkout.order_later{% endtrans %}
            <input type="radio" name="pre-order" value="it-is" {% if (dataToLoad is not empty and dataToLoad['pre-order'] is not empty and dataToLoad['pre-order'] == "it-is") %}checked="checked"{% endif %}>
        </label>
    </div>
</div>
<div class="preorder_dates {% if dataToLoad is empty or (dataToLoad is not empty and dataToLoad['pre-order'] is not empty and dataToLoad['pre-order'] == "not-this-time") %}hidden{% endif %}" >
    <div class="form-row">
        <label>{% trans %}cart.checkout.delivery_date{% endtrans %}:</label>
        <select class="custom-select" name="pre_order_date" id="pre_order_date">
            {% for dayCounter in 0 .. (workingDaysCount-1) %}
                <option value="{{ "+#{dayCounter} day"|date("Y-m-d") }}" {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "+#{dayCounter} day"|date("Y-m-d")) %}selected="selected"{% endif %}>
                    {{ "+#{dayCounter} day"|date()|localizeddate('none', 'none', locale, null, 'eeee, MMM d')|capitalize }} d.
                </option>
            {% endfor %}
            {#
            {% if workingHoursToday is not empty%}
                <option id="today_date" value='{{ "now"|date("Y-m-d") }}' {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "now"|date("Y-m-d")) %}selected="selected"{% endif %}>
                    {{ "now"|date()|localizeddate('none', 'none', locale, null, 'eeee, MMM d')|capitalize }} d.
                </option>
            {% endif %}
            {% if workingHoursTommorow is not empty%}
                <option id="tommorow_date" value="{{ "+1 day"|date("Y-m-d") }}" {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "+1 day"|date("Y-m-d")) %}selected="selected"{% endif %}>
                    {{ "+1 day"|date()|localizeddate('none', 'none', locale, null, 'eeee, MMM d')|capitalize }} d.
                </option>
            {% endif %}
            #}
        </select>
    </div><div class="form-row">
        <label>{% trans %}cart.checkout.delivery_time{% endtrans %}:</label>
        <select id="pre_order_time" class="custom-select today_times {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty ) %}hidden{% endif %}" name="pre_order_time" >
            {% if dataToLoad is not empty and dataToLoad['pre_order_date'] %}
                {% set useDateForPre = dataToLoad['pre_order_date'] %}
            {% else %}
                {% set useDateForPre = "now"|date("Y-m-d") %}
            {% endif %}
            {% for hourInfo in  workingHoursForInterval[useDateForPre] %}
                <option value="{{ hourInfo }}" {% if dataToLoad is not empty and dataToLoad['pre_order_time'] and dataToLoad['pre_order_time'] == hourInfo%}selected{% endif %} >{{ hourInfo }}</option>
            {% endfor %}


            {#
                                                    <div class="today_times" >
            {% for time in workingHoursToday %}
                {% if time > ("+1 hour")|date("H:i") %}
                <option value="{{ time }}" {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "now"|date("Y-m-d")) %}selected="selected"{% endif %}>
                    {{ time }}
                </option>
                {% endif %}
            {% endfor %}
        #}
        </select>
        {#
        <select class="custom-select tommorow_times {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "now"|date("Y-m-d")) %}hidden{% endif %}" name="pre_order_time_tommorow" {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "now"|date("Y-m-d")) %}disabled="disabled"{% endif %}">
            {% for time in workingHoursTommorow %}
                <option value="{{ time }}" {% if (dataToLoad is not empty and dataToLoad['pre_order_date'] is not empty and dataToLoad['pre_order_date'] == "now"|date("Y-m-d")) %}selected="selected"{% endif %}>
                    {{ time }}
                </option>
            {% endfor %}
        </select>
        #}
    </div>
</div>
{# Preorder block end #}
<div class="form-row">
    <label>{% trans %}cart.checkout.delivery_comment{% endtrans %}:</label>
    <textarea cols="20" rows="4" name="customer-comment" placeholder="{% trans %}cart.checkout.delivery_comment_placeholder{% endtrans %}">{% if (dataToLoad is not empty and dataToLoad['customer-comment'] is not empty) %}{{ dataToLoad['customer-comment'] }}{% endif %}</textarea>
</div>