{% extends 'FoodAppBundle::layout.html.twig' %}


{% block jscode %}
    /**
     * @todo Migrate to JS file
     */
    $(document).ready(function(){
        $('.site-center').delegate('.delivery-info-form .submit-button', 'click', function(event){
            Cart.submitOrder($(this).closest(".delivery-info-form"));
            event.stopPropagation();
            event.preventDefault();
            return false;
        });

        $('.address-change').click(function(e){
            if($(e.target).is('span') || $(e.target).is('input')) {
                var click_callback, data_callback;

                click_callback = function(options) {
                    if (options.response.data.success == 1 &&
                        options.response.data.adr == 1)
                    {
                        if (options.response.data.nodelivery == 1) {
                            options.dialog.unmask();
                            $.fancybox.close();
                            toTakeOrNotToTake();
                        } else {
                            window.location.reload();
                        }
                    } else {
                        options.dialog.unmask();
                        options.alert.show();
                        setTimeout(function(){
                            options.alert.hide();
                        }, 5000);
                    }
                }

                data_callback = function() {
                    return { city: $('.city-row select').val(),
                             address: $('.address-row input').val(),
                             place: {{ place.id }} };
                }

                change_location($('#change-address'),
                                click_callback,
                                data_callback,
                                '{% trans %}cart.checkout.address_change_change{% endtrans %}',
                                '{% trans %}cart.checkout.address_change_cancel{% endtrans %}',
                                '{{ url('food_ajax', {'action': 'find-address-and-recount'}) }}');
            }
        });

        function toTakeOrNotToTake() {
            $('#place-point-not-found').dialog({
                modal: true,
                resizable:false,
                width:360,
                buttons: {
                    'i_take_it': {
                        text: '{% trans %}cart.checkout.i_will_take_it{% endtrans %}',
                        click: function() {
                            window.location.href = '{{ path('food_cart', {placeId: place.id, takeAway: 1}) }}';
                        },
                    },
                    'show_the_list': {
                        text: '{% trans %}cart.checkout.show_me_places{% endtrans %}',
                        click: function() {
                            $(this).parent().mask();
                            window.location.href = '{{ path('food_places_' ~ locale ~ '_main') }}';
                        }
                    }
                }
            }).siblings('.ui-dialog-titlebar').remove();
        }
        $('.tooltip, .checkout-pickup-place-tooltip').tooltip();

        $('#coupon_form').bind('submit', function() {
            $('.coupon_form_popup .button-submit').trigger('click');
            return false;
        });

        $('.coupon_form_popup .button-submit').bind('click', function() {
            var couponField = $('input#coupon_code_popup');
            var popupInner = $(this).closest('.coupon_inner');
            popupInner.mask();

            $.ajax({
                type: 'GET',
                url: '{{ path('food_ajax', {'action': 'check-coupon'}) }}',
                data:  { place_id: '{{ place.id }}', coupon_code: couponField.val()},
                success:  function(resp){
                    if (resp.status == 1) {
                        var takeAway = 0;
                        if ($('input[name="delivery-type"]:checked').val() == 'pickup') {
                            takeAway = 1;
                        }
                        $.post('{{ path('food_cart_action', {'action' : 'refresh'}) }}', { place: {{ place.id }}, in_cart: 1, coupon_code: couponField.val(), take_away: takeAway }, function(response) {
                            if (typeof(response.block) != "undefined") {
                                $('.check-block').replaceWith(response.block);
                            }
                            popupInner.unmask();
                            // move data to main form
                            $('#coupon_code').val(couponField.val());
                            couponField.val('');
                            popupInner.find('.alert.alert-danger').remove();
                            $.fancybox.close();
                        }, 'json');
                    } else {
                        var dangerAlert = popupInner.find('.alert.alert-danger');
                        $('#coupon_code').val('');
                        if (dangerAlert.length > 0) {
                            dangerAlert.html(resp.data.error);
                        } else {
                            popupInner.prepend('<div class="alert alert-danger">'+resp.data.error+'</div>');
                        }
                        popupInner.unmask();
                    }
                }
            });
        });

        $('#company_order').on('ifToggled', function(event){
            if (event.target.checked) {
                $('.company_data').removeClass('hidden');
            } else {
                $('.company_data').addClass('hidden');
            }
        });
        {#
        // Holy shit. Delete it...
        $('#today_date').on('click', function(event){
            console.log('TODAY DAY CLICKED');
            if ($(this).is('checked')) {
                console.log('TODAY DAY IS CHECKED');
                $('.today_times').removeClass('hidden').attr('disabled', false);
                $('.tommorow_times').addClass('hidden').attr('disabled', true);
            }
        });
        $('#tommorow_date').on('click', function(event){
            console.log('TOMORROW DAY CLICKED');
            if ($(this).is('checked')) {
                console.log('TOMORROW DAY IS CHECKED');
                $('.today_times').addClass('hidden').attr('disabled', true);
                $('.tommorow_times').removeClass('hidden').attr('disabled', false);
            }
        });
        #}

        var orderingHours = [];
        {% for day, dayInfo in workingHoursForInterval %}
            orderingHours['{{ day }}'] = [{% for hourInfo in  dayInfo%}{% if loop.index0 != 0 %},{% endif %}'{{ hourInfo }}'{% endfor %}];
        {% endfor %}


        $("#pre_order_date").on( "selectmenuselect", function( event, ui ) {
            changeTheTimes(ui.value);
        });
        function changeTheTimes(newDate) {
            var newHtml = "";
            for (var cnt = 0; cnt < orderingHours[newDate].length; cnt++) {
                newHtml+='<option value="'+orderingHours[newDate][cnt]+'">'+orderingHours[newDate][cnt]+'</option>' + "\n";
            }
            $("#pre_order_time").html(newHtml).selectmenu();
        }

    });
{% endblock %}
{% block ga_js_code %}
    $(document).ready(
        function() {
            $('body .delivery-type-radios .custom-radio, body .delivery-type-radios .custom-radio .iCheck-helper').click(
                function(){
                    var opt = "";
                    if ($(this).is('.custom-radio')) {
                        opt = $(this).find('input').val();

                    } else {
                        opt = $(this).parent().find('input').val();
                    }

                    var nav = '{{ place.navision }}';

                    with ($('.for_hiding')) {
                        if ('1' === nav) {
                            if (opt == 'pickup') {
                                $('.iradio input[type="radio"]', '.select-payment, .select-bank').iCheck('uncheck');
                                hide();
                            } else {
                                show();
                            }
                        }
                    }

                    ga('ec:setAction', 'checkout_option', {'step': 2, 'option': opt});
                }
            );


            $('body .cart-rules.custom-checkbox, body .cart-rules.custom-checkbox .iCheck-helper').click(
                function(){
                    var opt = "";
                    if ($(this).is('.custom-radio')) {
                        opt = $(this).find('input').is(':checked');

                    } else {
                        opt = $(this).parent().find('input').is(':checked');
                    }
                    ga('ec:setAction', 'checkout_option', {'step': 4, 'option': opt});
                }
            );
        }
    );
{% endblock %}
{% block body %}
    {# Facebook InitiateCheckout Begin #}
    <script>fbq('track', 'InitiateCheckout');</script>
    {# Facebook InitiateCheckout End #}
    {% include 'FoodDishesBundle:Place:dish_cart_partial.html.twig' %}

    {% javascripts '@FoodAppBundle/Resources/public/js_main/order.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                Cart.placeId = {{ place.id }};
                Cart.locale = '{{ app.request.get('_locale') }}';
                Cart.bindEvents();
            });
        </script>

        {% if takeAway and '1' == place.navision %}
            <script type="text/javascript">
                $(window).load(function() {
                    $('.for_hiding').hide();
                });
            </script>
        {% endif %}
    {% endjavascripts %}
    <div class="site-center">
        <div class="site-block">
            <div class="page-title no-page-path">
                <h1 class="clearfix"><span>{% trans %}cart.checkout.main_title{% endtrans %}</span></h1>
            </div>
            <div class="clearfix">
                <div class="content-lefter-big">
                    <form class="delivery-info-form" method="post" action="" data-delivery-action="{{ url('food_cart', {placeId: place.id}) }}" data-pickup-action="{{ url('food_cart', {placeId: place.id, takeAway: 1})}}">
                        <div class="delivery-info-form-content">
                            <h2>1. {% trans %}cart.checkout.block_title_delivery{% endtrans %}</h2>
                            {% if formHasErrors %}
                            <div class="form-row">
                                <div class="alert alert-warning">
                                    {% for err in formErrors %}
                                        {% if err is iterable %}
                                            <li>{{ err.message|trans({'%text%': err.text})|raw }}</li>
                                        {% else %}
                                            <li>{{ err|trans|raw }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <script>
                                $(document).ready(function() {
                                    {% for err in formErrors %}
                                        {% if err is iterable %}
                                            ga('ec:setAction', 'checkout_option', {'step': 3, 'option': '{{ err.message|trans({'%text%': err.text})}}'});
                                        {% else %}
                                            ga('ec:setAction', 'checkout_option', {'step': 3, 'option': '{{ err|trans }}'});
                                        {% endif %}
                                    {% endfor %}
                                });
                            </script>
                            {% endif %}
                            <div class="form-row">
                                <label><br></label>
                                <div class="delivery-type-radios clearfix">
                                    {% if place.deliveryOptions == 'delivery_and_pickup' or place.deliveryOptions == 'delivery' %}
                                        <label class="custom-radio">{% trans %}cart.checkout.delivery_to_home{% endtrans %}
                                            <input type="radio" name="delivery-type" value="deliver"{% if ((order is not null and order.deliveryType == 'deliver') or order is null) and takeAway == false %} checked="checked"{% endif %}>
                                        </label>
                                    {% endif %}
                                    {% if (place.deliveryOptions == 'delivery_and_pickup' or place.deliveryOptions == 'pickup') and not app.user.isBussinesClient|default(false) %}
                                        <label class="custom-radio">{% trans %}cart.checkout.delivery_i_pickup{% endtrans %}
                                            <input type="radio" name="delivery-type" value="pickup"{% if (order is not null and order.deliveryType == 'pickup') or takeAway == true %} checked="checked"{% endif %}>
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                            {# Pristatysime i namus - duodam susitvarkyti adresus #}
                            {#% if takeAway == false %#}
                            <div class="takeaway-not {% if takeAway == true %}hide{% endif %}">
                                <div class="form-row form-row-required address-change">
                                    <label>{% trans %}cart.checkout.city{% endtrans %}:</label>
                                    <select class="custom-select" disabled="true">
                                        {% for city in available_cities %}
                                            <option value="{{ city|trim }}" {% if location and location.city is defined and (location.city == city or location.city == city|replace({'ė':'e'})) %}selected{% else %}{% if userAddress and userAddress.city is defined and (userAddress.city == city or userAddress.city == city|replace({'ė':'e'})) %}selected{% endif %}{% endif %}>{{ city }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-row form-row-required address-change">
                                    <label>{% trans %}cart.checkout.address{% endtrans %}:</label>
                                    <input type="text"
                                           id="address"
                                           value="{% if location and  location.address_orig is defined %}{{ location.address_orig }}{% else %}{{ userAddress.address|default('') }}{% endif %}"
                                           placeholder="{{ 'index.street'|trans }}"
                                           readonly>
                                </div>
                            </div>
                            {# Atsiims pats - leidziame pasirinkti padalini #}
                            {#% else %#}
                            <div class="takeaway-yep {% if takeAway == true %}show{% endif %}">
                                <div class="form-row form-row-required">
                                    <label>{% trans %}cart.checkout.place_point{% endtrans %}: <span class="checkout-pickup-place-tooltip" title="{% trans %}cart.checkout.pickup_tooltip{% endtrans %}">&nbsp;</span></label>
                                    <select class="custom-select" name="place_point">
                                        {% for point in places_service.getPublicPoints(place) %}
                                            {% if point.pickUp %}
                                                <option {% if (order is not null and order.placePoint.id == point.id) or (dataToLoad is not empty and dataToLoad.place_point == point.id) %}selected{% endif %} value="{{ point.id }}">{{ point.city }}, {{ point.address }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {#% endif %#}
                            {# Same form different display: one for simple and one for bussines client #}
                            {% if app.user.isBussinesClient|default(false) %}
                                {{ include('@FoodCart/Default/bussines_user_form_fields.html.twig') }}
                            {% else %}
                                {{ include('@FoodCart/Default/simple_user_form_fields.html.twig') }}
                            {% endif %}
                            {# End of different form part #}

                            <div class="form-row form-row-required custom-checkbox cart-rules">
                                <label>{% trans %}cart.checkout.cart_rules{% endtrans %}</label>
                                <input type="checkbox" name="cart_rules" {% if (dataToLoad is empty or (dataToLoad['cart_rules'] is defined and dataToLoad['cart_rules'] is not empty)) %}checked="checked"{% endif %} />
                            </div>
                            <div class="form-row custom-checkbox newsletter_subscribe">
                                <label>{% trans %}cart.checkout.newsletter_subscribe{% endtrans %}</label>
                                <input type="checkbox" name="newsletter_subscribe" {% if (dataToLoad['newsletter_subscribe'] is defined and dataToLoad['newsletter_subscribe'] is not empty) or newsletter_subscribe_tick_by_default %}checked="checked"{% endif %} />
                            </div>
                            <div class="clearfix"></div>
                            <div class="cupon-info">
                                {% trans %}general.coupon.popup_link{% endtrans %}
                                <input type="hidden" name="coupon_code" id="coupon_code" value="{% if (dataToLoad is not empty and dataToLoad['coupon_code'] is not empty) %}{{ dataToLoad['coupon_code'] }}{% endif %}" />
                                <br /><br />
                                <div class="alert alert-info">{% trans %}general.coupon.note_text{% endtrans %}</div>
                            </div>
                            <h2 class="section-2">2. {% trans %}cart.checkout.block_title_secure_payment{% endtrans %}</h2>
                            <div class="select-payment clearfix">
                                <label class="custom-radio">{% if app.user.isBussinesClient|default(false) %}{% trans %}cart.checkout.corporate_pay{% endtrans %}{% else %}{% trans %}cart.checkout.cash_on_delivery{% endtrans %}{% endif %}
                                    <input type="radio" name="payment-type" value="local"{% if (order is not null and order.paymentMethod == 'local') or (dataToLoad is not empty and dataToLoad['payment-type'] is defined and dataToLoad['payment-type'] == 'local') or (dataToLoad is empty) %} checked="checked"{% endif %}>
                                </label>
                                {% if takeAway != true and place.cardOnDelivery and not app.user.isBussinesClient|default(false) %}
                                <label class="custom-radio for_hiding">{% trans %}cart.checkout.card_on_delivery{% endtrans %}
                                    <input type="radio" name="payment-type" value="local.card"{% if (order is not null and order.paymentMethod == 'local.card') or (dataToLoad is not empty and dataToLoad['payment-type'] is defined and dataToLoad['payment-type'] == 'local.card') %} checked="checked"{% endif %}>
                                </label>
                                {% endif %}
                            </div>

                            {% if not place.disabledOnlinePayment and not app.user.isBussinesClient|default(false)%}
                            {# TODO kolkas viskas rodo i Paysera#}
                            <div class="for_hiding">
                                <div class="select-payment clearfix">
                                    <label class="custom-radio">
                                        <img alt="Nordea" src="http://{{ cloudfront_url }}/bundles/foodapp/images/nordea-small.png">
                                        <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}/>
                                    </label>
                                </div>
                                <div class="select-payment clearfix">
                                    <label class="custom-radio wider-radio">
                                        {{ 'cart.checkout.gateway_cc'|trans }}:
                                        <img alt="MasterCard" src="http://{{ cloudfront_url }}/bundles/foodapp/images/master-card-small.png">
                                        <img alt="Visa" src="http://{{ cloudfront_url }}/bundles/foodapp/images/visa-small.png">
                                        <img alt="Maestro" src="http://{{ cloudfront_url }}/bundles/foodapp/images/maestro-small.png">
                                        <img alt="Visa Electron" src="http://{{ cloudfront_url }}/bundles/foodapp/images/visa-electron-small.png">
                                        <input type="radio" name="payment-type" value="swedbank-credit-card-gateway"{% if order is not null and order.paymentMethod == 'swedbank-credit-card-gateway' %} checked="checked"{% endif %}/>
                                    </label>
                                </div>
                                <div class="select-bank clearfix">
                                    <label class="custom-radio">
                                        <img alt="Šiaulių bankas" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-sb.png">
                                        <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}>
                                    </label>
                                    <label class="custom-radio">
                                        <img alt="SEB" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-seb.png">
                                        <input type="radio" name="payment-type" value="seb-banklink"{% if order is not null and order.paymentMethod == 'seb-banklink' %} checked="checked"{% endif %}/>
                                    </label>
                                    <label class="custom-radio">
                                        <img alt="Danske Bank" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-db.png">
                                        <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}>
                                    </label>
                                    <label class="custom-radio">
                                        <img alt="Medicinos bankas" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-mb.png">
                                        <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}>
                                    </label>
                                    <label class="custom-radio">
                                        <img alt="Swedbank" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-swb.png">
                                        <input type="radio" name="payment-type" value="swedbank-gateway"{% if order is not null and order.paymentMethod == 'swedbank-gateway' %} checked="checked"{% endif %}/>
                                    </label>
                                    <label class="custom-radio">
                                        <img alt="DNB" src="http://{{ cloudfront_url }}/bundles/foodapp/images/bank-dnb.png">
                                        <input type="radio" name="payment-type" value="paysera"{% if order is not null and order.paymentMethod == 'paysera' %} checked="checked"{% endif %}>
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="form-controls clearfix"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place') }) }}" class="button-back">{% trans %}cart.checkout.button_get_back{% endtrans %}</a><a href="#" class="submit-button"><span>{% trans %}cart.checkout.button_order{% endtrans %}</span></a></div>
                    </form>
                </div>
                <div class="content-righter-small">
                    {% if (dataToLoad is not empty and dataToLoad['coupon_code'] is not empty) %}{% set couponCode = dataToLoad['coupon_code'] %}{% else %}{% set couponCode = null %}{% endif %}
                    {{ render(controller('FoodCartBundle:Default:sideBlock', {'place': place, 'inCart': true, 'order': order, 'takeAway': takeAway, 'couponCode': couponCode })) }}
                </div>
            </div>
        </div>
    </div>
    {% include 'FoodPlacesBundle:Default:change_address.html.twig' with {id: 'change-address', hideQlu: true, usr_address: userAllAddress} %}
    <div class="hidden">
        <div id="rules" class="cart_rules_content">
            <div class="cart_rules_inner">{{ static_service.getPage(slug_util.oneByName('ordering_rules', locale).itemId).content|raw }}</div>
        </div>
        <div id="privacy" class="privacy_content">
            <div class="privacy_inner">{{ static_service.getPage(static_page_privacy_policy).content|raw }}</div>
        </div>
        <div id="coupon" class="coupon_form_popup">
            <div class="coupon_inner">
                <form id="coupon_form">
                    <div>
                        <div class="the_text">{% trans %}general.coupon.text{% endtrans %}:</div>
                        <div class="the_input"><input type="text" name="coupon_code_popup" id="coupon_code_popup" value="{% if (dataToLoad is not empty and dataToLoad['coupon_code'] is not empty) %}{{ dataToLoad['coupon_code'] }}{% endif %}" /></div>
                    </div>
                    <div class="popup-controls">
                        <a href="#" class="button-submit"><span>{% trans %}general.coupon.submit_button{% endtrans %}</span></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
