{# Sekmingo apmokejimo pranesimas #}
{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}Apmokėjimas sėkmingas - {{ page_title }}{% endblock %}

{% block jscode %}
    $(document).ready(function(){
        $('.site-center').delegate('.delivery-info-form .submit-button', 'click', function(event){
        Cart.submitOrder($(this).closest(".delivery-info-form"));
        event.stopPropagation();
        event.preventDefault();
        return false;
        });
    });
{% endblock %}

{% block ga_js_code %}
    ga('require', 'ecommerce', 'ecommerce.js');

    ga('ecommerce:addTransaction',{
        'id': '{{ order.id }}', // transaction ID - required
        'affiliation': '{{ order.place.name }}', // affiliation or store name
        'revenue': '{{ order.total }}',      // total - required
        'shipping': '{{ order.place.deliveryPrice }}', // shipping
        'tax': '{{ order.vat }}',        // tax
        'currency': '{{ currency_iso }}'
    });
    {% for item in order.details %}

        ga('ecommerce:addItem', {
            'id': '{{ order.id }}', // transaction ID - necessary to associate item with transaction
            'sku': '{{ item.id }}',           // SKU/code - required
            'name': '{{ item.dishName }}',        // product name
            'category': '{{ item.dishUnitName }}',   // category or variation
            'price': '{{ item.price }}',          // unit price - required
            'quantity': '{{ item.quantity }}'               // quantity - required
        });
    {% endfor %}
    ga('ecommerce:send');
{% endblock %}

{% block body %}
    {% javascripts '@FoodAppBundle/Resources/public/js_main/order.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="cupon-page">
                    <h1>Sveikiname!</h1>
                    {#<p>Jūsų užsakymas priimtas ir turėtų pasiekti jus per <strong>{{ order.placePoint.deliveryTime }}</strong> minučių. <br/>Jei kils kokių klausimų ar yra paskutinės minutės pakeitumų, prašome susisiekite <br/> su <strong>“Foodout.lt”</strong> telefonu <strong>+370 687 44359</strong>. &#123;&#35;Savo užsakymą <a href="#" class="delivery-location-ico"><span>galite sekti čia</span></a>&#35;&#125;</p>#}
                    <p>{% trans with {'%placeName%':  order.placeName, '%placePhone%': order.placePoint.phoneNiceFormat} %}general.cart.success{% endtrans %} {#Savo užsakymą <a href="#" class="delivery-location-ico"><span>galite sekti čia</span></a>#}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
