{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% trans %}general.cart.reverse{% endtrans %} - {{ page_title }}{% endblock %}

{% block adnet_retargeting %}
{% endblock %}

{% block jscode %}{% endblock %}

{% block ga_js_code %}
    ga('require', 'ecommerce', 'ecommerce.js');

    ga('ecommerce:addTransaction',{
        'id': '{{ order.id }}', // transaction ID - required
        'affiliation': '{{ order.place.name }}', // affiliation or store name
        'revenue': '-{{ order.total }}',      // total - required
        'shipping': '-{{ order.deliveryPrice }}', // shipping
        'tax': '-{{ order.vat }}',        // tax
        'currency': '{{ currency_iso }}'
    });
    {% for item in order.details %}
        ga('ecommerce:addItem', {
            'id': '{{ order.id }}', // transaction ID - necessary to associate item with transaction
            'sku': '{{ item.id }}',           // SKU/code - required
            'name': '{{ item.dishName }}',        // product name
            'category': '{{ item.dishUnitName }}',   // category or variation
            'price': '-{{ item.price }}',          // unit price - required
            'quantity': '{{ item.quantity }}'               // quantity - required
        });
    {% endfor %}
    ga('ecommerce:send');
{% endblock %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="cupon-page">
                    <h1>{% trans %}general.cart.reverse{% endtrans %}!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
