<div class="check-block" id="cartmnu">
    <div class="restaurant-logo tac">
        <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place') }) }}"><img alt="{% trans with {'%restaurant_name%': place.name} %}general.restaurant_logo_alt{% endtrans %}" src="http://{{ cloudfront_url }}/{{place.getWebPathThumb}}"></a>
    </div>
    <h5 class="tac">{% trans %}cart.block.your_order{% endtrans %}</h5>
    {% if list|length > 0 %}
        {% for dish in list %}
            <div class="check-item">
                <div class="edit">
                    {# <a href="{{ path('food_ajax_edit_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId}) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">{% trans %}cart.block.edit_row{% endtrans %}</a> #}
                    <a href="{{ path('food_ajax_remove_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId, 'inCart':inCart}) }}" class="fancybox.ajax fancy-box remove">{% trans %}cart.block.remove_row{% endtrans %}</a>
                </div>
                <div class="name">{{ dish.dishId.name }}</div>
                <div class="type">{{ dish.dishSizeId.unit.name }}</div>
                <div class="clearfix pad">
                    <div class="count item">{{ dish.quantity }} {% trans %}general.item_quantity{% endtrans %}</div>
                    {% set showDiscount = false %}
                    {% if dish.dishId.showDiscount and dish.dishSizeId.discountPrice %}
                        {% set showDiscount = true and dish.dishSizeId.discountPrice != 0 %}
                    {% endif %}
                    {% if dish.dishId.showPublicPrice %}
                        <div class="sum item {% if showDiscount %}discounted{% endif %}">x {{ currency_display|raw }}{{ dish.dishSizeId.publicPrice|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.publicPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                                </span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="sum item {% if showDiscount %}discounted{% endif %}">x {{ currency_display|raw }}{{ dish.dishSizeId.price|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.price)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if showDiscount %}
                        <div class="sum item discount">x {{ currency_display|raw }}{{ dish.dishSizeId.discountPrice|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.discountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                            {% endif %}
                        </span>
                        </div>
                    {% endif %}

                </div>
                {% if dish.options|length > 0 %}
                    {% for option in dish.options %}
                        <div class="clearfix">
                            <div class="extra" title="{{ option.dishOptionId.name }}">{{ option.dishOptionId.name }}</div>
                            <div class="extra sum">
                                {% if dish.dishId.showPublicPrice %}
                                    {{ currency_display|raw }}{{ '0'|number_format(2, ',', ' ') }}
                                    {% if currency_alternative %}
                                        <span class="euro">/&nbsp;{{  '0'|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>
                                    {% endif %}
                                {% else %}
                                    {{ currency_display|raw }}{{ option.dishOptionId.price|number_format(2, ',', ' ') }}
                                    {% if currency_alternative %}
                                        <span class="euro">/&nbsp;{{  misc_utils.getLitas(option.dishOptionId.price)|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="check-bottom">
            {% if applyDiscount %}
                <div class="discount-sum clearfix">
                    <div class="fl">{% trans %}cart.block.discount_sum{% endtrans %}:</div>
                    <div class="fr">{{ currency_display|raw }}{{ discountSum|number_format(2, ',', ' ') }}</div>
                </div>
            {% endif %}
            <div class="total-sum cart clearfix">
                <div class="fl">{% trans %}cart.block.total_cart{% endtrans %}:</div>
                <div class="fr"> {{ currency_display|raw }}{{ total_cart|number_format(2, ',', ' ') }}
                    {% if currency_alternative %}
                        <span class="euro">/ {{  misc_utils.getLitas(total_cart)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>
                    {% endif %}
                </div>
            </div>
            {% if hide_delivery == 0 %}
                <div class="delivery-price clearfix">
                    <div class="fl">{% trans %}cart.block.delivery_price{% endtrans %}:</div>
                    {% if freeDelivery %}
                        <div class="fr">{{ currency_display|raw }}0,00 {% if currency_alternative %}<span class="euro">/ 0,00 {{ display_currency_alternative|raw }}</span>{% endif %}</div>
                    {% else %}
                        <div class="fr">{{ currency_display|raw }}{{ total_delivery|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">/ {{  misc_utils.getLitas(total_delivery)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="total-sum final clearfix">
                    <div class="fl">{% trans %}cart.block.total{% endtrans %}:</div>
                    <div class="fr">{{ currency_display|raw }}{{ total_with_delivery|number_format(2, ',', ' ') }}
                        {% if currency_alternative %}<span class="euro">/ {{  misc_utils.getLitas(total_with_delivery)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>{% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {% if total_cart < place.cartMinimum and hide_delivery == false %}
            <div class="alert alert-warning text-center">{{ 'cart.didnt_reach_min_cart'|trans }}</div>
        {% endif %}

        {# Delivery type choice #}
        {% if inCart == false %}
            <div class="cart_delivery_type">
                {% trans %}cart.block.delivery_type{% endtrans %} <span class="delivery-type-tooltip" title="{% trans %}cart.block.delivery_type.tooltip{% endtrans %}">&nbsp;</span><br />
                <br />
                <label class="custom-radio{% if place.deliveryOptions == "pickup" %} disabled{% endif %}">
                    <input type="radio" name="delivery_type" value="deliver" {% if not takeAway %}checked="checked"{% endif %}{% if place.deliveryOptions == "pickup" %} disabled="disabled"{% endif %}>
                    {% trans %}cart.checkout.delivery_to_home{% endtrans %}
                </label>
                <label class="custom-radio{% if place.deliveryOptions == "delivery" %} disabled{% endif %}">
                    <input type="radio" name="delivery_type" value="pickup" {% if takeAway %}checked="checked"{% endif %}{% if place.deliveryOptions == "delivery" %} disabled="disabled"{% endif %}>
                    {% trans %}cart.checkout.delivery_i_pickup{% endtrans %}
                </label>
                <br />
            </div>
        {% endif %}

        {# Order  button #}
        {% if inCart == false %}
            <a href="{{ path('food_cart', { 'placeId' : place.id, 'takeAway': hide_delivery }) }}" class="order-button">{% trans %}cart.block.order_btn{% endtrans %}</a>
        {% endif %}
        {% if hide_delivery == false %}
        <div class="delivery-time tac">
            {% trans %}cart.block.delivery_time{% endtrans %} {{ place.deliveryTime }}
            {% if place.deliveryTimeInfo is not empty %}
                <span class="delivery-time-info-cart ui-icon ui-icon-info" title="{{ place.deliveryTimeInfo }}"></span>
            {% endif %}
        </div>
        {% endif %}
        {% if hide_delivery == false or place.minimalOnSelfDel %}
        <div class="delivery-time tac">{% trans %}cart.block.order_sum_minimum{% endtrans %}<br />
            {% if display_cart_interval %}
                {% if cart_from_min == cart_from_max %}
                    {{ currency_display|raw }} {{ cart_from_min }}
                {% else %}
                    {{ currency_display|raw }} {{ cart_from_min }} - {{ cart_from_max }}
                {% endif %}
            {% else %}
                {{ currency_display|raw }} {{ cart_minimum }}
            {% endif %}

            {% if currency_alternative %}<span class="euro">/ {{  misc_utils.getLitas(cart_minimum)|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>{% endif %}.
            {% if place.minimalOnSelfDel == false %}<br />{% trans %}cart.block.order_sum_minimum_take_myself{% endtrans %}{% endif %}
        </div>
        {% endif %}
    {% else %}
        <div class="check-bottom">
            <h5 class="tac">{% trans %}cart.block.your_order_empty{% endtrans %}</h5>
        </div>
    {% endif %}

    <script type="application/javascript">
        $(document).ready(function(){
            $('.delivery-time-info-cart, .delivery-type-tooltip').tooltip();
            $('#cartmnu input').iCheck();
        });
        var takeAway = 0;
        $('#cartmnu').on('ifToggled', '.cart_delivery_type input',function (event) {
            if (event.target.checked) {
                if (event.target.value == 'pickup') {
                    takeAway = 1;
                }
                $('.content-righter-small').mask();
                var url = Routing.generate('food_cart_action', { 'action': 'set_delivery', '_locale': '{{ locale }}', 'place': {{ place.id }}, in_cart: 0, coupon_code: '', take_away: takeAway  });
                $.post(url, function (response) {
                    if (typeof(response.block) != "undefined") {
                        $('.content-righter-small').unmask();
                        $('.check-block').replaceWith(response.block);
                    }
                }, 'json');
            }
        });
    </script>
</div>
