<div class="check-block" id="cartmnu">
    <div class="restaurant-logo tac"><a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place') }) }}"><img src="http://{{ cloudfront_url }}/{{place.getWebPathThumb}}"></a></div>
    <h5 class="tac">{% trans %}cart.block.your_order{% endtrans %}</h5>
    {% if list|length > 0 %}
        {% for dish in list %}
            <div class="check-item">
                <div class="edit">
                    {# <a href="{{ path('food_ajax_edit_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId}) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">{% trans %}cart.block.edit_row{% endtrans %}</a> #}
                    <a href="{{ path('food_ajax_remove_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId, 'inCart':inCart}) }}" class="fancybox.ajax fancy-box remove">{% trans %}cart.block.remove_row{% endtrans %}</a>
                </div>
                <div class="name">{{ dish.dishId.name }}</div>
                <div class="type">{{ dish.dishSizeId.unit.name }}</div>
                <div class="clearfix pad">
                    <div class="count item">{{ dish.quantity }} {% trans %}general.item_quantity{% endtrans %}</div>
                    <div class="sum item">x {{ dish.dishSizeId.price|number_format(2, ',', ' ') }} {{ currency_display }}
                        <span class="euro">
                            /&nbsp;&euro;{{ misc_utils.getEuro(dish.dishSizeId.price)|number_format(2, ',', ' ') }}
                        </span>
                    </div>
                </div>
                {% if dish.options|length > 0 %}
                    {% for option in dish.options %}
                        <div class="clearfix">
                            <div class="extra" title="{{ option.dishOptionId.name }}">{{ option.dishOptionId.name }}</div>
                            <div class="extra sum">{{ option.dishOptionId.price|number_format(2, ',', ' ') }} {{ currency_display }}<span class="euro">/&nbsp;&euro;{{  misc_utils.getEuro(option.dishOptionId.price)|number_format(2, ',', ' ') }}</span></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="check-bottom">
            {% if applyDiscount %}
                <div class="discount-sum clearfix">
                    <div class="fl">{% trans %}cart.block.discount_sum{% endtrans %}:</div>
                    <div class="fr">{{ discountSum|number_format(2, ',', ' ') }} {{ currency_display }}</div>
                </div>
            {% endif %}
            <div class="total-sum cart clearfix">
                <div class="fl">{% trans %}cart.block.total_cart{% endtrans %}:</div>
                <div class="fr">{{ total_cart|number_format(2, ',', ' ') }} {{ currency_display }}<span class="euro">/ &euro;{{  misc_utils.getEuro(total_cart)|number_format(2, ',', ' ') }}</span></div>
            </div>
            {% if hide_delivery == 0 %}
                <div class="delivery-price clearfix">
                    <div class="fl">{% trans %}cart.block.delivery_price{% endtrans %}:</div>
                    <div class="fr">{{ place.deliveryPrice|number_format(2, ',', ' ') }} {{ currency_display }}<span class="euro">/ &euro;{{  misc_utils.getEuro(place.deliveryPrice)|number_format(2, ',', ' ') }}</span></div>
                </div>
                <div class="total-sum final clearfix">
                    <div class="fl">{% trans %}cart.block.total{% endtrans %}:</div>
                    <div class="fr">{{ total_with_delivery|number_format(2, ',', ' ') }} {{ currency_display }}<span class="euro">/ &euro;{{  misc_utils.getEuro(total_with_delivery)|number_format(2, ',', ' ') }}</span></div>
                </div>
            {% endif %}
        </div>
        {% if total_cart < place.cartMinimum %}
            <div class="alert alert-warning">{{ 'cart.didnt_reach_min_cart'|trans }}</div>
        {% endif %}
        {% if inCart == false %}
            <a href="{{ path('food_cart', { 'placeId' : place.id }) }}" class="order-button">{% trans %}cart.block.order_btn{% endtrans %}</a>
        {% endif %}
        <div class="delivery-time tac">
            {% trans %}cart.block.delivery_time{% endtrans %} {{ place.deliveryTime }}
            {% if place.deliveryTimeInfo is not empty %}
                <span class="delivery-time-info-cart ui-icon ui-icon-info" title="{{ place.deliveryTimeInfo }}"></span>
            {% endif %}
        </div>
        {% if not hide_delivery or (hide_delivery and place.minimalOnSelfDel != false) %}
        <div class="delivery-time tac">{% trans %}cart.block.order_sum_minimum{% endtrans %}<br />{{ place.cartMinimum }} {{ currency_display }} <span class="euro">/ &euro;{{  misc_utils.getEuro(place.cartMinimum)|number_format(2, ',', ' ') }}</span>.
            {% if place.minimalOnSelfDel == false %}<br />{% trans %}cart.block.order_sum_minimum_take_myself{% endtrans %}{% endif %}
        </div>
        {% endif %}
    {% else %}
        <div class="check-bottom">
            <h5 class="tac">{% trans %}cart.block.your_order_empty{% endtrans %}</h5>
        </div>
    {% endif %}
    <script type="application/javascript">
        $(document).ready(function(){
            $('.delivery-time-info-cart').tooltip();
        });
    </script>
</div>
