<style>

    .check-item .edit {
        display: none;
    }
    .check-item:hover .edit {
        display: block;
        width: 60px;
        background-color: #CCCCCC;
        position: absolute;
        margin-left: 88px;
        text-align: center;
        padding: 2px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: -3px;
    }
    .check-item .extra {
        color: #543F42;
        float: left;
        padding-top: 7px;
        width: 65%;
        overflow-x: hidden;
        white-space: nowrap;
    }
    .check-item .extra.sum {
        width: 35%;
    }
</style>
<div class="check-block">
    <div class="restaurant-logo tac"><img src="/{{place.getWebPathThumb}}"></div>
    <h5 class="tac">{% trans %}cart.block.your_order{% endtrans %}</h5>
    {% if list|length > 0 %}
        {% for dish in list %}
            <div class="check-item">
                <div class="edit">Redaguoti</div>
                <div class="name">{{ dish.dishId.name }}</div>
                <div class="type">{{ dish.dishSizeId.unit.name }}</div>
                <div class="clearfix">
                    <div class="count">{{ dish.quantity }} vnt.</div>
                    <div class="sum">x {{ dish.dishSizeId.price }} {{ currency_display }}</div>
                </div>
                {% if dish.options|length > 0 %}
                    {% for option in dish.options %}
                        <div class="clearfix">
                            <div class="extra" title="{{ option.dishOptionId.name }}">{{ option.dishOptionId.name }}</div>
                            <div class="extra sum">{{ option.dishOptionId.price }} {{ currency_display }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="check-bottom">
            <div class="delivery-price clearfix">
                <div class="fl">{% trans %}cart.block.delivery_price{% endtrans %}:</div>
                <div class="fr">{{ place.deliveryPrice }} {{ currency_display }}</div>
            </div>
            <div class="total-sum clearfix">
                <div class="fl">{% trans %}cart.block.total{% endtrans %}:</div>
                <div class="fr">{{ total }} {{ currency_display }}</div>
            </div>
        </div>
        <div class="delivery-time tac">{% trans %}cart.block.delivery_time{% endtrans %} {{ place.deliveryTime }}</div>
    {% else %}
        <div class="check-bottom">
            <h5 class="tac">{% trans %}cart.block.your_order_empty{% endtrans %}</h5>
        </div>
    {% endif %}
</div>
