<div class="check-block" id="cartmnu">
    <div class="restaurant-logo tac">
        <a class="restaurant_link" href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place') }) }}"><img class="restaurant_image" alt="{% trans with {'%restaurant_name%': place.name} %}general.restaurant_logo_alt{% endtrans %}" src="http://{{ cloudfront_url }}/{{place.getWebPathThumb}}"></a>
    </div>
    <h5 class="tac">{% trans %}cart.block.your_order{% endtrans %}</h5>
    {% if list|length > 0 %}
        {% for dish in list %}
            <div class="check-item">
                <div class="edit">
                    {# <a href="{{ path('food_ajax_edit_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId}) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">{% trans %}cart.block.edit_row{% endtrans %}</a> #}
                    <a href="{{ path('food_ajax_remove_dish', {'dish': dish.dishId.id, 'cartId':dish.cartId, 'inCart':inCart}) }}" class="fancybox.ajax fancy-box remove">{% trans %}cart.block.remove_row{% endtrans %}</a>
                </div>
                <div class="name">{{ dish.dishId.name }}</div>
                <div class="type">{{ dish.dishSizeId.unit.name }}</div>
                <div class="clearfix pad">
                    <div class="count item">{{ dish.quantity }} {% trans %}general.item_quantity{% endtrans %}</div>
                    {% set showDiscount = false %}
                    {% set isFree = dish.isFree %}
                    {% if dish.dishId.showDiscount and dish.dishSizeId.discountPrice %}
                        {% set showDiscount = true and dish.dishSizeId.discountPrice != 0 %}
                    {% endif %}

                    {% if dish.dishId.showPublicPrice %}
                        <div class="sum item {% if showDiscount or isFree %}discounted{% endif %}">x {{ currency_display|raw }}{{ dish.dishSizeId.publicPrice|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.publicPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                                </span>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="sum item {% if showDiscount or isFree %}discounted{% endif %}">x {{ currency_display|raw }}{{ dish.dishSizeId.price|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.price)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if isFree %}
                        <div class="sum item discount">x {{ currency_display|raw }}{{ '0'|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                            <span class="euro">
                                /&nbsp;{{ misc_utils.getLitas(0)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                                {% endif %}
                            </span>
                        </div>
                    {% elseif showDiscount %}
                        <div class="sum item discount">x {{ currency_display|raw }}{{ dish.dishSizeId.discountPrice|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">
                                /&nbsp;{{ misc_utils.getLitas(dish.dishSizeId.discountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}
                            {% endif %}
                        </span>
                        </div>
                    {% endif %}

                </div>
                {% if dish.options|length > 0 %}
                    {% for option in dish.options %}
                        <div class="clearfix">
                            <div class="extra" title="{{ option.dishOptionId.name }}">{{ option.dishOptionId.name }}</div>
                            <div class="extra sum">
                                {% if dish.dishId.showPublicPrice %}
                                    {{ currency_display|raw }}{{ '0'|number_format(2, ',', ' ') }}
                                    {% if currency_alternative %}
                                        <span class="euro">/&nbsp;{{  '0'|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>
                                    {% endif %}
                                {% else %}
                                    {{ currency_display|raw }}{{ option.dishOptionId.price|number_format(2, ',', ' ') }}
                                    {% if currency_alternative %}
                                        <span class="euro">/&nbsp;{{  misc_utils.getLitas(option.dishOptionId.price)|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="check-bottom">
            {% if applyDiscount %}
                <div class="discount-sum clearfix">
                    <div class="fl">{% trans %}cart.block.discount_sum{% endtrans %}:</div>
                    <div class="fr">{{ currency_display|raw }}{{ discountSum|number_format(2, ',', ' ') }}</div>
                </div>
            {% endif %}
            <div class="total-sum cart clearfix">
                <div class="fl">{% trans %}cart.block.total_cart{% endtrans %}:</div>
                <div class="fr"> {{ currency_display|raw }}{{ total_cart|number_format(2, ',', ' ') }}
                    {% if currency_alternative %}
                        <span class="euro">/ {{  misc_utils.getLitas(total_cart)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>
                    {% endif %}
                </div>
            </div>
            {% if hide_delivery == 0 %}
                <div class="delivery-price clearfix">
                    <div class="fl">{% trans %}cart.block.delivery_price{% endtrans %}:</div>
                    {% if freeDelivery %}
                        <div class="fr">{{ currency_display|raw }}0,00 {% if currency_alternative %}<span class="euro">/ 0,00 {{ display_currency_alternative|raw }}</span>{% endif %}</div>
                    {% else %}
                        <div class="fr">{{ currency_display|raw }}{{ total_delivery|number_format(2, ',', ' ') }}
                            {% if currency_alternative %}
                                <span class="euro">/ {{  misc_utils.getLitas(total_delivery)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div class="total-sum final clearfix">
                    <div class="fl">{% trans %}cart.block.total{% endtrans %}:</div>
                    <div class="fr">{{ currency_display|raw }}{{ total_with_delivery|number_format(2, ',', ' ') }}
                        {% if currency_alternative %}<span class="euro">/ {{  misc_utils.getLitas(total_with_delivery)|number_format(2, ',', ' ') }} {{ display_currency_alternative|raw }}</span>{% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        {# Cart minimum sum #}
        {% if hide_delivery == false and ((discountInSum and total_cart + discountSum < cart_from_min) or (total_cart < cart_from_min)) and noMinimumCart == false %}
            <div class="alert alert-warning text-center min-cart-message">
                <span>{{ 'cart.didnt_reach_min_cart'|trans }}</span>
                <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place') }) }}" class="button">{{ 'cart.go_back_to_place'|trans }}</a>
            </div>
        {% endif %}

        {% if basket_errors['foodQuantityError'] %}
            <div class="alert alert-warning text-center max_cart-items">
                <span>{{ 'order.form.errors.dishLimit'|trans({'%text%': place.basketLimitFood}) }}</span>
            </div>
        {% endif %}

        {% if basket_errors['drinkQuantityError'] %}
            <div class="alert alert-warning text-center max_cart-items">
                <span>{{ 'order.form.errors.drinkLimit'|trans({'%text%': place.basketLimitDrinks}) }}</span>
            </div>
        {% endif %}

        {# Nemokamas pristatymas nuo 25 eur #}
        {% if takeAway == false and enable_free_delivery_for_big_basket %}
            {% if left_sum > 0 %}
                <div class="alert alert-warning text-left left-to-free-message">
                    <span>{% trans with {'%left_sum%': left_sum} %}cart.left_to_free_delivery{% endtrans %}</span>
                </div>
            {% endif %}
        {% endif %}

        {# Delivery type choice #}
        {% if inCart == false %}
            <div class="cart_delivery_type">
                {% trans %}cart.block.delivery_type{% endtrans %} <span class="delivery-type-tooltip" title="{% trans %}cart.block.delivery_type.tooltip{% endtrans %}">&nbsp;</span><br />
                <br />
                <label class="custom-radio{% if place.deliveryOptions == "pickup" %} disabled{% endif %}">
                    <input type="radio" name="delivery_type" value="deliver" {% if not takeAway %}checked="checked"{% endif %}{% if place.deliveryOptions == "pickup" %} disabled="disabled"{% endif %}>
                    {% trans %}cart.checkout.delivery_to_home{% endtrans %}
                </label>
                <label class="custom-radio{% if place.deliveryOptions == "delivery" %} disabled{% endif %}">
                    <input type="radio" name="delivery_type" value="pickup" {% if takeAway %}checked="checked"{% endif %}{% if place.deliveryOptions == "delivery" %} disabled="disabled"{% endif %}>
                    {% trans %}cart.checkout.delivery_i_pickup{% endtrans %}
                </label>
                <br />
            </div>
        {% endif %}

        {# Cili Express blokelis su informacija, kad nuolaida taikoma tik su kortele #}
        {#{% if place.id == 142 and site_country == 'LT' %}
            <div class="mylimiausia_pickup_block">
                <img src="{{ asset('bundles/foodapp/images/draugeliu_korteles.png') }}"/>
                <div style="margin-bottom: 10px; margin-top: 5px;">
                    Pasiūlymas galioja nuo 15 val. tik su DRAUGŲ ar MYLIMIAUSIA lojalumo kortele ATSIIMANT patiekalus restorane<br />
                </div>
            </div>
        {% endif %}#}

        {# Order  button #}
        {% if inCart == false %}
            <a href="{{ path('food_cart', { 'placeId' : place.id, 'takeAway': hide_delivery }) }}" class="order-button">{% trans %}cart.block.order_btn{% endtrans %}</a>
        {% endif %}
        {% if hide_delivery == false %}
        <div class="delivery-time tac">
            {% trans %}cart.block.delivery_time{% endtrans %} {{ place.deliveryTime }}
            {% if place.deliveryTimeInfo is not empty %}
                <span class="delivery-time-info-cart ui-icon ui-icon-info" title="{{ place.deliveryTimeInfo }}"></span>
            {% endif %}
        </div>
        {% endif %}
        {% if hide_delivery == false or place.minimalOnSelfDel %}
        <div class="delivery-time tac">{% trans %}cart.block.order_sum_minimum{% endtrans %}<br />
            {% if display_cart_interval %}
                {% if cart_from_min == cart_from_max %}
                    {{ currency_display|raw }} {{ cart_from_min }}
                {% else %}
                    {{ currency_display|raw }} {{ cart_from_min }} - {{ cart_from_max }} <span class="delivery-time-tooltip" title="{% trans %}cart.block.delivery_time.tooltip{% endtrans %}">&nbsp;</span>
                {% endif %}
            {% else %}
                {{ currency_display|raw }} {{ cart_from_min }}
            {% endif %}

            {% if currency_alternative %}<span class="euro">/ {{  misc_utils.getLitas(cart_minimum)|number_format(2, ',', ' ') }}{{ display_currency_alternative|raw }}</span>{% endif %}.
            {% if place.minimalOnSelfDel == false %}<br />{% trans %}cart.block.order_sum_minimum_take_myself{% endtrans %}{% endif %}
        </div>
        {% endif %}
    {% else %}
        <div class="check-bottom">
            <h5 class="tac">{% trans %}cart.block.your_order_empty{% endtrans %}</h5>
        </div>
    {% endif %}

    <script type="application/javascript">
        $(document).ready(function(){
            $('.delivery-time-info-cart, .delivery-type-tooltip, .delivery-time-tooltip').tooltip();
            $('#cartmnu input').iCheck();

            // side block auto height init
            var cartmnu = $('#cartmnu');
            if ($('.delivery-info-form').length > 0 && !cartmnu.hasClass('overflow_auto')) {
                cartmnu.addClass('overflow_auto');
            }

            $(window).resize(function() {
                Place.adjustCartMenuHeight();
            });
        });
        var takeAway = 0;
        $('#cartmnu').on('ifToggled', '.cart_delivery_type input', function(event) {
            var hadSticky = $('.check-block').hasClass('sticky');
            if (event.target.checked) {
                if (event.target.value == 'pickup') {
                    takeAway = 1;
                }
                $('.check-block').mask();
                var url = Routing.generate(
                    'food_cart_action', {
                        'action': 'set_delivery',
                        '_locale': '{{ locale }}',
                        'place': {{ place.id }},
                        in_cart: 0,
                        coupon_code: '',
                        take_away: takeAway
                    }
                );
                $.post(url, function(response) {
                    if (typeof(response.block) != "undefined") {
                        $('.check-block').replaceWith(response.block).unmask();
                        if (hadSticky) {
                            Place.initCartScroll();
                            Place.moveBlocks(true);
                        }
                    }
                }, 'json');
            }
        });
    </script>
</div>
