{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ place.name }} - {{ page_title }}{% endblock %}

{% block body %}
    <div style="background-image: url(/bundles/foodapp/images/inner-bg.jpg);" class="site-center image-top">
        <div class="site-block">
            <div class="page-path clearfix"><a href="#">Pradžia</a><a href="#">Restoranai arti Žirmūnų</a><a href="#">{{ place.name }}</a></div>
            <div class="page-title">
                <h1 class="clearfix"><span>{{ place.name }}{% if place.slogan is not empty %} - {{ place.slogan }}{% endif %}</span>
                    <div data-stars="5" class="restoran-rating fl"></div>
                </h1>
            </div>
                <div class="clearfix">
                    <div class="content-lefter-big">
                        <div id="detailed-restaurant" class="detailed-resturant">
                        <ul>
                            <li><a href="#detailed-restaurant-menu">Meniu</a></li>
                            <li><a href="#detailed-restaurant-review">Atsiliepimai</a></li>
                            <li class="last"><a href="#detailed-restaurant-info">Informacija</a></li>
                        </ul>
                        <div id="detailed-restaurant-menu" class="detailed-restaurant-menu">
                            <div class="clearfix">
                                <div class="menu-lefter">
                                    <h4>kategorijos:</h4>
                                    <ul class="menu">
                                        {% for category in placeCategories %}
                                            <li{% if category.id == selectedCategory.id %} class="active"{% endif %}>
                                                <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(category.id, 'food_category')}) }}">{{ category.name }}<span>{{ category.dishes.count }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="menu-righter">
                                    <div class="menu-title clearfix">
                                        <h2 class="fl">{{ selectedCategory.name }}</h2>
                                        {# TODO pazymek aktyvu #}
                                        <div class="view-type clearfix">
                                            {% if listType == 'table' %}
                                            <a href="#" class="ico-thumbs"></a><a href="#" class="ico-list active"></a>
                                            {% else %}
                                            <a href="#" class="ico-thumbs active"></a><a href="#" class="ico-list"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if listType == 'table' %}
                                        {{ render(controller('FoodDishesBundle:FoodCategory:dishTable', {'categoryId': selectedCategory})) }}
                                    {% else %}
                                        {{ render(controller('FoodDishesBundle:FoodCategory:dishList', {'categoryId': selectedCategory})) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="detailed-restaurant-review" class="detailed-restaurant-review">
                            <div class="review-title clearfix">
                                <h3>36 Atsiliepimai</h3><a href="#">Pridėk atsiliepimą</a>
                            </div>
                            <div class="review-list">
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person-1.png">
                                        <p class="name">Jaroslavas</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. </p>
                                        <div class="clearfix">
                                            <div data-stars="5" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person-2.png">
                                        <p class="name">Inga</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles  </p>
                                        <div class="clearfix">
                                            <div data-stars="3" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person.png">
                                        <p class="name">Rimas</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. </p>
                                        <div class="clearfix">
                                            <div data-stars="3" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person-3.png">
                                        <p class="name">Aleksas</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. </p>
                                        <div class="clearfix">
                                            <div data-stars="3" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person-1.png">
                                        <p class="name">Jaroslavas</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. </p>
                                        <div class="clearfix">
                                            <div data-stars="5" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person-2.png">
                                        <p class="name">Inga</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles  </p>
                                        <div class="clearfix">
                                            <div data-stars="3" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person.png">
                                        <p class="name">Rimas</p>
                                        <p class="location">Kaunas</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. </p>
                                        <div class="clearfix">
                                            <div data-stars="3" class="restoran-rating fl"></div>
                                            <div class="date fr">2013 gruodžio 28</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="paginator clearfix"><a href="#" class="prev"></a><a href="#" class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#" class="next"></a></div>
                        </div>
                        <div id="detailed-restaurant-info" class="detailed-restaurant-info">
                            <h3>Apie restoraną</h3>
                            <div class="clearfix">
                                <div class="restaurant-info-lefter">
                                    <ul class="menu">
                                        <li class="ico-kitchen"><strong>Virtuvė:</strong>Italų, Salotos</li>
                                        <li class="ico-time"><strong>Pristatymo laikas:</strong>40 min.</li>
                                        <li class="ico-delivery"><strong>Pristatymo mokestis:</strong>5 Lt</li>
                                        <li class="ico-cart"><strong>Minimalus krepšelis:</strong>25 Lt</li>
                                        <li class="ico-payments"><strong>Atsiskaitymo būdai:</strong>Grynais, kortele</li>
                                    </ul>
                                </div>
                                <div class="restaurant-info-righter simple-content">
                                    <p>„Čili“ picerijos – tai daugiau nei 40 rūšių picų, gausybė kitų skanėstų: karštųjų patiekalų, užkandžių, desertų, gėrimų. „Čili Pica“ – skanus maistas, jauki aplinka ir malonus aptarnavimas. Išmanių virtuvės meistrų su meile pagaminti patiekalai pavers apsilankymą picerijoje mažyte <br> švente.</p>
                                    <select class="custom-select">
                                        <option>Gabijos g. 30 (PC MAXIMA)</option>
                                        <option>Gabijos g. 30 (PC MAXIMA)</option>
                                    </select>
                                    <div class="location-work-hours clearfix">
                                        <div class="lefter"><img src="/bundles/foodapp/images/ex-map.png"></div>
                                        <div class="righter">
                                            <table>
                                                <tr>
                                                    <td>Monday</td>
                                                    <td class="tar"><span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Tuesday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Wednesday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Thursday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Friday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Saturday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Sunday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-righter-small">
                    {{ render(controller('FoodCartBundle:Default:sideBlock')) }}
                </div>
            </div>
            <div class="clearfix bottom-blocks bottom-block-lower">
                <div class="app-block clearfix"><img src="/bundles/foodapp/images/app-view.png">
                    <div class="app-block-inner">
                        <h3>Skanu.lt <br/>tavo kišenėje!</h3>
                        <div><a href="#"><img src="/bundles/foodapp/images/app-store.png"></a><a href="#"><img src="/bundles/foodapp/images/g-store.png"></a></div>
                    </div>
                </div>
                <div class="newsletter-block">
                    <h4>Naujienlaiškis</h4>
                    <form class="newsletter-form">
                        <input type="text" placeholder="Tavo el. paštas">
                        <input type="submit" value="Prenumeruok">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
