{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ place.name }} - {{ page_title }}{% endblock %}

{% block body %}
    {% javascripts '@FoodAppBundle/Resources/public/js_main/place.js' %}
    <script src="{{ asset_url }}"></script>
    <script type="application/javascript">
        Place.listTypeSaveUrl = '{{ path('food_place_menu_layout') }}';
    </script>
    {% endjavascripts %}
    <div style="background-image: url(/bundles/foodapp/images/inner-bg.jpg);" class="site-center image-top">
        <div class="site-block">
            <div class="page-path clearfix"><a href="#">Pradžia</a><a href="#">Restoranai arti Žirmūnų</a><a href="#">{{ place.name }}</a></div>
            <div class="page-title">
                <h1 class="clearfix"><span>{{ place.name }}{% if place.slogan is not empty %} - {{ place.slogan }}{% endif %}</span>
                    <div data-stars="{{ place.rating }}" class="restoran-rating fl"></div>
                </h1>
            </div>
                <div class="clearfix">
                    <div class="content-lefter-big">
                        <div id="detailed-restaurant" class="detailed-resturant">
                        <ul>
                            <li><a href="#detailed-restaurant-menu">Meniu</a></li>
                            <li><a href="#detailed-restaurant-review">Atsiliepimai</a></li>
                            <li class="last"><a href="#detailed-restaurant-info">Informacija</a></li>
                        </ul>
                        <div id="detailed-restaurant-menu" class="detailed-restaurant-menu">
                            <div class="clearfix">
                                <div class="menu-lefter">
                                    <h4>kategorijos:</h4>
                                    <ul class="menu">
                                        {% for category in placeCategories %}
                                            <li{% if category.id == selectedCategory.id %} class="active"{% endif %}>
                                                <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(category.id, 'food_category')}) }}">{{ category.name }}<span>{{ category.dishes.count }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                        {# Meniu #}
                                <div class="menu-righter">
                                    <div class="menu-title clearfix">
                                        <h2 class="fl">{{ selectedCategory.name }}</h2>
                                        <div class="view-type clearfix">
                                            {% if listType == 'thumbs' %}
                                            <a href="#" class="ico-thumbs active"></a><a href="#" class="ico-list"></a>
                                            {% else %}
                                            <a href="#" class="ico-thumbs"></a><a href="#" class="ico-list active"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                        {{ render(controller('FoodDishesBundle:FoodCategory:dishList', {'categoryId': selectedCategory.id, 'listType': listType})) }}
                                </div>
                            </div>
                        </div>
                        {# Atsiliepimai #}
                        <div id="detailed-restaurant-review" class="detailed-restaurant-review">
                            <div class="review-title clearfix">
                                {% set count = place.reviews.count %}
                                <h3>{% transchoice count %}%count% Atsiliepimas |%count% Atsiliepimai |%count% Atsiliepimų{% endtranschoice %}</h3><a href="#">Pridėk atsiliepimą</a>
                            </div>
                            <div class="review-list">
                                {% for review in place.reviews %}
                                <div class="review-item clearfix">
                                    <div class="review-person"><img src="/bundles/foodapp/images/person.png">
                                        <p class="name">{{ review.createdBy.getFirstname }}</p>
                                        <p class="location">{{ review.createdBy.getDefaultAddress.city }}</p>
                                    </div>
                                    <div class="review-baloon">
                                        <div class="nip"></div>
                                        <p class="text">{{ review.review }}</p>
                                        <div class="clearfix">
                                            <div data-stars="{{ review.rate }}" class="restoran-rating fl"></div>
                                            <div class="date fr">{{ review.createdAt|localizeddate('medium', 'none', locale) }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {#<div class="paginator clearfix"><a href="#" class="prev"></a><a href="#" class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#" class="next"></a></div>#}
                        </div>
                        {# Restorano informacija #}
                        <div id="detailed-restaurant-info" class="detailed-restaurant-info">
                            <h3>Apie restoraną</h3>
                            <div class="clearfix">
                                <div class="restaurant-info-lefter">
                                    <ul class="menu">
                                        <li class="ico-kitchen">
                                            <strong>Virtuvė:</strong>
                                            {% for kitchen in place.kitchens %}
                                                {% if loop.index != 1 %}, {% endif %}{{ kitchen.name }}
                                            {% endfor %}
                                        </li>
                                        <li class="ico-time"><strong>Pristatymo laikas:</strong>{{ place.deliveryTime }}</li>
                                        <li class="ico-delivery"><strong>Pristatymo mokestis:</strong>{{ place.deliveryPrice }} {{ currency_display }}</li>
                                        <li class="ico-cart"><strong>Minimalus krepšelis:</strong>{{ place.cartMinimum }} {{ currency_display }}</li>
                                        {# TODO the line below :)#}
                                        {#<li class="ico-payments"><strong>Atsiskaitymo būdai:</strong>Grynais, kortele</li>#}
                                    </ul>
                                </div>
                                <div class="restaurant-info-righter simple-content">
                                    <p>{{ place.description }}</p>
                                    <select class="custom-select">
                                        {% for point in place.points%}
                                            {% if loop.index == 1 %}{% set pointId = 1 %}{# TODO set to get data#}{% endif %}
                                            <option>{{ point.address }}</option>
                                        {% endfor %}
                                    </select>
                                    {# TODO iskeliam i atskira controllsa #}
                                    <div class="location-work-hours clearfix">
                                        <div class="lefter"><img src="/bundles/foodapp/images/ex-map.png"></div>
                                        <div class="righter">
                                            <table>
                                                <tr>
                                                    <td>Monday</td>
                                                    <td class="tar"><span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Tuesday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Wednesday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Thursday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Friday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Saturday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Sunday</td>
                                                    <td class="tar"> <span>10:00 - 24:00</span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-righter-small">
                    {{ render(controller('FoodCartBundle:Default:sideBlock')) }}
                </div>
            </div>
            <div class="clearfix bottom-blocks bottom-block-lower">
                <div class="app-block clearfix"><img src="/bundles/foodapp/images/app-view.png">
                    <div class="app-block-inner">
                        <h3>Skanu.lt <br/>tavo kišenėje!</h3>
                        <div><a href="#"><img src="/bundles/foodapp/images/app-store.png"></a><a href="#"><img src="/bundles/foodapp/images/g-store.png"></a></div>
                    </div>
                </div>
                <div class="newsletter-block">
                    <h4>Naujienlaiškis</h4>
                    <form class="newsletter-form">
                        <input type="text" placeholder="Tavo el. paštas">
                        <input type="submit" value="Prenumeruok">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
