{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{% endblock %}
{% block seo_description %}{% endblock %}

{% block body %}
    {# Facebook ViewContent Begin #}
    <script>fbq('track', 'ViewContent');</script>
    {# Facebook ViewContent End #}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page blog-posts">
                    <h1>{{ category }}</h1>
                    <div class="static-page-content">
                        <ul>
                            {% for post in blogPosts %}
                                <li><a href="{{ address }}/{{ post.category.slug }}/{{ post.slug }}">{{ post }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}