{% extends 'FoodAppBundle::layout.html.twig' %}

{% form_theme form _self %}
{% form_theme addressForm _self %}

{% block form_row %}
{% spaceless %}
    <div class="form-row">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="page-path clearfix">
                <a href="{{ path('food_lang_homepage') }}">Pradžia</a>
                <a href="{{ path('user_profile') }}"> Vartotojo profilis</a>
            </div>
            <div class="page-title">
                <h1 class="clearfix"><span>Sveiki, {{ app.user.firstname }}!</span></h1>
            </div>
            <div class="clearfix">
                <div class="full-content user-page clearfix">
                    <div class="user-lefter">
                        <div class="active-user"><img src="{{ asset('bundles/foodapp/images/person.png') }}"><a href="#" class="edit"></a>
                            <div class="user-name">{{ app.user.firstname }}</div>
                            <div class="user-location">Vilnius</div>
                        </div>
                        <ul class="menu user-menu">
                            <li class="user-ico active"><a href="#">Vartotojo duomenys</a></li>
                            <li class="cart-ico"><a href="#">Užsakymų istorija</a></li>
                            <li class="delivery-ico"><a href="#">Užsakymo sekimas</a></li>
                            <li class="logoff-ico"><a href="#">Atsijungti</a></li>
                        </ul>
                    </div>
                    <div class="user-righter">
                        <h2>Vartotojo duomenys</h2>
                        <form class="user-details-form" action="{{ path('user_profile_update') }}" method="POST">
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.phone) }}
                            <hr>
                            {{ form_row(addressForm.city) }}
                            {{ form_row(addressForm.address) }}
                            <hr>
                            {{ form_row(form.current_password) }}
                            {{ form_row(form.plainPassword.first) }}
                            {{ form_row(form.plainPassword.second) }}
                            <div class="form-controls">
                                <input type="submit" value="išsaugoti">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
