{% extends 'FoodAppBundle::layout.html.twig' %}

{% form_theme form _self %}
{% form_theme addressForm _self %}

{% block form_row %}
{% spaceless %}
    <div class="form-row">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block body %}
    <div class="site-center">
        <div class="site-block">
            <div class="page-path clearfix">
                <a href="{{ path('food_lang_homepage') }}">Pradžia</a>
                <a href="{{ path('user_profile') }}"> Vartotojo profilis</a>
            </div>
            <div class="page-title">
                <h1 class="clearfix"><span>Sveiki, {{ app.user.firstname }}!</span></h1>
            </div>
            <div class="clearfix">
                <div class="full-content user-page clearfix">
                    <div class="user-lefter">
                        <div class="active-user"><img src="{{ asset('bundles/foodapp/images/person.png') }}"><a href="#" class="edit"></a>
                            <div class="user-name">{{ app.user.firstname }}</div>
                            <div class="user-location">Vilnius</div>
                        </div>
                        <ul class="menu user-menu">
                            <li class="menu-item user-ico active" data-target=".user-page .content-item.user"><a href="#">Vartotojo duomenys</a></li>
                            <li class="menu-item cart-ico" data-target=".user-page .content-item.cart"><a href="#">Užsakymų istorija</a></li>
                            <li class="menu-item delivery-ico" data-target=".user-page .content-item.delivery"><a href="#">Užsakymo sekimas</a></li>
                            <li class="logoff-ico"><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></li>
                        </ul>
                    </div>
                    <div class="user-righter content-item user">
                        <h2>Vartotojo duomenys</h2>
                        {% if hasErrors is defined and hasErrors %}
                            <div class="error alert alert-danger">
                                <ul>
                                {% for error in errors %}
                                    <li>{{ error.message|trans() }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <form class="user-details-form" action="{{ path('user_profile_update') }}" method="POST" novalidate="novalidate">
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.phone) }}
                            <hr>
                            {{ form_row(addressForm.city) }}
                            {{ form_row(addressForm.address) }}
                            <hr>
                            {#{{ form_row(form.current_password) }}#}
                            {#{{ form_row(form.plainPassword.first) }}#}
                            {#{{ form_row(form.plainPassword.second) }}#}
                            <div class="form-controls">
                                <input type="submit" value="išsaugoti">
                            </div>
                        </form>
                    </div>
                    <div class="user-righter content-item cart">
                        <h2>Užsakymų istorija</h2>
                        <div class="order-history-list">
                            {#{% for order in orders %}
                                <div class="order-history-item clearfix">
                                    <div class="restautrant-logo">
                                        <div class="restautrant-logo-wrap"><img src="{{ asset('bundles/foodapp/images/res-1-s.png') }}"></div>
                                    </div>
                                    <div class="history-item-middle">
                                        <div class="number-date"><span>Užsakymas #{{ order.id }}</span><span>2013 gruodžio 28, 18,50</span></div>
                                        <div class="desc">Pristatyti <strong>{{ order.details.count }} patiekalai</strong> už {{ order.total }} Lt į Kuršių g. </div>
                                    </div>
                                    <div class="history-item-righter"><a href="#" class="rate-link">Įvertink šį užsakymą</a><a href="#" class="order-button">Užsakyti dar kartą</a></div><span class="close"></span>
                                </div>
                            {% endfor %}#}
                        </div>
                    </div>
                    <div class="user-righter content-item delivery">
                        <h2>Užsakymo sekimas</h2>
                        <form class="delivery-tracking-form">
                            <p>Norite sužinoti kas vyksta su Jūsų užsakymu šiuo metu? Čili seklys leidžia stebėti Jūsų užsakymo statusą nuo jo priėmimo iki pristatymo.</p>
                            <div class="form-row">
                                <label>Įveskite savo Telefono numerį:</label>
                                <input type="text" value="+370">
                                <button type="submit"><span>Sekti užsakymą</span></button>
                            </div>
                            {# <div class="progress-image-wrap"><img src="{{ asset('bundle/foodap/images/delivery-progress.jpg') }}"></div> #}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
