<form class="righter register-form" data-success-url="{{ url('food_lang_homepage') }}" action="{{ url('user_register_create') }}" method="post">
    <h3>{% trans %}general.register_title{% endtrans %}</h3>
    <h4>{% trans %}general.register_text{% endtrans %}</h4>
    {{ form_errors(form) }}
    <div class="form-row">
        {{ form_row(form.firstname) }}
    </div>
    <div class="form-row">
        {{ form_row(form.lastname) }}
    </div>
    <div class="form-row">
        {{ form_row(form.email) }}
    </div>
    <div class="form-row">
        {{ form_row(form.plainPassword.first) }}
    </div>
    <div class="form-row">
        {{ form_row(form.plainPassword.second) }}
    </div>
    <div class="form-controls clearfix">
        <input type="submit" value="{% trans %}general.register_register_button{% endtrans %}" class="fr">
    </div>
</form>
