{# Uzsakymo statuso ir statuso istorijos ispiesimas prie sonatos order show formos #}
<td colspan="2">
    <b>{{ field_description.options.label|trans({}, 'SonataAdminBundle') }}:</b> {% if object.company %}{{ ( 'label_type_yes')|trans({}, 'SonataAdminBundle') }}{% else %}{{ ( 'label_type_no')|trans({}, 'SonataAdminBundle') }}{% endif %}
    <br />
    <br />
    <div class="collapsable">
        <h4 class="padded">{{ field_description.options.label|trans({}, 'SonataAdminBundle') }}</h4>
        <div id="field_container_details" class="field-container">
            <table>
                <tr>
                    <td>{{ 'admin.order.companyName'|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{{ object.companyName }}</td>
                </tr>
                <tr>
                    <td>{{ 'admin.order.companyCode'|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{{ object.companyCode }}</td>
                </tr>
                <tr>
                    <td>{{ 'admin.order.vatCode'|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{{ object.vatCode }}</td>
                </tr>
                <tr>
                    <td>{{ 'admin.order.companyAddress'|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{{ object.companyAddress|nl2br }}</td>
                </tr>
                {% if object.isCorporateClient %}
                    <tr>
                        <td>{{ 'admin.order.division_code'|trans({}, 'SonataAdminBundle') }}</td>
                        <td>{{ object.divisionCode }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'admin.order.division_name'|trans({}, 'SonataAdminBundle') }}</td>
                        <td>{{ misc_utils.divisionName(object.user, object.divisionCode) }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'admin.order.corporate_client_name'|trans({}, 'SonataAdminBundle') }}</td>
                        <td>{{ object.orderExtra.firstname }} {{ object.orderExtra.lastname }} {{ object.orderExtra.email }} {{ object.orderExtra.phone }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</td>