{# Uzsakymo statuso ir statuso istorijos ispiesimas prie sonatos order show formos #}
<td colspan="2">
    <b>{{ field_description.options.label|trans({}, 'SonataAdminBundle') }}</b>
    <br />
    <br />
    <div class="collapsable">
        <h4 class="padded">{{ 'admin.order.delivery_log'|trans({}, 'SonataAdminBundle') }}</h4>
        <div id="field_container_details" class="field-container">
            <table>
                <tr>
                    <th>{{ 'admin.order.status.date'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.delivery_log.event'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.delivery_log.time_elapsed'|trans({}, 'SonataAdminBundle') }}</th>
                </tr>
            {% for deliveryInfo in object.orderDeliveryLog %}
                {% set lastDate = deliveryInfo.eventDate %}
                <tr>
                    <td style="white-space: nowrap">{{ deliveryInfo.eventDate|date("Y-m-d H:i:s") }}</td>
                    <td>{{ ( 'admin.order.delivery_log.' ~ deliveryInfo.event)|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{% if loop.index == 1 %}{{ deliveryInfo.getDiff(object.orderDate, deliveryInfo.eventDate) }}{% else %}{{ deliveryInfo.getDiff(lastDate, deliveryInfo.eventDate) }} min{% endif %}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</td>