{# Uzsakymo logo ispiesimas sonatos admine #}
<td colspan="2">
    <div class="collapsable">
        <h4 class="padded">{{ 'admin.order.order_log'|trans({}, 'SonataAdminBundle') }}</h4>
        <div id="field_container_details" class="field-container">
            <table>
                <tr>
                    <th>{{ 'admin.order.status.date'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.oder_log.order_status'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.oder_log.event'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.order_log.message'|trans({}, 'SonataAdminBundle') }}</th>
                </tr>
            {% for orderInfo in object.orderLog %}
                <tr>
                    <td style="white-space: nowrap">{{ orderInfo.eventDate|date("Y-m-d H:i:s") }}</td>
                    <td>{{ ( 'admin.dispatcher.order_status.' ~ orderInfo.orderStatus)|trans({}, 'SonataAdminBundle') }}</td>
                    <td>{{ orderInfo.event }}</td>
                    <td>{{ orderInfo.message }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</td>