{# Uzsakymo detaliu ispiesimas sonata admine prie orderio Show formos #}
<td colspan="2">
    <div class="collapsable">
        <h4 class="padded">{{ field_description.options.label|trans({}, 'SonataAdminBundle') }}</h4>
        <div id="field_container_details" class="field-container">
            <table>
                <tr>
                    <th>{{ 'admin.order.details.dish_name'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.details.price'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.details.dish_unit'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.details.dish_size_code'|trans({}, 'SonataAdminBundle') }}</th>
                    <th>{{ 'admin.order.details.options'|trans({}, 'SonataAdminBundle') }}</th>
                </tr>
            {% for detail in object.details %}
                <tr>
                    <td>{{ detail.getDishName() }}</td>
                    <td>{{ detail.getPrice() }} {{ currency_display }}</td>
                    <td>{{ detail.getDishUnitName() }}</td>
                    <td>{{ detail.getDishSizeCode() }}</td>
                    <td>
                        {#--#}
                        {#TODO, kai bus detail optionsu pasiekimas#}
                        {#{% set detail_options = detail.get %}#}
                        {% if detail.options is not empty %}
                            <table>
                                <tr>
                                    <th>{{ 'admin.order.details.option_name'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.details.price'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.details.option_code'|trans({}, 'SonataAdminBundle') }}</th>
                                </tr>
                            {% for option in detail.options %}
                                <tr>
                                    <td>{{ option.dishOptionName }}</td>
                                    <td>{{ option.price }} {{ currency_display }}</td>
                                    <td>{{ option.dishOptionCode }}</td>
                                </tr>
                            {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                    {#<td>{{ dump(detail) }}</td>#}
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</td>
<script type="text/javascript">
    $(document).ready(function(){
        $( ".collapsable" ).accordion({
            collapsible: true,
            active: false
        });
    });
</script>