<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <title>{% block title %}{% trans %}general.base_page_title{% endtrans %} | {{ page_title }}{% endblock %}</title>
        {% stylesheets '@FoodAppBundle/Resources/public/styles/landing_b2b_client_lv_style.css'  %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ "now"|date("Ymd") }}" type="text/css"  />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container">
            <div class="ta-c logo">
                <a href="{{ path('food_lang_homepage') }}" style="display: inline-block"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/logo.png') }}" alt="{% trans %}general.page_name{% endtrans %}"></a>
            </div>
            <div class="main">
                <div class="well">
                    <h2 class="ta-c">Kļūstiet par Foodout.lv Biznesa klientu un baudiet priekšrocības!</h2>
                    <p>Seko TOP kompāniju paraugam <strong>un aizsāc jaunas tradīcijas darba vidē</strong> – kopīgas brokastis, pusdienas vai vakariņas! Kā arī viss darba pasākumiem un ballītēm. Par sortimentu – no vairāk nekā 45 restorāniem un kafejnīcām Rīgā – rūpējamies mēs!</p>
                    <div class="row align-items pos-r">
                        <div class="bg-white col-half">
                            Vai zinājāt, ka bezmaksas brokastis vai pusdienas var kļūt par lielisku motivāciju darbiniekiem!? <a href="http://www.benefitspro.com/2015/09/21/the-key-to-workplace-happiness-free-food" target="_blank" class="color-red">Pētījumi*</a> pierāda, ka kopīgas ēdienreizes:
                            <ul>
                                <li>stiprina komandas kopējo garu;</li>
                                <li>uzlabo savstarpējās attiecības.</li>
                            </ul>

                            <span class="pos-a">* Jack Craver, “The key to workplace happiness? Free food!”, 2015</span>
                        </div>

                    </div>
                    <h2 class="ta-c">Mums ikdienā uzticās:</h2>
                    <div class="partners">
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a1.png') }}" alt="SIA CV-Online Latvia" title="SIA CV-Online Latvia"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a2.png') }}" alt="SIA KPMG Baltics" title="SIA KPMG Baltics"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a3.png') }}" alt="AS LATFOOD" title="AS LATFOOD"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a6.png') }}" alt="SIA Mikrotīkls" title="SIA Mikrotīkls"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a7.png') }}" alt="SIA ALTIA LATVIJA" title="SIA ALTIA LATVIJA"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a8.png') }}" alt="SIA Douglas Latvija" title="SIA Douglas Latvija"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a9.png') }}" alt="SIA DHL Latvia" title="SIA DHL Latvia"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a10.png') }}" alt="SIA VIASTOR" title="SIA VIASTOR"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a11.png') }}" alt="SIA PHILIPS BALTIC" title="SIA PHILIPS BALTIC"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/a4.png') }}" alt="SIA Transcom Worldwide Latvia" title="SIA Transcom Worldwide Latvia"></a>
                    </div>

                </div>
                <div class="clearfix">
                    <div class="well col-1">
                        <h3>B2B klientiem piedāvājam:</h3>
                        <ul>
                            <li>iespēju pasūtīt ēdienu no 45+ dažādiem restorāniem Rīgā;</li>
                            <li>īpašus piedāvājumus un izdevīgas cenas.</li>
                        </ul>
                    </div>
                    <div class="well col-2">
                        <h3>Biznesa klienti iegūst:</h3>
                        <ul>
                            <li>saņem īpašos piedāvājumus un ekskluzīvas akcijas;</li>
                            <li>iespēju apmaksāt rēķinus reizi mēnesī;</li>
                            <li>precīzu piegādi norunātajā laikā.</li>
                            <li><strong>Apjoma atlaides:</strong></li>
                        </ul>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Mēneša apjoms</th>
                                    <th>Atlaide</th>
                                </tr>
                                <tr><td>50 – 100 €</td><td>5%</td></tr>
                                <tr><td>101 – 200 €</td><td>6%</td></tr>
                                <tr><td>201 – 300 €</td><td>7%</td></tr>
                                <tr><td>301 – 449 € </td><td>10%</td></tr>
                                <tr><td>450 € un vairāk</td><td>15%</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="well">
                    <h3>Foodout ir:</h3>
                    <ul>
                        <li>ir pilna servisa piegādes uzņēmums ar interneta platform, kurā ir vairāk nekā 45 Rīgas restorāni – jebkurai gaumei un vēlmēm;</li>
                        <li>var veikt pasūtījumu 3 veidos: internetā, no mobilās aplikācijas vai zvanot;</li>
                        <li>ēdienu piegādā stundas laikā vai uz noteiktu laiku. Lielākus pasūtījumus iesakām veikt uz noteiktu datumu un laiku.</li>
                    </ul>
                    <div class="partners">
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b1.png') }}" alt="Čili pizza" title="Čili pizza | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b2.png') }}" alt="Can Can pica" title="Can Can pica | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b3.png') }}" alt="Delisnack" title="Delisnack | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b4.png') }}" alt="Burgerstory" title="Burgerstory | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b5.png') }}" alt="Pakistānas kebabs" title="Pakistānas kebabs | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b6.png') }}" alt="SushiClub.lv" title="SushiClub.lv | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b7.png') }}" alt="Planeta" title="Planeta | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b8.png') }}" alt="Il Patio" title="Il Patio | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b9.png') }}" alt="Dragon Box" title="Dragon Box | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b10.png') }}" alt="TGI Fridays" title="TGI Fridays | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b11.png') }}" alt="EcoCatering.lv" title="EcoCatering.lv | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b12.png') }}" alt="Drusti" title="Drusti | {% trans %}general.page_name{% endtrans %}"></a>
                        <a href="{{ path('food_lang_homepage') }}" target="_blank"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/b13.png') }}" alt="Tex Mex republic" title="Tex Mex republic | {% trans %}general.page_name{% endtrans %}"></a>
                    </div>
                </div>
                <div class="well col-center ta-c">
                    <div class="whs-nw"><b>Kontaktinformācija</b></div><br>
                    <div class="whs-nw"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/phone.png') }}" alt="+37167363663" style="display: inline; vertical-align: middle; margin-right: 5px; width: 20px;"><b><a href="tel:+37167363663">+371 67363663</a></b></div>
                    <div class="whs-nw"><img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/mail.png') }}" alt="info@foodout.lv" style="display: inline; vertical-align: middle; margin-right: 5px; width: 28px;"><b><a href="mailto:info@foodout.lv">info@foodout.lv</a></b></div>
                </div>
            </div>
            <div class="ta-c slogan">
                <img src="{{ asset('bundles/foodapp/images/landing/b2bclient_lv/foo.png') }}" alt="PLASA IZVĒLE - ATRA PIEGĀDE">
            </div>
        </div>
    </body>
</html>