{% extends 'FoodAppBundle::mobilelayout.html.twig' %}

{% block title %}{% trans %}mobile.invoice_driver{% endtrans %} - {{ page_title }}{% endblock %}

{% block body %}
    <div>
        <div><img src="/bundles/foodapp/images/logo_food.png" alt="{{ page_title }}" title="{{ page_title }}" /></div>
        <div><b>{% trans %}mobile.invoice_driver{% endtrans %}</b></div>
        <br />
        <table class="table condensed" style="width: 310px;">
            <tr>
                <td>{% trans %}mobile.invoice.date{% endtrans %}:</td>
                <td>{{ order.orderDate|date("Y.m.d") }}</td>
            </tr>
            <tr>
                <td>{% trans %}mobile.invoice.assign_date{% endtrans %}:</td>
                <td>____________</td>
            </tr>
            <tr>
                <td>{% trans %}mobile.invoice.delivery_date{% endtrans %}:</td>
                <td>____________{#{{ order.orderDate|date("H:i") }}#}</td>
            </tr>
            <tr>
                <td>{% trans %}mobile.invoice.driver{% endtrans %}:</td>
                <td>{{ order.driver.name }}</td>
            </tr>
            <tr>
                <td>{% trans %}mobile.invoice.car_number{% endtrans %}:</td>
                <td>____________</td>
            </tr>
        </table>
    </div>
    <br />
    <table class="table table-bordered table condensed">
        <thead>
            <tr>
                <th>{% trans %}mobile.invoice.dish_name{% endtrans %}</th>
                <th>{% trans %}mobile.invoice.quantity{% endtrans %}</th>
                <th>{% trans %}mobile.invoice.price{% endtrans %}</th>
                <th>{% trans %}mobile.invoice.sum{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in order.details %}
            <tr>
                <td>{{ dish.dishId.name }}</td>
                <td>{{ dish.quantity }}</td>
                <td>{{ dish.price }}</td>
                <td>{{ dish.price * dish.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Customer information#}
    <div>
        {% trans %}mobile.invoice.customer{% endtrans %}:<br />
        {% trans %}mobile.invoice.customer_phone{% endtrans %}: {{ order.user.phone }}, {{ order.addressId.address }}, {{ order.addressId.city }}, {{ order.comment }}<br />
        {% trans %}mobile.payment{% endtrans %}: {{ ('mobile.payment.' ~ order.paymentMethod)|trans }}
    </div>
    <br />
    {# Legal information #}
    <table  class="table table-bordered table condensed">
        <thead>
        <tr>
            <th>{% trans %}mobile.invoice.submitted{% endtrans %}</th>
            <th>{% trans %}mobile.invoice.received{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>________________</td>
            <td>________________</td>
        </tr>
        <tr>
            <td>Foodout.lt UAB</td>
            <td>________________</td>
        </tr>
        <tr>
            <td>{% trans %}mobile.invoice.vat_code{% endtrans %}: LT100008038519</td>
            <td>{% trans %}mobile.invoice.vat_code{% endtrans %}: ______________</td>
        </tr>
        <tr>
            <td>{% trans %}mobile.invoice.company_code{% endtrans %}: 303134580</td>
            <td>{% trans %}mobile.invoice.company_code{% endtrans %}: ______________</td>
        </tr>
        <tr>
            <td>Laisvės pr. 77c-58, Vilnius</td>
            <td>{{ order.addressId.address }}, {{ order.addressId.city }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}