<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <style type="text/css">
        .data-table {
            width: 100%; border: none;
            border-spacing: 1px;
        }
        .data-table td {
            border: 1px solid #000000;
            padding-left: 5px;
        }
        .data-table td.no-border,
        .data-table tr.no-border-line td {
            border: none;
        }
        .data-table td.narrow_col {
            width: 50px;
            text-align: center;
        }
        .data-table td.sum_col {
            text-align: right;
            padding-right: 5px;
            width: 70px;
            white-space: nowrap;
        }
        .no-wrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <h1>{% trans %}order.invoice.invoice_title{% endtrans %}</h1>
    <br />
    <h3>{% trans %}order.invoice.series{% endtrans %} {{ order.sfSeries }} {% trans %}order.invoice.number{% endtrans %} {{ order.sfNumber }}</h3>
</div>
<br />
<br />
<div style="width: 100%;">
    <div style="display: inline-block; width: 49%;">
        {% trans %}order.invoice.seller{% endtrans %}<br />
        {% trans %}order.invoice.foodout_company_name{% endtrans %}<br />
        <br />
        {% trans %}order.invoice.foodout_address{% endtrans %}<br />
        {% trans %}order.invoice.company_code{% endtrans %} {% trans %}order.invoice.foodout_company_code{% endtrans %}<br />
        {% trans %}order.invoice.vat_num{% endtrans %} {% trans %}order.invoice.foodout_vat_code{% endtrans %}<br />
        {% trans %}order.invoice.foodout_bank{% endtrans %}<br />
        {% trans %}order.invoice.bank_code{% endtrans %} {% trans %}order.invoice.foodout_bank_code{% endtrans %}<br />
        A/s {% trans %}order.invoice.foodout_bank_account{% endtrans %}<br />
    </div>
    <div style="display: inline-block; width: 49%; vertical-align: top;">
        {% trans %}order.invoice.buyer{% endtrans %}<br />
        {% if order.company == false %}
        {{ order.user.fullName }}<br />
        <br />
        {{ order.addressId.address|capitalize }}<br />
        {{ order.addressId.city }}<br />
        <br />
        <br />
        <br />
        {% else %}
            {{ order.companyName }}<br />
            <br />
            {{ order.companyAddress }}<br />
            {% trans %}order.invoice.company_code{% endtrans %} {{ order.companyCode }}<br />
            {% if order.vatCode != '' %}{% trans %}order.invoice.vat_num{% endtrans %} {{ order.vatCode }}{% endif %}<br />
            <br />
        {% endif %}
        {% trans %}order.invoice.document_date{% endtrans %}: {{ order.orderDate|date("Y m d") }}<br />
    </div>
</div>
<br />
<br />
<table class="data-table">
    <tr>
        <td class="narrow_col">{% trans %}order.invoice.line_num{% endtrans %}</td>
        <td style="min-width: 335px;">{% trans %}order.invoice.product_name{% endtrans %}</td>
        <td style="max-width: 200px;">{% trans %}order.invoice.measure_name{% endtrans %}</td>
        <td class="narrow_col">{% trans %}order.invoice.quantity{% endtrans %}</td>
        <td class="sum_col">{% trans %}order.invoice.price{% endtrans %}</td>
        <td class="sum_col">{% trans %}order.invoice.sum{% endtrans %}, {{ currency_display|raw }}</td>
        {% if currency_alternative %}<td class="no-border"></td>{% endif %}
    </tr>
    {# TODO nutarem su buhalterija, kad visiems rasome - maistas ir nedetalizuojame patiekalu #}
    {#{% if order.orderFromNav %}#}
        <tr class="no-border-line">
            <td class="narrow_col">1</td>
            <td>{{ 'order.invoice.food_from1822'|trans() }}</td>
            <td></td>
            <td class="narrow_col">1</td>
            <td class="sum_col">{{ order.dishesWithoutVat|number_format(2, ',', ' ') }}</td>
            <td class="sum_col">{{ order.dishesWithoutVat|number_format(2, ',', ' ') }}</td>
            {% if currency_alternative %}<td class="no-border sum_col"></td>{% endif %}
        </tr>
    {#{% else %}
        {% for dish in order.details %}
            <tr class="no-border-line">
                <td class="narrow_col">{{ loop.index }}</td>
                <td>{{ dish.dishName }}</td>
                <td>{{ dish.dishUnitName }}</td>
                <td class="narrow_col">{{ dish.quantity }}</td>
                <td class="sum_col">{{ dish.price }}</td>
                <td class="sum_col">{{ dish.price * dish.quantity }}</td>
                {% if currency_alternative %}<td class="no-border sum_col"></td>{% endif %}
            </tr>
        {% endfor %}
    {% endif %}#}
    <tr class="no-border-line">
        <td class="narrow_col">2</td>
        <td>{{ 'order.invoice.delivery'|trans() }}</td>
        <td></td>
        <td class="narrow_col">1</td>
        <td class="sum_col">{{ order.deliveryWithoutVat|number_format(2, ',', ' ') }}</td>
        <td class="sum_col">{{ order.deliveryWithoutVat|number_format(2, ',', ' ') }}</td>
        {% if currency_alternative %}<td class="no-border sum_col"></td>{% endif %}
    </tr>

    <tr class="no-border-line"><td colspan="7">&nbsp;</td></tr>
    <tr class="no-border-line">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="no-wrap">{% trans %}order.invoice.sum_no_vat{% endtrans %}:</td>
        <td class="sum_col">{{ order.totalWithoutVat|number_format(2, ',', ' ') }} {{ currency_display|raw }}</td>
        {% if currency_alternative %}<td class="sum_col">{{ misc_utils.getLitas(order.totalWithoutVat) }} {{ display_currency_alternative }}</td>{% endif %}
    </tr>

    <tr class="no-border-line">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="no-wrap" style="white-space: nowrap;">{% trans %}order.invoice.vat{% endtrans %} {{ vat_size }}%</td>
        <td class="sum_col">{{ order.vatSize|number_format(2, ',', ' ') }} {{ currency_display|raw }}</td>
        {% if currency_alternative %}<td class="sum_col">{{ misc_utils.getLitas(order.vatSize) }} {{ display_currency_alternative }}</td>{% endif %}
    </tr>
    <tr class="no-border-line">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="no-wrap" style="border-top: 1px solid black;">{% trans %}order.invoice.sum_total{% endtrans %}:</td>
        <td class="sum_col" style="border-top: 1px solid black;">{{ order.total|number_format(2, ',', ' ') }} {{ currency_display|raw }}</td>
        {% if currency_alternative %}<td class="sum_col" style="border-top: 1px solid black;">{{  misc_utils.getLitas(order.total)|number_format(2, ',', ' ') }}{{ display_currency_alternative }}</td>{% endif %}
    </tr>
</table>
<br />
<br />
<div>{% trans %}order.invoice.sum_words{% endtrans %}: {{ misc_utils.priceToText(order.total)|capitalize }}</div>
<br />
<br />
<br />
<div>{% trans %}order.invoice.invoice_receiver{% endtrans %}: __________________________________________________________</div>
</body>
</html>
