{% extends 'FoodAppBundle::mobilelayout.html.twig' %}

{% block title %}{% trans %}mobile.restaurant_order{% endtrans %} - {{ page_title }}{% endblock %}
{% block javascripts %}
    <script language="JavaScript">
        function delayOrder() {
            document.getElementById('maintable').style.display = 'none';
            document.getElementById('delay_block').style.display = 'block';
        }
        function cancelDelay() {
            document.getElementById('maintable').style.display = 'table';
            document.getElementById('delay_block').style.display = 'none';
        }
        $('.collapsable-row .btn').on('click', function(e) {
            e.preventDefault();
            var $this = $(this);
            var $collapse = $this.closest('.collapse-group').find('.collapse');
            if ($collapse.hasClass('in')) {
                $collapse.removeClass('in').addClass('out');
            } else if ($collapse.hasClass('out')) {
                $collapse.removeClass('out').addClass('in');
            } else {
                $collapse.addClass('in');
            }
        });
    </script>
{% endblock %}
{% block body %}
    <table class="table table-bordered table condensed" id="maintable">
        <thead>
        <tr>
            <th colspan="5"><img src="/bundles/foodapp/images/logo_food.png"> <img src="/{{order.place.getWebPathThumb}}" style="float: right"></th>
        </tr>
        <tr>
            <th style="width: 30px">#</th>
            <th>{% trans %}mobile.order_dish{% endtrans %}</th>
            <th style="width: 60px">{% trans %}mobile.order_unit_name{% endtrans %}</th>
            <th style="width: 30px">{% trans %}mobile.order_quantity{% endtrans %}</th>
            <th>{% trans %}mobile.order_toppings{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for dish in order.details %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ dish.dishName }}</td>
                <td>{{ dish.dishUnitName }}</td>
                <td>{{ dish.quantity }}</td>
                <td>
                    {% for option in dish.options %}
                        <li>{{ option.dishOptionName }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        {% if order.couponCode is not empty %}
            <tr>
                <td colspan="5">
                    <b>
                        {% trans %}mobile.order.coupon_code{% endtrans %}
                    </b> {{ order.couponCode }}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <b>
                        {% trans %}mobile.order.coupon_discount_sum{% endtrans %}
                    </b> {{ order.discountSum }} {{ currency_display }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="5">
                <b>
                    {% if order.deliveryType == 'deliver' %}
                    {% trans %}mobile.order.sum_with_delivery{% endtrans %}
                {% else %}
                    {% trans %}mobile.order.sum{% endtrans %}
                    {% endif %}:
                </b> {{ order.total }} {{ currency_display }}
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>{% trans %}mobile.restourant_place_point_address{% endtrans %}:</strong>
                {{ order.place.name }} - {{ order.placePoint.address }}, {{ order.placePoint.city }} <a href="tel:+{{ order.placePoint.phone }}">+{{ order.placePoint.phone }}</a>
            </td>
        </tr>
        {% if order.deliveryType == 'deliver' %}
            <tr>
                <td colspan="5">
                    <strong>{% trans %}mobile.pickup_type{% endtrans %}:</strong>
                    {% if order.placePointSelfDelivery == 1 %}
                        {% trans %}mobile.deliver{% endtrans %}
                    {% else %}
                        {% trans %}mobile.pickup_foodout{% endtrans %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="5"><strong>{% trans %}mobile.delivery_destination{% endtrans %}:</strong> {{ order.addressId.address }}, {{ order.addressId.city }}</td>
            </tr>
        {% else %}
            <tr>
                <th colspan="5">{% trans %}mobile.pickup_type{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5">{% trans %}mobile.pickup{% endtrans %}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="5"><strong>{% trans %}mobile.customer_phone{% endtrans %}:</strong> <a href="tel:+{{ order.user.phone }}">+{{ order.user.phone }}</td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.comment{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5">{{ order.comment|nl2br }}</td>
        </tr>
        <tr>
            <td colspan="5"><strong>{% trans %}mobile.payment{% endtrans %}:</strong> {{ ('mobile.payment.' ~ order.paymentMethod)|trans }}</td>
        </tr>
        <tr>
            <td colspan="5"><strong>{% trans %}mobile.order_time{% endtrans %}:</strong> {{ order.orderDate|date("H:i") }}</td>
        </tr>
        <tr>
            <td colspan="5"><strong>{% trans %}mobile.deliver_time{% endtrans %}:</strong> {{ order.deliveryTime|date("H:i") }}</td>
        </tr>
        <tr>
            <td colspan="5" style="background-color: #FFD9C5;"><strong>{% trans from "SonataAdminBundle" %}admin.order.order_status{% endtrans %}:</strong> {{ ('admin.dispatcher.order_status.' ~ order.orderStatus)|trans({}, 'SonataAdminBundle') }}</td>
        </tr>
        <tr>
            <td colspan="5" style="background-color: #FFD9C5;"><strong>{% trans from "SonataAdminBundle" %}admin.order.payment_status{% endtrans %}:</strong> {{ ('admin.order.payment_status.' ~ order.paymentStatus)|trans({}, 'SonataAdminBundle') }}</td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>{% trans from "SonataAdminBundle" %}admin.order.order_status.log{% endtrans %}:</strong><br />
                <div class="collapsable-row">
                    <div class="span4 collapse-group">
                        <div class="collapse">
                            <table>
                                <tr>
                                    <th>{{ 'admin.order.status.date'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.status.old_status'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.status.new_status'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.status.source'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.status.message'|trans({}, 'SonataAdminBundle') }}</th>
                                </tr>
                                {% for statusInfo in order.orderStatusLog %}
                                    <tr>
                                        <td style="white-space: nowrap">{{ statusInfo.eventDate|date("Y-m-d H:i:s") }}</td>
                                        <td>{{ ( 'admin.dispatcher.order_status.' ~ statusInfo.oldStatus)|trans({}, 'SonataAdminBundle') }}</td>
                                        <td>{{ ( 'admin.dispatcher.order_status.' ~ statusInfo.newStatus)|trans({}, 'SonataAdminBundle') }}</td>
                                        <td>{{ ( 'admin.order.status.source.' ~ statusInfo.source)|trans({}, 'SonataAdminBundle') }}</td>
                                        <td>{{ statusInfo.message }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <p>
                            <a class="btn btn-info btn-block" href="#">Plačiau</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>{% trans from "SonataAdminBundle" %}admin.order.order_payemnt_status.log{% endtrans %}:</strong><br />
                <div class="collapsable-row">
                    <div class="span4 collapse-group">
                        <div class="collapse">
                            <table>
                                <tr>
                                    <th>{{ 'admin.order.status.date'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.payment_status.new_status'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.payment_status.event'|trans({}, 'SonataAdminBundle') }}</th>
                                    <th>{{ 'admin.order.status.message'|trans({}, 'SonataAdminBundle') }}</th>
                                </tr>
                                {% for statusInfo in order.paymentLog %}
                                    <tr>
                                        <td style="white-space: nowrap">{{ statusInfo.eventDate|date("Y-m-d H:i:s") }}</td>
                                        <td>{{ ( 'admin.order.payment_status.' ~ statusInfo.paymentStatus)|trans({}, 'SonataAdminBundle') }}</td>
                                        <td>{{ statusInfo.event }}</td>
                                        <td>{{ statusInfo.message }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <p>
                            <a class="btn btn-info btn-block" href="#">Plačiau</a>
                        </p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning">Prieš keistamas statusa - pasitikrink, koks jis yra dabar ir neprisidirbk!</div>
    <form method="post">
        <button type="submit" name="status" value="confirm" class="btn btn-primary btn-block">{% trans %}mobile.order_confirm{% endtrans %}</button>
        <button type="submit" name="status" value="cancel" class="btn btn-danger btn-block">{% trans %}mobile.order_cancel{% endtrans %}</button>
        {% if order.orderStatus == "accepted" %}
            <div id="delay_block" style="display: none;">
                <div class="form-group">
                    <label for="delay_reason" class="col-sm-2 control-label">{% trans %}mobile.order_delay_reason{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="delay_reason" name="delay_reason">
                    </div>
                </div>
                <div class="form-group">
                    <label for="delay_duration" class="col-sm-2 control-label">{% trans %}mobile.order_delay_duration{% endtrans %} min.</label>
                    <div class="col-sm-10">
                        <select name="delay_duration" id="delay_duration" class="form-control">
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="60">60</option>
                            <option value="90">90</option>
                            <option value="120">120</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="delay_duration" class="col-sm-2 control-label"></label>
                    <div class="col-sm-2">
                        <button name="status" value="delay" class="btn btn-warning btn-block">{% trans %}mobile.order_submit_delay{% endtrans %}</button>
                    </div>
                    <div class="col-sm-8">
                        <button type="button" class="btn btn-danger btn-block" onclick="cancelDelay();">{% trans %}mobile.order_cancel_delay{% endtrans %}</button>
                    </div>
                </div>
                <br clear="all" />
                <br clear="all" />
            </div>
            <button type="button"  onclick="delayOrder();" class="btn btn-warning btn-block">{% trans %}mobile.order_delay{% endtrans %}</button>
        {% endif %}
        <button type="submit" name="status" value="finish" class="btn btn-success btn-block">{% trans %}mobile.order_finish{% endtrans %}</button>
        <button type="submit" name="status" value="completed" class="btn btn-success btn-block">{% trans %}mobile.order_delivered{% endtrans %}</button>
    </form>
{% endblock %}
