{% extends 'FoodAppBundle::mobilelayout.html.twig' %}

{% block title %}{% trans %}mobile.driver_order{% endtrans %} - {{ page_title }}{% endblock %}


{% block body %}
    <style type="text/css">
        .pedestrian-template-warning{
            text-align: center;
            text-transform: uppercase;
            background-color: red;
            border-radius: 10px;
            padding:15px;
            font-weight: bold;
            font-size: 25px;
            letter-spacing: 1px;

        }

        .headerLogoMobile {
            background: #cd1d36;
        }

        .headerLogoMobile img
        {
            max-height: 50px;
        }



        {% if order.orderStatus in ['canceled', 'canceled_produced'] %}
        body {
            background: #f2dbd4;
        }
        {% elseif order.preorder %}
        body {
            background: #d6ebf2;
        }
        {% endif %}
        .pp-amount {
            float: right;
        }

        .not-bolded {
            font-weight: normal !important;
        }
    </style>
    <table class="table table-bordered table condensed">
        <thead>
        <tr>
            <th class="headerLogoMobile" colspan="5">
                <img src="{{ "/uploads/site_logo/"}}{{  misc_utils.getParam('site_logo_url') }}" style="float: left;">
                <img src="//{{ cloudfront_url }}/{{order.place.getWebPathThumb}}" style="float: right">
            </th>
        </tr>

        {% if order.deliveryType == 'pedestrian' %}
            <tr>
                <td colspan="5">
                    <div class="pedestrian-template-warning" >

                        {% trans %}mobile.pedestrian_warning{% endtrans %}
                    </div>
                </td>
            </tr>
        {% endif %}

        <tr>
            <th style="width: 30px">#</th>
            <th>{% trans %}mobile.order_dish{% endtrans %}</th>
            <th style="width: 60px">{% trans %}mobile.order_unit_name{% endtrans %}</th>
            <th style="width: 30px">{% trans %}mobile.order_quantity{% endtrans %}</th>
            <th>{% trans %}mobile.order_toppings{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for dish in order.details %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ dish.dishId.name }}</td>
                <td>{{ dish.dishUnitId.name }}</td>
                <td>{{ dish.quantity }}</td>
                <td>
                    {% for option in dish.options %}
                        <li>{{ option.dishOptionId.name }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        {% if order.couponCode is not empty %}
            <tr>
                <td colspan="5">
                    <b>
                        {% trans %}mobile.order.coupon_used{% endtrans %}
                    </b>
                </td>
            </tr>

        {% endif %}
        <tr>
            <td style="border-bottom: 2px solid black" colspan="5">
                <b>{% trans %}mobile.order.id{% endtrans %}</b>: {{ order.id }}</td>
        </tr>

        <tr>
            <td colspan="5" style="font-size: 18px;">

                <b>
                    {% trans %}mobile.order.sum_without_admin_fee_and_delivery_changed{% endtrans %}:
                </b>
                <div class="pp-amount">
                    {{ order.totalBeforeDiscount }} {{ currency_display|raw }}  {% if currency_alternative %}/ {{ misc_utils.getLitas(order.total) }}LTL{% endif %}
                </div>
            </td>
        </tr>

        {% if order.deliveryType == 'deliver' %}
            <tr>
                <td colspan="5" style="font-size: 16px;">

                    {% if order.deliveryType == 'deliver' %}

                            {% trans %}mobile.order.sum_with_delivery.changed{% endtrans %}:

                        <div class="pp-amount">
                            {{ order.totalBeforeDiscount + order.deliveryPrice }} {{ currency_display|raw }}  {% if currency_alternative %}/ {{ misc_utils.getLitas(order.total) }}LTL{% endif %}
                        </div>
                    {% else %}

                            {% trans %}mobile.order.sum.changed{% endtrans %}:

                        <div class="pp-amount">
                            {{ order.order.totalBeforeDiscount }} {{ currency_display|raw }}  {% if currency_alternative %}/ {{ misc_utils.getLitas(order.total) }}LTL{% endif %}
                        </div>
                    {% endif %}


                </td>
            </tr>
        {% endif %}
        {% if order.couponCode is not empty %}
            <tr>
                <td colspan="5">
                    <b class="not-bolded">
                        {% trans %}mobile.order.coupon_discount_sum{% endtrans %}:
                    </b>
                    <div class="pp-amount">
                        {{ order.discountSum }} {{ currency_display|raw }}
                    </div>
                </td>
            </tr>
            {% if order.coupon.discount %}
                <tr>
                    <td colspan="5">
                        <b class="not-bolded">
                            {% trans %}mobile.order.coupon_discount_percent{% endtrans %}:
                        </b>
                        <div class="pp-amount">
                            {{ order.coupon.discount }} {{ '%' }}
                        </div>
                    </td>
                </tr>
            {% endif %}

        {% endif %}

        {% if order.deliveryType == 'deliver' %}
            <tr>
                <td colspan="5"><b class="not-bolded">{% trans %}mobile.restaurant_delivery_price.changed{% endtrans %}:
                        :</b>
                    <div class="pp-amount">
                        {{ order.deliveryPrice }} {{ currency_display|raw }}
                    </div>
                </td>
            </tr>
        {% endif %}

        {#{% if order.deliveryType == 'deliver' %}#}
        {#<tr>#}
        {#<td colspan="5"><b>{% trans %}mobile.order.sum_without_delivery{% endtrans %}#}
        {#:</b> {{ order.total - order.deliveryPrice }} {{ currency_display|raw }}</td>#}
        {#</tr>#}

        {#{% endif %}#}
        {% if order.adminFee > 0 %}
            <tr>
                <td colspan="5"><b class="not-bolded">{% trans %}mobile.order.admin_fee{% endtrans %}
                        :</b>
                    <div class="pp-amount">
                        {{ order.adminFee }} {{ currency_display|raw }}
                    </div>
                </td>
            </tr>
        {% endif %}

        <tr>
            <td colspan="5" style="font-size: 18px; border-bottom: 2px solid black;color:green">
                <b>

                    {% trans %}mobile.order.for_user_with_pvm{% endtrans %}:

                </b>
                <div class="pp-amount">
                    {{ order.total}} {{ currency_display|raw }}  {% if currency_alternative %}/ {{ misc_utils.getLitas(order.total) }}LTL{% endif %}
                </div>
            </td>
        </tr>

        <tr>
            <th colspan="5">{% trans %}mobile.restourant_place_point_address{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5">{{ order.place.name }} - {{ order.placePoint.address }}</td>
        </tr>

        {% if order.foodPrepareDate %}
            <tr>
                <th colspan="5" style="font-size: 18px;">{% trans %}mobile.prepare_time{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 18px;border-bottom: 2px solid black"><b
                            style="color:red;">{{ order.foodPrepareDate|date("Y.m.d H:i") }}</b></td>
            </tr>
        {% else %}

            <tr>
                <th colspan="5" style="font-size: 18px;">{% trans %}mobile.prepare_time{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5" style="font-size: 18px;border-bottom: 2px solid black"><b
                            style="color:red;">{{ order_service.getMakingTime(order)|date("Y-m-d H:i") }}</b></td>
            </tr>
        {% endif %}

        {% if order.adminFee > 0 %}
            <tr>
                <td colspan="5"><b>{% trans %}mobile.order.admin_fee{% endtrans %}:</b> {{ order.adminFee }} {{ currency_display|raw }}</td>
            </tr>
        {% endif %}
        <tr>
            <th colspan="5">{% trans %}mobile.payment{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5">{{ ('mobile.payment.' ~ order.paymentMethod)|trans }}</td>
        </tr>
        {% if order.deliveryType == 'deliver' %}
                <tr>
                    <th colspan="5">{% trans %}mobile.pickup_type{% endtrans %}</th>
                </tr>
                <tr>
                    <td colspan="5">{% trans %}mobile.deliver{% endtrans %}</td>
                </tr>
        {% elseif order.deliveryType == 'pickup' %}
            <tr>
                <th colspan="5">{% trans %}mobile.pickup_type{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5">{% trans %}mobile.pickup{% endtrans %}</td>
            </tr>

        {% elseif order.deliveryType == 'pedestrian'%}

            <tr>
                <th colspan="5">{% trans %}mobile.pickup_type{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5">{% trans %}mobile.pedestrian{% endtrans %}</td>
            </tr>

        {% endif %}
        <tr>
            <th colspan="5">{% trans %}mobile.deliver_time{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5">{{ order.deliveryTime|date("H:i") }}</td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.place_point_address{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5"><a itemprop="address" href="https://maps.google.com?saddr=Current+Location&daddr={{ order.placePoint.address }}" target="_blank">{{ order.place.name }} - {{ order.placePoint.address }}, {{ order.placePoint.cityId.title }}</a></td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.place_point_phone{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5"><a href="tel:+{{ order.placePoint.phone }}">+{{ order.placePoint.phone }}</a></td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.delivery_destination{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5"><a itemprop="address" href="https://maps.google.com?saddr=Current+Location&daddr={{ order.addressId.address }}" target="_blank">{{ order.addressId.address }}</a></td>
        </tr>
        {% if order.addressId.flat is not null %}
            <tr>
                <td colspan="5">{{ order.addressId.flat }}</td>
            </tr>
        {% endif %}
        <tr>
            <th colspan="5">{% trans %}mobile.customer_phone{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5"><a href="tel:+{{ order.orderExtra.phone }}">+{{ order.orderExtra.phone }}</a></td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.dispatcher_contact_phone{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5"><a href="tel:+{{ call_centre_phone }}">+{{ call_centre_phone }}</a></td>
        </tr>
        <tr>
            <th colspan="5">{% trans %}mobile.comment{% endtrans %}</th>
        </tr>
        <tr>
            <td colspan="5">{{ order.comment|nl2br }}</td>
        </tr>
        {% if order.placePointSelfDelivery == 1 or order.deliveryType == 'pickup' %}
            <tr>
                <th colspan="5">{% trans %}mobile.payment{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5">{{ ('mobile.payment.' ~ order.paymentMethod)|trans }}</td>
            </tr>
            <tr>
                <th colspan="5">{% trans %}mobile.order_time{% endtrans %}</th>
            </tr>
            <tr>
                <td colspan="5">{{ order.orderDate|date("H:i") }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <form method="post">
        {% if order.orderStatus == "assigned" %}
            {% if order.orderPicked == false %}
            <button type="submit" name="status" value="picked-up" class="btn btn-success btn-block btn-lg">{% trans %}mobile.order_picked_up{% endtrans %}</button>
            <br>
            {% endif %}
            <button type="submit" name="status" value="completed" class="btn btn-success btn-block btn-lg">{% trans %}mobile.order_delivered{% endtrans %}</button>
        {% endif %}
        <a class="btn btn-info btn-block btn-lg" href="{{ path('driver_mobile_invoice', {hash: order.orderHash}) }}">{% trans %}mobile.invoice_driver{% endtrans %}</a>
        {#{% if order.orderStatus == "assigned" %}
            <br />
            <button type="submit" name="status" value="partialy_completed" class="btn btn-warning btn-block">{% trans %}mobile.order_partialy_delivered{% endtrans %}</button>
        {% endif %}#}
    </form>
{% endblock %}
