{% extends 'FoodAppBundle::layout.html.twig' %}

{% block title %}{{ staticPage.title }}{% if staticPage.seoTitle %} {{ staticPage.seoTitle }}{% endif %} | {{ page_title }}{% endblock %}
{% block seo_description %}{{ staticPage.seoDescription }}{% endblock %}

{% block adnet_retargeting %}
    <!-- Adform Tracking Code BEGIN -->
    <script type="text/javascript">
        var _adftrack = {
            pm: 314127,
            divider: encodeURIComponent('|'),
            pagename: encodeURIComponent('Foodout.lt|{% trans %}general.homepage.meta_title{% endtrans %}|Static|{{ staticPage.title }}')
        };
        (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();

    </script>
    <noscript>
        <p style="margin:0;padding:0;border:0;">
            <img src="https://track.adform.net/Serving/TrackPoint/?pm=314127&ADFPageName=Foodout.lt|{% trans %}general.homepage.meta_title{% endtrans %}|Static|{{ staticPage.title }}&ADFdivider=|" width="1" height="1" alt="" />
        </p>
    </noscript>
    <!-- Adform Tracking Code END -->
{% endblock %}

{% block body %}
    {# Facebook ViewContent Begin #}
    <script>fbq('track', 'ViewContent');</script>
    {# Facebook ViewContent End #}
    <div class="site-center">
        <div class="site-block">
            <div class="middle-content">
                <div class="static-page">
                    <h1>{{ staticPage.title }}</h1>
                    <div class="static-page-content">
                        {{ staticPage.content|raw }}
                        {% if staticPage.id == 11 %}{# gavai-nemokamo-pristatymo-koda #}
                            <p>{% for row in cities %}
                                    {% if not loop.first %}<br><br />{% endif %}<strong>{{ row.city }}: </strong>
                                    {% for place in places %}
                                        {% if place.city == row.city %}
                                            <a href="{{ path('food_slug', {'slug': slug_util.slugByItem(place.id, 'place')}) }}" title="{{ place.name }}"><span style="color:#696969">{{ place.name }}</span></a>{% if not loop.last %}, {% endif -%}
                                        {% endif -%}
                                    {% endfor -%}{% if loop.last %}.{% endif %}
                                {% endfor %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
