<div class="menu-title clearfix"><h2 class="fl clearfix" id="{{ slug_util.slugByItem(category.id, 'food_category') }}">{{ category.name }}</h2></div>
<div class="clearfix restaurant-menu{% if listType == 'list' %} display-list{% endif %}">
{% for dish in dishes %}
    {% set smallestPrice = dish_service.smallestDishPrice(dish.id) %}
    {% set largestPrice = dish_service.largestDishPrice(dish.id) %}
    <div class="restaurant-menu-item">
        {% if dish.getWebPathThumb('type1') is not empty %}
            {% if listType == 'thumbs' %}
                {% set largeImgClass = '' %}
                {% set smallImgClass = ' hidden' %}
            {% else %}
                {% set largeImgClass = ' hidden' %}
                {% set smallImgClass = '' %}
            {% endif %}
        <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">
            <img src="/{{ dish.getWebPathThumb('type1') }}" class="dish_larger{{ largeImgClass }}">
            <img src="/{{ dish.getWebPathThumb('type2') }}" class="dish_smaller{{ smallImgClass }}">
        </a>
        {% endif %}
        <h3 class="name">{{ loop.index }}. {{ dish.name }}</h3>
        <p class="desc">{{ dish.description }}</p>
        <div class="menu-item-bottom clearfix">
            {% if smallestPrice and largestPrice %}
            <span class="price">
                {% if smallestPrice == largestPrice %}
                    {{ smallestPrice|replace({'.': ','}) }} {{ currency_display }}
                {% else %}
                    {{ smallestPrice|replace({'.': ','}) }} {{ currency_display }} - {{ largestPrice|replace({'.': ','}) }} {{ currency_display }}
                {% endif %}
            </span>
            {% endif %}
            <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax add-to-cart fancy-box"></a>
        </div>
    </div>
{% endfor %}
</div>