<div class="menu-title clearfix"><h2 class="fl clearfix" id="{{ slug_util.slugByItem(category.id, 'food_category') }}">{{ category.name }}</h2></div>
<div class="clearfix restaurant-menu{% if listType == 'list' %} display-list{% endif %}">
{% for dish in dishes %}
    {% set smallestPrice = dish_service.smallestDishPrice(dish.id) %}
    {% set largestPrice = dish_service.largestDishPrice(dish.id) %}
    {% set showByHours = order_service.isOrderableByTime(dish) %}
    <div class="restaurant-menu-item {% if showByHours == false %}disabled_dish{% endif %}">
        {% if dish.getWebPathThumb('type1') is not empty %}
            {% if listType == 'thumbs' %}
                {% set largeImgClass = '' %}
                {% set smallImgClass = ' hidden' %}
            {% else %}
                {% set largeImgClass = ' hidden' %}
                {% set smallImgClass = '' %}
            {% endif %}
        <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">
            <img src="http://{{ cloudfront_url }}/{{ dish.getWebPathThumb('type1') }}" class="dish_larger{{ largeImgClass }}">
            <img src="http://{{ cloudfront_url }}/{{ dish.getWebPathThumb('type2') }}" class="dish_smaller{{ smallImgClass }}">
        </a>
        {% endif %}
        <h3 class="name">{{ loop.index }}. {{ dish.name }}</h3>
        <p class="desc">{{ dish.description|nl2br }}</p>
        <div class="menu-item-bottom clearfix">
            {% if smallestPrice and largestPrice %}
                {% set hasDiscount = false %}
                {% set multiLine = false %}
                {% if dish.discountPricesEnabled and dish.place.discountPricesEnabled %}
                    {% if dish_service.hasDiscountPrice(dish.id) %}
                        {% set hasDiscount = true %}
                    {% endif %}
                {% endif %}
                {% if smallestPrice == largestPrice %}
                    {# ehm. in case of need :D #}
                {% else %}
                    {% set multiLine = true %}
                {% endif %}
                <span class="price {% if hasDiscount %}discounted{% endif %} {% if hasDiscount and multiLine %}multiline{% endif %}">
                    {% if smallestPrice == largestPrice %}
                        {{ currency_display | raw}} {{ smallestPrice|replace({'.': ','}) }}
                        <span class="euro">
                            {{ misc_utils.getLitas(smallestPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                        </span>
                    {% else %}
                        {{ currency_display | raw}} {{ smallestPrice|replace({'.': ','}) }} - {{ largestPrice|replace({'.': ','}) }}
                        <span class="euro">
                            {{  misc_utils.getLitas(smallestPrice)|number_format(2, ',', ' ') }} - {{  misc_utils.getLitas(largestPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                        </span>
                    {% endif %}
                </span>
                {% if hasDiscount %}
                    {% set smallestDiscountPrice = dish_service.smallestDishDiscountPrice(dish.id) %}
                    {% set largestDiscountPrice = dish_service.largestDishDiscountPrice(dish.id) %}
                    <span class="price {% if hasDiscount %}discount{% endif %} {% if hasDiscount and multiLine %}multiline{% endif %}">
                    {% if smallestDiscountPrice == largestDiscountPrice %}
                        {{ currency_display | raw}} {{ smallestDiscountPrice|replace({'.': ','}) }}
                        <span class="euro">
                            {{ misc_utils.getLitas(smallestDiscountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                        </span>
                    {% else %}
                        {% set showNormalDiscount = true %}
                        {% if smallestPrice == smallestDiscountPrice and  largestPrice == largestDiscountPrice %}
                            {% set discountStr = dish_service.getDiscountString(dish.id) %}
                            {% if discountStr != '' %}
                                {% set showNormalDiscount = false %}
                            {% endif %}
                        {% endif %}
                        {% if showNormalDiscount %}
                            {{ currency_display | raw}} {{ smallestDiscountPrice|replace({'.': ','}) }} - {{ largestDiscountPrice|replace({'.': ','}) }}
                            <span class="euro">
                                {{  misc_utils.getLitas(smallestDiscountPrice)|number_format(2, ',', ' ') }} - {{  misc_utils.getLitas(largestDiscountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                            </span>
                        {% else %}
                            {{ discountStr }}
                        {% endif %}
                    {% endif %}
                    </span>
                {% endif %}
            {% endif %}
            {% if showByHours %}
                <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax add-to-cart fancy-box"></a>
            {% else %}
                <span class="add-to-cart got-title disabled" title="Šiuo metu negaminamas."></span>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>