{% if currency_alternative == false %}
    {% set priceClass = "single" %}
{% else %}
    {% set priceClass = "" %}
{% endif %}
{% if dishes %}
    <div class="menu-title clearfix category_name" data-category="{{ category.id }}"><h2 class="fl clearfix" id="{{ slug_util.slugByItem(category.id, 'food_category') }}">{{ category.name }}</h2></div>
    <div class="clearfix restaurant-menu{% if listType == 'list' %} display-list{% endif %}" data-category="{{ category.id }}">
    {% for dish in dishes %}
        {% if dish.showPublicPrice %}
            {% set smallestPrice = dish_service.smallestDishPublicPrice(dish.id) %}
            {% set largestPrice = dish_service.largestDishPublicPrice(dish.id) %}
        {% else %}
            {% set smallestPrice = dish_service.smallestDishPrice(dish.id) %}
            {% set largestPrice = dish_service.largestDishPrice(dish.id) %}
        {% endif %}
        {% set showByHours = order_service.isOrderableByTime(dish) %}
        <div itemscope itemtype="http://schema.org/Product" class="restaurant-menu-item {% if showByHours == false %}disabled_dish{% endif %}" id="dish{{ dish.id }}" data-category="{{ category.id }}">
            <meta itemprop="productID" content="{{ dish.id }}"/>
            {% if dish.getWebPathThumb('type1') is not empty %}
                {% if listType == 'thumbs' %}
                    {% set largeImgClass = '' %}
                    {% set smallImgClass = ' hidden' %}
                {% else %}
                    {% set largeImgClass = ' hidden' %}
                    {% set smallImgClass = '' %}
                {% endif %}
                {% if showByHours %}
                    <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box image">
                        <img itemprop="image" alt="{{ dish.name }}" src="//{{ cloudfront_url }}/{{ dish.getWebPathThumb('type1') }}" class="dish_larger{{ largeImgClass }}">
                        <img alt="{{ dish.name }}" src="//{{ cloudfront_url }}/{{ dish.getWebPathThumb('type2') }}" class="dish_smaller{{ smallImgClass }}">
                    </a>
                {% else %}
                    <span class="got-title disabled" title="{% trans %}dishes.no_production{% endtrans %}">
                        <img itemprop="image" alt="{{ dish.name }}" src="//{{ cloudfront_url }}/{{ dish.getWebPathThumb('type1') }}" class="dish_larger{{ largeImgClass }}">
                        <img alt="{{ dish.name }}" src="//{{ cloudfront_url }}/{{ dish.getWebPathThumb('type2') }}" class="dish_smaller{{ smallImgClass }}">
                    </span>
                {% endif %}
            {% endif %}
            <h3 class="name" itemprop="name">{% if dish.place.dishesNumeration %}{{ loop.index }}. {% endif %}{{ dish.name }}</h3>
            <p class="desc" itemprop="description">{{ dish.description|nl2br }}</p>
            <div class="menu-item-bottom clearfix" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <meta itemprop="priceCurrency" content="EUR" />
                {% if smallestPrice and largestPrice %}
                    {% set hasDiscount = false %}
                    {% set multiLine = false %}
                    {% if dish.discountPricesEnabled and dish.place.discountPricesEnabled %}
                        {% if dish_service.hasDiscountPrice(dish.id) %}
                            {% set hasDiscount = true %}
                        {% endif %}
                    {% endif %}
                    {% if smallestPrice == largestPrice %}
                        {# ehm. in case of need :D #}
                    {% else %}
                        {% set multiLine = true %}
                    {% endif %}
                    <span class="price {% if hasDiscount %}discounted{% endif %} {% if hasDiscount and multiLine %}multiline{% endif %} {{ priceClass }}">
                        {% if smallestPrice == largestPrice %}
                            <meta itemprop="price" content="{{ smallestPrice|replace({',': '.'}) }}" />
                            {{ currency_display | raw}} {{ smallestPrice|replace({'.': ','}) }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    {{ misc_utils.getLitas(smallestPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                                </span>
                            {% endif %}
                        {% else %}
                            <meta itemprop="price" content="{{ smallestPrice|replace({',': '.'}) }}" />
                            {{ currency_display | raw}} {{ smallestPrice|replace({'.': ','}) }} - {{ largestPrice|replace({'.': ','}) }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    {{  misc_utils.getLitas(smallestPrice)|number_format(2, ',', ' ') }} - {{  misc_utils.getLitas(largestPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                                </span>
                            {% endif %}
                        {% endif %}
                    </span>
                    {% if hasDiscount %}
                        {% set smallestDiscountPrice = dish_service.smallestDishDiscountPrice(dish.id) %}
                        {% set largestDiscountPrice = dish_service.largestDishDiscountPrice(dish.id) %}
                        {% set hasDiscountCount = dish_service.countDiscountSizes(dish.id) %}
                        <span class="price {% if hasDiscount %}discount{% endif %} {% if hasDiscount and multiLine %}multiline{% endif %} {{ priceClass }}">
                        {% if smallestDiscountPrice == largestDiscountPrice %}
                            {{ currency_display | raw}} {{ smallestDiscountPrice|replace({'.': ','}) }}
                            {% if currency_alternative %}
                                <span class="euro">
                                    {{ misc_utils.getLitas(smallestDiscountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                                </span>
                            {% endif %}
                        {% else %}
                            {% set showNormalDiscount = true %}
                            {% if smallestPrice == smallestDiscountPrice and  largestPrice == largestDiscountPrice %}
                                {% set discountStr = dish_service.getDiscountString(dish.id) %}
                                {% if discountStr != '' %}
                                    {% set showNormalDiscount = false %}
                                {% endif %}
                            {% elseif hasDiscountCount == 1 %}
                                {% set discountStr = dish_service.getDiscountString(dish.id) %}
                                {% if discountStr != '' %}
                                    {% set showNormalDiscount = false %}
                                {% endif %}
                            {% endif %}
                            {% if showNormalDiscount %}
                                {{ currency_display | raw}} {{ smallestDiscountPrice|replace({'.': ','}) }} - {{ largestDiscountPrice|replace({'.': ','}) }}
                                {% if currency_alternative %}
                                    <span class="euro">
                                        {{  misc_utils.getLitas(smallestDiscountPrice)|number_format(2, ',', ' ') }} - {{  misc_utils.getLitas(largestDiscountPrice)|number_format(2, ',', ' ') }} {{ display_currency_alternative }}
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ discountStr }}
                            {% endif %}
                        {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
                {% if showByHours %}
                    <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax add-to-cart fancy-box"></a>
                {% else %}
                    <span class="add-to-cart got-title disabled" title="{% trans %}dishes.no_production{% endtrans %}"></span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
