<div class="menu-title clearfix"><h2 class="fl clearfix" id="{{ slug_util.slugByItem(category.id, 'food_category') }}">{{ category.name }}</h2></div>
<div class="clearfix restaurant-menu{% if listType == 'list' %} display-list{% endif %}">
{% for dish in dishes %}
    {% set smallestPrice = dish_service.smallestDishPrice(dish.id) %}
    {% set largestPrice = dish_service.largestDishPrice(dish.id) %}
    {% set showByHours = order_service.isOrderableByTime(dish) %}
    <div class="restaurant-menu-item {% if showByHours == false %}disabled_dish{% endif %}">
        {% if dish.getWebPathThumb('type1') is not empty %}
            {% if listType == 'thumbs' %}
                {% set largeImgClass = '' %}
                {% set smallImgClass = ' hidden' %}
            {% else %}
                {% set largeImgClass = ' hidden' %}
                {% set smallImgClass = '' %}
            {% endif %}
        <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax fancy-box">
            <img alt="{{ dish.name }}" src="http://{{ cloudfront_url }}/{{ dish.getWebPathThumb('type1') }}" class="dish_larger{{ largeImgClass }}" style=" filter: blur(20px) grayscale(20%);">
            <img alt="{{ dish.name }}" src="http://{{ cloudfront_url }}/{{ dish.getWebPathThumb('type2') }}" class="dish_smaller{{ smallImgClass }}">
        </a>
        {% endif %}
        <h3 class="name">{{ loop.index }}. {{ dish.name }}</h3>
        <p class="desc">{{ dish.description|nl2br }}</p>
        <div class="menu-item-bottom clearfix">
            {% if smallestPrice and largestPrice %}
            <span class="price">
                {% if smallestPrice == largestPrice %}
                    {{ smallestPrice|replace({'.': ','}) }} {{ currency_display }}
                    <span class="euro">
                        &euro;{{ misc_utils.getEuro(smallestPrice)|number_format(2, ',', ' ') }}
                    </span>
                {% else %}
                    {{ smallestPrice|replace({'.': ','}) }} - {{ largestPrice|replace({'.': ','}) }} {{ currency_display }}
                    <span class="euro">
                        &euro;{{  misc_utils.getEuro(smallestPrice)|number_format(2, ',', ' ') }} - &euro;{{  misc_utils.getEuro(largestPrice)|number_format(2, ',', ' ') }}
                    </span>
                {% endif %}
            </span>
            {% endif %}
            {% if showByHours %}
                <a href="{{ path('food_ajax_dish', {'dish': dish.id }) }}" href2="#detailed-dish-popup" class="fancybox.ajax add-to-cart fancy-box"></a>
            {% else %}
                <span class="add-to-cart got-title disabled" title="Šiuo metu negaminamas."></span>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>