<div class="form-row {% if submitted and change_password_errors.current_password is not empty %}error{% endif %}">
    {% set placeholder = 'profile.current_password'|trans %}
    {{ form_label(form.change_password.current_password) }}
    {{ form_widget(form.change_password.current_password, {'attr': {'title': change_password_errors.current_password, 'placeholder': placeholder}}) }}
</div>
<div class="form-row {% if submitted and change_password_errors.plainPassword is not empty %}error{% endif %}">
    {% set placeholder = 'profile.new_password'|trans %}
    {{ form_label(form.change_password.plainPassword.first) }}
    {{ form_widget(form.change_password.plainPassword.first, {'attr': {'title': change_password_errors.plainPassword, 'placeholder': placeholder}}) }}
</div>
<div class="form-row {% if submitted and change_password_errors.plainPassword is not empty %}error{% endif %}">
    {% set placeholder = 'profile.repeat_new_password'|trans %}
    {{ form_label(form.change_password.plainPassword.second) }}
    {{ form_widget(form.change_password.plainPassword.second, {'attr': {'title': change_password_errors.plainPassword, 'placeholder': placeholder}}) }}
</div>
