<div class="form-row {% if submitted and profile_errors.firstname is not empty %}error{% endif %}">
    {% set placeholder = 'registration.firstname_placeholder'|trans %}
    {{ form_label(form.profile.firstname) }}
    {{ form_widget(form.profile.firstname, {'attr': {'title': profile_errors.firstname, 'placeholder': placeholder}}) }}
</div>
<div class="form-row {% if submitted and profile_errors.lastname is not empty %}error{% endif %}">
    {% set placeholder = 'registration.lastname_placeholder'|trans %}
    {{ form_label(form.profile.lastname) }}
    {{ form_widget(form.profile.lastname, {'attr': {'title': profile_errors.lastname, 'placeholder': placeholder}}) }}
</div>
<div class="form-row {% if submitted and profile_errors.email is not empty %}error{% endif %}">
    {% set placeholder = 'registration.email_placeholder'|trans %}
    {{ form_label(form.profile.email) }}
    {{ form_widget(form.profile.email, {'attr': {'title': profile_errors.email, 'placeholder': placeholder}}) }}
</div>
<div class="form-row {% if submitted and profile_errors.phone is not empty %}error{% endif %}">
    {% set placeholder = 'profile.phone_placeholder'|trans %}
    {{ form_label(form.profile.phone) }}
    {{ form_widget(form.profile.phone, {'attr': {'title': profile_errors.phone, 'placeholder': placeholder}}) }}
</div>
<hr/>
