<html>
<head><title></title></head>
    <body>
        <style>
            table tr {
                border: 1px solid #ACACAC;
            }
            table td {
                border: 1px solid #EFEFEF;
                padding: 0 10px 0 10px;
            }
            td.total {
                text-align: right;
                padding-right: 10px;
            }
            td.total div {
                width: 100px;
                display: inline-block;
            }
            td.sum {
                text-align: right;
            }
        </style>
        <h2>{% trans with {'%reportDate%': reportFor} %}reporting.daily.yesterday_orders.title{% endtrans %}:</h2>

        <h3>{% trans %}reporting.daily.yesterday_orders.our_delivery{% endtrans %}</h3>
        <table>
            <tr>
                <th>#</th>
                <th>{% trans %}reporting.daily.yesterday_orders.time{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.place{% endtrans %}</th>
                <th>{% trans %}reporting.driver{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.payment_type{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.coupon_code{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_size{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_sum{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.delivery_with_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.delivery_without_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.dishes_without_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.total_with_vat{% endtrans %}</th>
            </tr>
            {% set totalSum = 0 %}
            {% set totalSumBanklink = 0 %}
            {% set totalSumDriver = 0 %}
            {% for order in orders.our_deliver %}
                {% set sum_no_vat = ((order.total - order.place.deliveryPrice) / (( vat_size / 100 ) + 1))|round(2) %}
                {% set delivery_no_vat =  (order.place.deliveryPrice / (( vat_size / 100 ) + 1))|round(2) %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderDate|date("H:i") }}</td>
                    <td>{{ order.placeName }}</td>
                    <td>
                        {% if order.driverSafe is defined and order.driverSafe is not empty %}
                            {{ order.driverSafe.name }}{% if order.driverSafe.phone %}, {{ order.driverSafe.phone }}{% endif %}{% if order.driverSafe.provider %}, {{ order.driverSafe.provider }}{% endif %}
                        {% else %}
                            {% trans %}reporting.daily.yesterday_orders.no_driver{% endtrans %}
                        {% endif %}
                    </td>
                    <td>{{ ('general.email.accounting_report.' ~ order.paymentMethod)|trans() }}</td>
                    <td>{{ order.couponCode }}</td>
                    <td>{{ order.discountSize }}</td>
                    <td>{{ order.discountSum }}</td>
                    <td class="sum">{{ order.place.deliveryPrice }}</td>
                    <td class="sum">{{ delivery_no_vat }}</td>
                    <td class="sum">{{ sum_no_vat }}</td>
                    <td class="sum">{{ order.total - (sum_no_vat + delivery_no_vat) }}</td>
                    <td class="sum">{{ order.total }}</td>
                </tr>
                {% set totalSum = totalSum + order.total %}
                {% if order.paymentMethod == 'paysera' %}
                    {% set totalSumBanklink = totalSumBanklink + order.total %}
                {% else %}
                    {% set totalSumDriver = totalSumDriver + order.total %}
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="13" class="total">
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_banklink{% endtrans %}: </strong><div>{{ totalSumBanklink }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_pickup{% endtrans %}: </strong><div>{{ totalSumDriver }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_with_vat_no_brake{% endtrans %}: </strong><div>{{ totalSum }} {{ currency_display }}</div>
                </td>
            </tr>
        </table>

        <br />
        <h3>{% trans %}reporting.daily.yesterday_orders.restourant_delivery{% endtrans %}</h3>
        <table>
            <tr>
                <th>#</th>
                <th>{% trans %}reporting.daily.yesterday_orders.time{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.place{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.payment_type{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.coupon_code{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_size{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_sum{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.delivery_with_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.delivery_without_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.dishes_without_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.total_with_vat{% endtrans %}</th>
            </tr>
            {% set totalSum = 0 %}
            {% set totalSumBanklink = 0 %}
            {% set totalSumDriver = 0 %}
            {% for order in orders.self_delivered %}
                {% set sum_no_vat = ((order.total - order.place.deliveryPrice) / (( vat_size / 100 ) + 1))|round(2) %}
                {% set delivery_no_vat =  (order.place.deliveryPrice / (( vat_size / 100 ) + 1))|round(2) %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderDate|date("H:i") }}</td>
                    <td>{{ order.placeName }}</td>
                    <td>{{ ('general.email.accounting_report.' ~ order.paymentMethod)|trans() }}</td>
                    <td>{{ order.couponCode }}</td>
                    <td>{{ order.discountSize }}</td>
                    <td>{{ order.discountSum }}</td>
                    <td class="sum">{{ order.place.deliveryPrice }}</td>
                    <td class="sum">{{ delivery_no_vat }}</td>
                    <td class="sum">{{ sum_no_vat }}</td>
                    <td class="sum">{{ order.total - (sum_no_vat + delivery_no_vat) }}</td>
                    <td class="sum">{{ order.total }}</td>
                </tr>
                {% set totalSum = totalSum + order.total %}
                {% if order.paymentMethod == 'paysera' %}
                    {% set totalSumBanklink = totalSumBanklink + order.total %}
                {% else %}
                    {% set totalSumDriver = totalSumDriver + order.total %}
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="13" class="total">
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_banklink{% endtrans %}: </strong><div>{{ totalSumBanklink }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_pickup{% endtrans %}: </strong><div>{{ totalSumDriver }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_with_vat_no_brake{% endtrans %}: </strong><div>{{ totalSum }} {{ currency_display }}</div>
                </td>
            </tr>
        </table>
        <br />

        <h3>{% trans %}reporting.daily.yesterday_orders.pickup{% endtrans %}</h3>
        <table>
            <tr>
                <th>#</th>
                <th>{% trans %}reporting.daily.yesterday_orders.time{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.place{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.payment_type{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.coupon_code{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_size{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.discount_sum{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.dishes_without_vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.vat{% endtrans %}</th>
                <th>{% trans %}reporting.daily.yesterday_orders.total_with_vat{% endtrans %}</th>
            </tr>
            {% set totalSum = 0 %}
            {% set totalSumBanklink = 0 %}
            {% set totalSumDriver = 0 %}
            {% for order in orders.pickup %}
                {% set sum_no_vat = ((order.total) / (( vat_size / 100 ) + 1))|round(2) %}
                {% set delivery_no_vat =  0 %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderDate|date("H:i") }}</td>
                    <td>{{ order.placeName }}</td>
                    <td>{{ ('mobile.payment.' ~ order.paymentMethod)|trans() }}</td>
                    <td>{{ order.couponCode }}</td>
                    <td>{{ order.discountSize }}</td>
                    <td>{{ order.discountSum }}</td>
                    <td class="sum">{{ sum_no_vat }}</td>
                    <td class="sum">{{ order.total - (sum_no_vat) }}</td>
                    <td class="sum">{{ order.total }}</td>
                </tr>
                {% set totalSum = totalSum + order.total %}
                {% if order.paymentMethod == 'paysera' %}
                    {% set totalSumBanklink = totalSumBanklink + order.total %}
                {% else %}
                    {% set totalSumDriver = totalSumDriver + order.total %}
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="13" class="total">
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_banklink{% endtrans %}: </strong><div>{{ totalSumBanklink }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_pickup{% endtrans %}: </strong><div>{{ totalSumDriver }} {{ currency_display }}</div><br />
                    <strong>{% trans %}reporting.daily.yesterday_orders.total_with_vat_no_brake{% endtrans %}: </strong><div>{{ totalSum }} {{ currency_display }}</div>
                </td>
            </tr>
        </table>

        <br />
        <div>
            <strong>{% trans %}reporting.orders_total{% endtrans %}: {{ orders.total }}</strong>
        </div>
    </body>
</html>