<div class="restaurant-info-lefter"{% if showInfo == false %} style="display: none;"{% endif %}>
    <div class="row">
        <div class="col-xs-4">
            <ul class="menu">
                <li class="ico-kitchen">
                    <strong>{% trans %}places.kitchen{% endtrans %}:</strong>
                    {% for kitchen in place.kitchens %}
                    {% if loop.index != 1 %}, {% endif %}{{ kitchen.name }}
                    {% endfor %}
                </li>
                <li class="ico-pickup">
                    <strong>{% trans %}place.pickup_info{% endtrans %}:</strong>{{ place.pickupTime }}
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="menu">
                {% if place.deliveryOptions != 'pickup' %}
                <li class="ico-time">
                    {% if places_service.getZavalTime(place) %}
                    <strong>{% trans %}places.delivery_time{% endtrans %}:</strong>{{ places_service.getZavalTime(place) }} val.
                    {% else %}
                    <strong>{% trans %}places.delivery_time{% endtrans %}:</strong>{{ place.deliveryTime }}
                    {% if place.deliveryTimeInfo is not empty %}
                    <span class="delivery-time-info ui-icon ui-icon-info" title="{{ place.deliveryTimeInfo }}"></span>
                    {% endif %}
                    {% endif %}
                </li>
                <li class="ico-delivery"><strong>{% trans %}places.delivery_price{% endtrans %}:</strong>
                    {% set minPrc = places_service.minDeliveryPrice(place.id) %}
                    {% set maxPrc = places_service.maxDeliveryPrice(place.id) %}
                    {% if minPrc == maxPrc %}
                    {{ currency_display|raw }}{{ minPrc }}
                    {% else %}
                    {{ currency_display|raw }}{{ minPrc }}-{{ maxPrc }}
                    {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-4">
            <ul class="menu">
                {% if place.deliveryOptions != 'pickup' %}
                <li class="ico-cart"><strong>{% trans %}places.minimal_cart{% endtrans %}:</strong>
                    {% set minCart = places_service.minCartPrice(place.id) %}
                    {% set maxCart = places_service.maxCartPrice(place.id) %}
                    {% if minCart == maxCart %}
                    {{ currency_display|raw }}{{ minCart }}
                    {% else %}
                    {{ currency_display|raw }}{{ minCart }}-{{ maxCart }}
                    {% endif %}
                </li>
                {% endif %}
                {#<li class="ico-payments hidden"><strong>{% trans %}places.payment_types{% endtrans %}:</strong><span class="payments-data"></span></li>#}
                {% if place.deliveryOptions != 'pickup' %}
                <li class="ico-delivery"><strong>{% trans %}places.card_on_delivery{% endtrans %}:</strong>{% if place.cardOnDelivery == 1 %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>